.bc-who-we-are-area {
    .row {
        margin: {
            left: 0;
            right: 0;
        };
        .col-lg-6 {
            padding: {
                left: 0;
                right: 0;
            };
        }
    }
}
.bc-who-we-are-content {
    padding: 40px;
    background-color: #f3f4f7;
    
    .sub-title {
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
        color: var(--primaryColor);
    }
    h2 {
        margin-bottom: 15px;
        line-height: 1.4;
        font-size: 25px;
    }
    .default-btn-two {
        margin-top: 5px;
    }
}
.bc-who-we-are-image {
    text-align: center;
    position: relative;
    
    .video-btn {
        border: 0;
        top: 50%;
        left: 50%;
        width: 80px;
        height: 80px;
        font-size: 30px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        display: inline-block;
        color: var(--blackColor);
        background-color: var(--whiteColor);
        transform: translateY(-50%) translateX(-50%);

        i {
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        &::after, &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
            border: 1.5px solid var(--primaryColor);
        }
        &::before {
            animation: ripple 2s linear infinite
        }
        &::after {
            animation: ripple 2s linear 1s infinite
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .bc-who-we-are-content {
        padding: 20px 15px;
        
        h2 {
            margin-bottom: 10px;
            line-height: 1.4;
            font-size: 21px;
        }
        .default-btn-two {
            margin-top: 0;
        }
    }
    .bc-who-we-are-image {
        .video-btn {
            width: 60px;
            height: 60px;
            font-size: 25px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .bc-who-we-are-content {
        padding: 30px;
        
        h2 {
            margin-bottom: 10px;
            font-size: 23px;
        }
        .default-btn-two {
            margin-top: 3px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .bc-who-we-are-content {
        padding: 20px;
        
        h2 {
            margin-bottom: 10px;
            font-size: 22px;
        }
        .default-btn-two {
            margin-top: 0;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .bc-who-we-are-content {
        padding: 35px;
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}