@use '../../../../../assets/nb-theme/nb-vars' as *;
@use '../../../../../../../../node_modules/@nebular/theme/styles/globals' as *;

ngd-pager-block {
  display: flex;
  flex-direction: column;

  ::ng-deep nb-card {
    font-weight: 300;
    flex: 1;

    &.invisible {
      visibility: hidden;
    }

    a {
      padding: 2rem;
      text-decoration: none;
      color: var(--color-fg-text);
      height: 100%;
    }

    .page-title {
      display: flex;
      justify-content: space-between;
      color: var(--color-fg-heading);
      font-weight: 500;
      font-size: 1.2rem;

      nb-icon {
        color: var(--color-fg-highlight);
        margin-top: 0.3rem;
      }

      span {
        word-wrap: normal;
      }
    }

    .description {
      display: none;
    }

    &.left-block {
      text-align: right;
    }
  }

  @include media-breakpoint-up(sm) {
    //flex-direction: row;
    //flex-wrap: wrap;

    ::ng-deep nb-card {
      margin-left: 1rem;

      &:first-child {
        margin-left: 0;
      }

      a {
        padding: 2rem 3rem 2rem 2rem;
      }

      .page-title {
        font-size: 1.5rem;
        margin-bottom: 0.6rem;
      }

      .description {
        display: block;
      }
    }
  }
}

