<div class="d-flex align-items-lg-center justify-content-center h-100">
  <div class="width-500px">
    <div class="text-center mb-5">
      <img alt="logo-putz" src="../../../../../assets/images/logo/logo-putz.png">
    </div>
    <nb-card accent="info">
      <nb-card-body class="py-4 spinner-no-bg" [nbSpinner]="submitted" nbSpinnerStatus="info" nbSpinnerSize="giant"
                    nbSpinnerMessage="Carregando...">
        <nb-auth-block class="m-auto">
          <h1 id="title" class="title fw-bold poppins">Recuperar senha</h1>
          <p class="sub-title">Digite seu email no campo abaixo para enviarmos sua nova senha</p>

          <nb-alert status="success" closable *ngIf="success">Um email foi enviado para sua caixa de mensagem</nb-alert>
          <form (ngSubmit)="requestReset()" [formGroup]="requestPForm" aria-labelledby="title">
            <div class="row">
              <div class="col-12 mb-3">
                <label class="label" for="input-email">Nome de usuário</label>
                <input nbInput
                       fullWidth
                       formControlName="email"
                       name="email"
                       id="input-email"
                       placeholder="Digite seu email"
                       type="email"
                       autofocus
                       [status]="(requestPForm.get('email')!.dirty || requestPForm.get('email')!.touched) ? (requestPForm.get('email')!.invalid  ? 'danger' : 'success') : 'basic'"
                       [required]="true"
                       [attr.aria-invalid]="requestPForm.get('email')!.invalid && requestPForm.get('email')!.touched ? true : null">
                <ng-container *ngIf="requestPForm.get('email')!.invalid && requestPForm.get('email')!.touched">
                  <p class="text-danger" *ngIf="requestPForm.get('email')!.errors?.required">
                    Campo obrigatório
                  </p>
                  <p class="text-danger" *ngIf="requestPForm.get('email')!.errors?.email">
                    Email inválido
                  </p>
                </ng-container>
              </div>
              <div class="col-12 mt-3">
                <button nbButton
                        fullWidth
                        status="primary"
                        [class.btn-pulse]="submitted"
                        [nbSpinner]="submitted"
                        class="spinner-no-bg"
                        nbSpinnerStatus="basic"
                        nbSpinnerSize="large"
                        nbSpinnerMessage=""
                >
                  Recuperar
                </button>
              </div>
            </div>
          </form>
        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </div>
</div>
