<div id="services" class="pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Services</span>
            <h2>Consulting Services</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-services-item">
                    <img src="../../../../../assets/images/business-consulting/services-img1.jpg" alt="image">
                    <h3>Sales & Marketing</h3>
                    <div class="hover-content">
                        <h3>
                            <a routerLink="/services-details">
                                Sales & Marketing
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, cons e ctetur adipiscing elit, sed do eiu smod.</p>
                        <a class="link-btn" routerLink="/services-details">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-services-item">
                    <img src="../../../../../assets/images/business-consulting/services-img2.jpg" alt="image">
                    <h3>Cost Transformation</h3>
                    <div class="hover-content">
                        <h3>
                            <a routerLink="/services-details">
                                Cost Transformation
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, cons e ctetur adipiscing elit, sed do eiu smod.</p>
                        <a class="link-btn" routerLink="/services-details">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-services-item">
                    <img src="../../../../../assets/images/business-consulting/services-img3.jpg" alt="image">
                    <h3>Sustainability</h3>
                    <div class="hover-content">
                        <h3>
                            <a routerLink="/services-details">
                                Sustainability
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, cons e ctetur adipiscing elit, sed do eiu smod.</p>
                        <a class="link-btn" routerLink="/services-details">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-services-item">
                    <img src="../../../../../assets/images/business-consulting/services-img4.jpg" alt="image">
                    <h3>Strategy</h3>
                    <div class="hover-content">
                        <h3>
                            <a routerLink="/services-details">
                                Strategy
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, cons e ctetur adipiscing elit, sed do eiu smod.</p>
                        <a class="link-btn" routerLink="/services-details">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-services-item">
                    <img src="../../../../../assets/images/business-consulting/services-img5.jpg" alt="image">
                    <h3>Customer Experience</h3>
                    <div class="hover-content">
                        <h3>
                            <a routerLink="/services-details">
                                Customer Experience
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, cons e ctetur adipiscing elit, sed do eiu smod.</p>
                        <a class="link-btn" routerLink="/services-details">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-services-item">
                    <img src="../../../../../assets/images/business-consulting/services-img6.jpg" alt="image">
                    <h3>Profit Planning</h3>
                    <div class="hover-content">
                        <h3>
                            <a routerLink="/services-details">
                                Profit Planning
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, cons e ctetur adipiscing elit, sed do eiu smod.</p>
                        <a class="link-btn" routerLink="/services-details">Read More <i class="fas fa-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
