<app-pp-banner></app-pp-banner>

<app-pp-services></app-pp-services>

<app-pp-projects></app-pp-projects>

<div class="separate-border"></div>

<app-pp-skills></app-pp-skills>

<div class="separate-border"></div>

<app-pp-experience></app-pp-experience>

<app-pp-testimonials></app-pp-testimonials>

<div class="separate-border"></div>

<app-pp-clients></app-pp-clients>

<div class="separate-border"></div>

<app-pp-blog></app-pp-blog>

<div class="separate-border"></div>

<app-pp-contact></app-pp-contact>