<div id="about" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-image">
                    <img src="../../../../../assets/images/about/about-img2.jpg" alt="about-image">
                    <button class="video-btn" (click)="ngxSmartModalService.getModal('popupOne').open()">
                        <i class="fa-solid fa-play"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>Sobre A Putz</h2>
                    <p>A Putz não é uma produtora, nós gostariamos de apresentar nossa proposta de ecossitema,
                    um ambiente frutífero para negócios e qualidade quando se trata de audiovisual.</p>
                    <ul class="features-list">
                        <li>
                            <h3>Quem Somos</h3>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        </li>
                        <li>
                            <h3>Nossa História</h3>
                            <p>Eramos uma produtora com mais de 10 anos de mercado e nos transformamos em uma Startup.</p>
                        </li>
                        <li>
                            <h3>Nossa Missão</h3>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Conectar agências com vídeos de qualidade.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Prover tecnologia como solução audiovisual para todo o território.
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Dar a freelancer, amor pelo seu trabalho e satisfação no seu dia a dia.
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup">
    <ngx-smart-modal #popupOne [identifier]="'popupOne'">
        <iframe src="https://www.youtube.com/embed/xrfhWNazQ2A" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ngx-smart-modal>
</div>
