
<form [formGroup]="uploadForm" (ngSubmit)="onSubmitPrecadastro()" *ngIf="!fileView">
  <div class="row mt-3">
    <div class="mb-3 col-12 col-md-6">
      <label class="label">Titulo</label>
      <nb-form-field>
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Título"
          formControlName="titulo"
          fieldSize="large"
          [status]="
                    uploadForm.get('titulo')!.dirty ||
                    uploadForm.get('titulo')!.touched
                      ? uploadForm.get('titulo')!.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
        >
      </nb-form-field>
      <ng-container
        *ngIf="
                  uploadForm.get('titulo')!.invalid &&
                  uploadForm.get('titulo')!.touched
                "
      >
        <p
          class="text-danger"
          *ngIf="uploadForm.get('titulo')!.errors?.required"
        >
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-6">
      <label class="label">SubTitulo</label>
      <nb-form-field>
        <input
          type="text"
          nbInput
          fullWidth
          placeholder="Digite um subtitulo"
          formControlName="subtitulo"
          fieldSize="large"
          [status]="
                    uploadForm.get('subtitulo')!.dirty ||
                    uploadForm.get('subtitulo')!.touched
                      ? uploadForm.get('subtitulo')!.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
        >
      </nb-form-field>
      <ng-container
        *ngIf="
                  uploadForm.get('subtitulo')!.invalid &&
                  uploadForm.get('subtitulo')!.touched
                "
      >
        <p
          class="text-danger"
          *ngIf="uploadForm.get('subtitulo')!.errors?.required"
        >
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-4">
      <label class="label">Audio</label>
      <nb-form-field>
        <nb-select
          fullWidth
          placeholder="Selecione um audio"
          formControlName="audio"
          size="large"
          [status]="
                    uploadForm.get('audio')!.dirty ||
                    uploadForm.get('audio')!.touched
                      ? uploadForm.get('audio')!.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
        >
          <nb-option
            [value]="'audio1.mp3'"
          >Audio 1</nb-option
          >
          <nb-option
            [value]="'audio2.mp3'"
          >Audio 2</nb-option
          >
        </nb-select>
      </nb-form-field>
      <ng-container
        *ngIf="
                  uploadForm.get('audio')!.invalid &&
                  uploadForm.get('audio')!.touched
                "
      >
        <p
          class="text-danger"
          *ngIf="uploadForm.get('audio')!.errors?.required"
        >
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-4">
      <label class="label">Background</label>
      <nb-form-field>
        <nb-select
          fullWidth
          placeholder="Selecione uma garantia"
          formControlName="background"
          size="large"
          [status]="
                    uploadForm.get('background')!.dirty ||
                    uploadForm.get('background')!.touched
                      ? uploadForm.get('background')!.invalid
                        ? 'danger'
                        : 'success'
                      : 'basic'
                  "
        >
          <nb-option
            [value]="'img1.jpg'"
          >Imagem1</nb-option
          >
          <nb-option
            [value]="'img2.jpg'"
          >Imagem2</nb-option
          >
          <nb-option
            [value]="'creditas.png'"
          >Logo Creditas</nb-option
          >
          <nb-option
            [value]="'logo-putz.png'"
          >LogoPutz</nb-option
          >
        </nb-select>
      </nb-form-field>
      <ng-container
        *ngIf="
                  uploadForm.get('background')!.invalid && uploadForm.get('background')!.touched
                "
      >
        <p
          class="text-danger"
          *ngIf="uploadForm.get('background')!.errors?.required"
        >
          Campo obrigatório
        </p>
      </ng-container>
    </div>
  </div>

</form>
<div class="row" *ngIf="fileView">
  <div class="mb-3 col-12" *ngIf="fileView">
    <label class="label">Upload por CSV</label>
    <ng-container>
      <ngx-dropzone (change)="onSelect($event)" class="dropzone-background" [multiple]="false"
                    (keyup)="file.markAsTouched()"
                    (blur)="file.markAsTouched()">
        <ngx-dropzone-label>Coloque seu arquivo aqui</ngx-dropzone-label>
        <ngx-dropzone-preview [file]="file.value" *ngIf="file.value"
                              [removable]="true" (removed)="onRemove()">
          <ngx-dropzone-label>{{ file.value.name }} ({{ file.value.type }}
            )
          </ngx-dropzone-label>
        </ngx-dropzone-preview>
        <!--              <ngx-dropzone-image-preview [file]="editForm.get('file')!.value"-->
        <!--                                          *ngIf="file" [removable]="true" (removed)="onRemove()">-->
        <!--            <ngx-dropzone-label>Imagem de perfil ({{ photo?.type }})</ngx-dropzone-label>-->
        <!--              </ngx-dropzone-image-preview>-->
      </ngx-dropzone>
      <ng-container
        *ngIf="file.invalid && file.touched">
        <p class="text-danger" *ngIf="file.errors?.required">
          Campo obrigatório
        </p>
        <p class="text-danger" *ngIf="file.errors?.requiredValidation">
          Insira um arquivo ou um link
        </p>
      </ng-container>
    </ng-container>
  </div>
</div>
