<div id="services" class="pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Services</span>
            <h2>Powerful Services Offered in SaaS Application Development</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="saas-services-box color-white">
                    <i class="icon fa-solid fa-gear"></i>
                    <h3><a routerLink="/services-details">Product Engineering</a></h3>
                    <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="saas-services-box color-white">
                    <i class="icon fa-solid fa-building-lock"></i>
                    <h3><a routerLink="/services-details">Security Design</a></h3>
                    <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="saas-services-box color-white">
                    <i class="icon fa-solid fa-certificate"></i>
                    <h3><a routerLink="/services-details">License Management</a></h3>
                    <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="saas-services-box color-white">
                    <i class="icon fa-solid fa-file-pen"></i>
                    <h3><a routerLink="/services-details">Release Planning</a></h3>
                    <p>Lorem ipsum dolor sit amet, tetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>