<div id="services" class="services-area bg-fcfbfb pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Services We Provided</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-13c4a1">
                        <i class="fa-solid fa-message"></i>
                    </div>
                    <h3><a routerLink="/services-details">SEO Optimization</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-6610f2">
                        <i class="fa-solid fa-laptop-code"></i>
                    </div>
                    <h3><a routerLink="/services-details">Digital Marketing</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-ffb700">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <h3><a routerLink="/services-details">Market Research</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-fc3549">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <h3><a routerLink="/services-details">Keyword Targeting</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-00d280">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                    <h3><a routerLink="/services-details">Email Marketing</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-ff612f">
                        <i class="fa-solid fa-marker"></i>
                    </div>
                    <h3><a routerLink="/services-details">Marketing & Reporting</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
        </div>
    </div>
</div>