<div class="clearfix layout-content">
  <nb-card [nbSpinner]="submitting" nbSpinnerStatus="primary" nbSpinnerMessage="Carregando...">
    <nb-card-header class="border-0">
      <div class="d-flex justify-content-between align-items-center">
        <h6 class="header-title poppins">
          <ng-container *ngIf="new">
            Nova Tag
          </ng-container>
          <ng-container *ngIf="!new">
            Tag {{form.get('name')?.value | empty}}
          </ng-container>
        </h6>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form (ngSubmit)="save()" [formGroup]="form">
        <div class="row">
          <div class="col-md-2 mb-3">
            <nb-form-field>
              <label class="label">ID</label>
              <input formControlName="id" placeholder="ID..." nbInput fullWidth readonly fieldSize="large">
            </nb-form-field>
          </div>
          <div class="col-md-4 mb-3">
            <nb-form-field>
              <label class="label">Nome</label>
              <input formControlName="name" nbInput fullWidth placeholder="Digite um nome..." fieldSize="large">
            </nb-form-field>
            <ng-container
              *ngIf="form.get('name')!.invalid && form.get('name')!.touched">
              <small class="text-danger" *ngIf="form.get('name')!.errors?.required">
                Campo obrigatório
              </small>
            </ng-container>
          </div>
          <div class="col-md-3 mb-3">
            <nb-form-field>
              <label class="label">Nível</label>
              <nb-select formControlName="level" fullWidth placeholder="Escolha um nível..." size="large">
                <nb-option *ngFor="let level of levelArray"
                           [value]="level">{{('product.level.' + level) | translate}}</nb-option>
              </nb-select>
            </nb-form-field>
            <ng-container
              *ngIf="form.get('name')!.invalid && form.get('name')!.touched">
              <small class="text-danger" *ngIf="form.get('name')!.errors?.required">
                Campo obrigatório
              </small>
            </ng-container>
          </div>
          <div class="col-md-3 mb-3">
            <nb-form-field>
              <label class="label">Preço</label>
              <input formControlName="price" nbInput fullWidth placeholder="Digite um preço..." fieldSize="large"
                     currencyMask [options]="{ align :'left',prefix: 'R$ ', thousands: '.', decimal: ',' }">
            </nb-form-field>
            <ng-container
              *ngIf="form.get('name')!.invalid && form.get('name')!.touched">
              <small class="text-danger" *ngIf="form.get('name')!.errors?.required">
                Campo obrigatório
              </small>
            </ng-container>
          </div>
          <div class="col-md-3 mb-3">
            <nb-form-field>
              <label class="label">Criado por</label>
              <input formControlName="createdBy" placeholder="Criado por..." nbInput fullWidth fieldSize="large">
            </nb-form-field>
          </div>
          <div class="col-md-3 mb-3">
            <nb-form-field>
              <label class="label">Ultima modificação</label>
              <input formControlName="lastModifiedBy" placeholder="Ultima modificação feita por..." nbInput fullWidth
                     fieldSize="large">
            </nb-form-field>
          </div>
          <div class="col-md-3 mb-3">
            <nb-form-field>
              <label class="label">Data de criação</label>
              <input formControlName="createdDate" placeholder="Data de criação..." nbInput fullWidth fieldSize="large"
                     [nbDatepicker]="createDatePicker">
              <nb-datepicker #createDatePicker></nb-datepicker>
            </nb-form-field>
          </div>
          <div class="col-md-3 mb-3">
            <nb-form-field>
              <label class="label">Data de modificação</label>
              <input formControlName="lastModifiedDate" placeholder="Data de modificação..." nbInput fullWidth
                     fieldSize="large" [nbDatepicker]="lastModifiedDatePicker">
              <nb-datepicker #lastModifiedDatePicker></nb-datepicker>
            </nb-form-field>
          </div>
          <div class="col-md-4 mb-3">
            <nb-form-field>
              <label class="label">Tipo de produto</label>
              <input formControlName="productType" nbInput fullWidth placeholder="Tipo de produto..." fieldSize="large"
                     [nbAutocomplete]="productTypeAutoControl">
              <nb-autocomplete #productTypeAutoControl [handleDisplayFn]="viewProductTypeHandle">

                <nb-option *ngFor="let option of productTypes" [value]="option">
                  {{ option?.name }}
                </nb-option>

              </nb-autocomplete>
            </nb-form-field>
            <ng-container
              *ngIf="(form.get('productType')!.invalid || !form.get('productType').value?.id) && form.get('productType')!.touched">
              <small class="text-danger" *ngIf="!form.get('productType').value?.id">
                Tipo de produto não selecionado
              </small>
            </ng-container>
          </div>
          <div class="col-md-3 mb-3 align-self-center">
            <nb-checkbox formControlName="isActive">Ativo</nb-checkbox>
          </div>
          <div class="col-md-12 mb-3">
            <nb-form-field>
              <label class="label">Descrição</label>
              <textarea formControlName="description" placeholder="Digite uma descrição..." nbInput fullWidth
                        fieldSize="large" rows="3"></textarea>
            </nb-form-field>
          </div>
          <div class="col-md-12 text-end">
            <button nbButton status="danger" class="m-1" type="button" *ngIf="!new && form.get('id')?.value"
                    (click)="delete()">Desativar
            </button>
            <button nbButton status="primary" class="m-1">Salvar</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>
