<div id="feedback" class="pt-100 pb-70">
    <div class="container">
        <div class="section-title style-two">
            <h2>Testimonials</h2>
        </div>
        <div class="pp-testimonials-slides">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="pp-testimonials-box bg-ca83ff">
                        <i class="icon fa-solid fa-quote-left"></i>
                        <p>“Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra accumsan lacus vel facilisis.”</p>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="info">
                            <h3>Mary K. Austin</h3>
                            <span>Law Consultant</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pp-testimonials-box bg-ff9f07">
                        <i class="icon fa-solid fa-quote-left"></i>
                        <p>“Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra accumsan lacus vel facilisis.”</p>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="info">
                            <h3>Christopher Lindsey</h3>
                            <span>Finance Consultant</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pp-testimonials-box bg-ca83ff">
                        <i class="icon fa-solid fa-quote-left"></i>
                        <p>“Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra accumsan lacus vel facilisis.”</p>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="info">
                            <h3>Johnson</h3>
                            <span>React Developer</span>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="pp-testimonials-box">
                        <i class="icon fa-solid fa-quote-left"></i>
                        <p>“Lorem ipsum dolor sit amet, consectetur apiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra accumsan lacus vel facilisis.”</p>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="info">
                            <h3>Richard Turner</h3>
                            <span>Director</span>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>