<div id="contact" class="contact-area bg-fcfbfb ptb-100">
  <div class="container">
    <div class="section-title">
      <h2>Venha conversar conosco</h2>
      <p>Preencha o formulário e entre me contato com nosso time.
        Para parcerias ou dúvidas sobre nosso processo. Se preferir temos abaixo no whatsapp comercial</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i class="fa-regular fa-envelope"></i>
          </div>
          <h3>Nossos E-mails</h3>
          <p><a href="mailto:contato@putzfilmes.com">contato@putzfilmes.com</a></p>
          <p><a href="mailto:producao@putzfilmes.com">producao@putzfilmes.com</a></p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i class="fa-regular fa-map"></i>
          </div>
          <h3>Nos Visite!!!</h3>
          <p>Rua Jade, 60, Ipatinga <br> MG, BRASIL</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="contact-info-box">
          <div class="icon">
            <i class="fa-solid fa-headset"></i>
          </div>
          <h3>Fale Conosco</h3>
          <p><a href="https://wa.me/553131810704">+55-31-3181-0704</a></p>
          <p><a href="https://wa.me/553131810704">+55-31-3181-0704</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
