<div class="logo">
  <a href="https://www.putzfilmes.com" target="_blank"><img src="https://putzfilmes.com/img/logo-putz-azul.png"></a>
</div>
<div>
  <ul>
    <li><strong class="title">Mais sobre a Putz Filmes</strong></li>
    <li><a href="https://www.putzfilmes.com" target="_blank">Homepage</a></li>
    <li><a href="">Eva Icons</a></li>
  </ul>
</div>
<div>
  <ul>
    <li><strong class="title">Pode nos Seguir :)</strong></li>
    <li class="social">
      <a href="https://www.linkedin.com/company/putz-filmes/" target="_blank">
        <nb-icon icon="linkedin-outline"></nb-icon>
      </a>
      <a href="https://youtube.com/putzfilmes" target="_blank">
        <nb-icon icon="video"></nb-icon>
      </a>
      <a href="https://www.facebook.com/putzfilmes" target="_blank">
        <nb-icon icon="facebook"></nb-icon>
      </a>
    </li>
    <li class="copy">
      &copy; 2012-2022 <a href="https://www.putzfilmes.com" target="_blank">Putz Filmes</a><br>
      Documentation licensed under CC BY 4.0.
    </li>
  </ul>
</div>
<div class="contact">
  <ul>
    <li><strong class="title">Entre em Contato</strong></li>
    <li><a href="mailto:contato@putzfilmes.com">contato@putzfilmes.com</a></li>
  </ul>
</div>
