<div class="funfacts-area ptb-100 bg-fcfbfb">
    <div class="container">
        <div class="section-title">
            <h2>Juntos Somos cada vez maiores</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <div class="icon">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </div>
                    <h3>380+</h3>
                    <p>Projetos</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <div class="icon">
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <h3>150+</h3>
                    <p>Clientes</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <div class="icon">
                        <i class="fa-solid fa-person-running"></i>
                    </div>
                    <h3>780+</h3>
                    <p>Freelancers</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="funfact">
                    <div class="icon">
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    <h3>4+</h3>
                    <p>Agências</p>
                </div>
            </div>
        </div>
        <div class="contact-cta-box">
            <h3>Tem alguma dúvida?</h3>
            <p>Fale Conosco</p>
            <button (click)="onClick('contact')" class="default-btn">
                Fale Conosco
            </button>
        </div>
        <div class="map-bg">
            <img src="assets/images/map.png" alt="map">
        </div>
    </div>
</div>
