<div id="portfolio" class="projects-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">{{category}}</span>
            <h2>{{title}}</h2>
        </div>
        <div class="row justify-content-center">
          <div *ngFor="let item of slides; index as i" class="col-sm-6 col-md-6" [ngClass]="item.type">
            <div class="single-latest-projects">
              <div class="image">
                <img src="{{item.img}}" alt="projects-image">
              </div>
              <div class="content">
                <span>{{item.category}}</span>
                <h3>{{item.name}}</h3>
              </div>
              <a routerLink="{{item.link}}" class="link-btn"></a>
            </div>
          </div>
        </div>
    </div>
</div>
