.single-latest-projects {
    margin-bottom: 30px;
    position: relative;

    .image {
        overflow: hidden;

        img {
            transition: var(--transition);
        }
    }
    .content {
        top: 60%;
        left: -5%;
        z-index: 1;
        opacity: 0;
        padding: 25px;
        margin-top: 20px;
        position: absolute;
        visibility: hidden;
        border-radius: 5px;
        transform: translateY(-60%);
        transition: var(--transition);
        background-color: var(--whiteColor);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

        span {
            display: block;
            margin-bottom: 8px;
            color: var(--optionalColor);
        }
        h3 {
            margin-bottom: 0;
            font-size: 25px;
        }
    }
    .link-btn {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        z-index: 2;
        left: 0;
        top: 0;
    }
    &:hover {
        .content {
            opacity: 1;
            margin-top: 0;
            visibility: visible;
        }
        .image {
            img {
                transform: scale(1.3);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .single-latest-projects {
        text-align: center;

        .content {
            top: 0;
            left: 0;
            opacity: 1;
            padding: 15px;
            margin-top: 0;
            position: relative;
            visibility: visible;
            transform: translateY(0);
    
            h3 {
                font-size: 21px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-latest-projects {
        text-align: center;
        
        .content {
            top: 0;
            left: 0;
            opacity: 1;
            padding: 20px;
            margin-top: 0;
            position: relative;
            visibility: visible;
            transform: translateY(0);
    
            h3 {
                font-size: 23px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}