.funfact-card {
    background-color: var(--whiteColor);
    margin-bottom: 30px;
    padding: 30px;
    
    .icon {
        margin-bottom: 12px;

        i {
            line-height: 1;
            font-size: 55px;
            color: var(--primaryColor);
        }
    }
    h3 {
        top: 5px;
        line-height: 1;
        font-size: 50px;
        position: relative;
        margin: {
            bottom: 0;
            left: 13px;
        };
        span {
            position: absolute;
            margin-left: 3px;
            font-size: 35px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .funfact-card {
        padding: 20px 15px;
        
        .icon {
            margin-bottom: 10px;
    
            i {
                font-size: 35px;
            }
        }
        h3 {
            top: 4px;
            font-size: 30px;
            margin-left: 10px;

            span {
                margin-left: 2px;
                font-size: 25px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .funfact-card {
        padding: 20px;
        
        .icon {
            margin-bottom: 10px;
    
            i {
                font-size: 40px;
            }
        }
        h3 {
            top: 5px;
            font-size: 40px;
            
            span {
                font-size: 30px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .funfact-card {
        padding: 25px;
    
        .icon {
            margin-bottom: 12px;
    
            i {
                font-size: 40px;
            }
        }
        h3 {
            top: 5px;
            font-size: 40px;
            
            span {
                font-size: 30px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}