<div id="skills" class="pp-skills-area pt-100 pb-70">
    <div class="container">
        <div class="section-title style-two">
            <h2>My Skills</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box">
                    <img src="../../../../../assets/images/personal-portfolio/skills-img1.png" alt="image">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-eaf6ff">
                    <img src="../../../../../assets/images/personal-portfolio/skills-img2.png" alt="image">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-fff5e6">
                    <img src="../../../../../assets/images/personal-portfolio/skills-img3.png" alt="image">
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                <div class="pp-skills-box bg-f0efff">
                    <img src="../../../../../assets/images/personal-portfolio/skills-img4.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
