@use '../../../../../../src/app/shared/themes/themes' as *;
@use '../../../../../../src/app/shared/themes/dropzone' as *;


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid nb-theme(border-basic-color-4);
  text-align: left;
  padding: 8px;
}

.row-md.jh-entity-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  line-height: 1.5;
  text-align: center;

  dd {
    border-bottom: 1px solid nb-theme(input-basic-border-color);
    padding: 0.5em 0;
    margin-left: 0;
  }
}

@media screen and (min-width: 435px) and(max-width: 767px) {
  .row-md.jh-entity-details {
    //grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {

  .row-md.jh-entity-details > {
    dt {
      //float: left;
      overflow: hidden;
      //clear: left;
      text-align: right;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 0.5em 0;
    }

  }
}

