<div id="services" class="featured-services-area pt-70 pb-70">
    <div class="container">
        <div class="featured-services-slides">
            <owl-carousel-o [options]="featuredServicesSlides">
                <ng-template carouselSlide>
                    <div class="featured-services-box">
                        <div class="icon">
                            <i class="fa-solid fa-martini-glass-empty"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">
                                Information Architect
                            </a>
                        </h3>
                        <p>Quis ipsum suspen disse ultr ices grav ida. Risus comm odo vive rra mae cenas accu msan lacus vel facilisis ipsum.</p>
                        <a class="read-more-btn" routerLink="/services-details">Read More</a>
                        <div class="back-text">Ia</div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="featured-services-box">
                        <div class="icon">
                            <i class="fa-solid fa-chart-pie"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">
                                Business Analyst
                            </a>
                        </h3>
                        <p>Quis ipsum suspen disse ultr ices grav ida. Risus comm odo vive rra mae cenas accu msan lacus vel facilisis ipsum.</p>
                        <a class="read-more-btn" routerLink="/services-details">Read More</a>
                        <div class="back-text">Id</div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="featured-services-box">
                        <div class="icon">
                            <i class="fa-solid fa-cubes"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">
                                Interaction Designer
                            </a>
                        </h3>
                        <p>Quis ipsum suspen disse ultr ices grav ida. Risus comm odo vive rra mae cenas accu msan lacus vel facilisis ipsum.</p>
                        <a class="read-more-btn" routerLink="/services-details">Read More</a>
                        <div class="back-text">Ia</div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="featured-services-box">
                        <div class="icon">
                            <i class="fa-regular fa-gem"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">
                                Visual Designer
                            </a>
                        </h3>
                        <p>Quis ipsum suspen disse ultr ices grav ida. Risus comm odo vive rra mae cenas accu msan lacus vel facilisis ipsum.</p>
                        <a class="read-more-btn" routerLink="/services-details">Read More</a>
                        <div class="back-text">Vd</div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="featured-services-box">
                        <div class="icon">
                            <i class="fa-solid fa-bullseye"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">
                                Content Strategist
                            </a>
                        </h3>
                        <p>Quis ipsum suspen disse ultr ices grav ida. Risus comm odo vive rra mae cenas accu msan lacus vel facilisis ipsum.</p>
                        <a class="read-more-btn" routerLink="/services-details">Read More</a>
                        <div class="back-text">Ca</div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="featured-services-box">
                        <div class="icon">
                            <i class="fa-solid fa-magnet"></i>
                        </div>
                        <h3>
                            <a routerLink="/services-details">
                                UX Strategist
                            </a>
                        </h3>
                        <p>Quis ipsum suspen disse ultr ices grav ida. Risus comm odo vive rra mae cenas accu msan lacus vel facilisis ipsum.</p>
                        <a class="read-more-btn" routerLink="/services-details">Read More</a>
                        <div class="back-text">Us</div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>