<div id="blog" class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Blog</span>
            <h2>Latest News from Putz</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="../../../../../assets/images/blog/blog5.jpg" alt="image">
                        </a>
                        <span class="post-tag">Agency</span>
                    </div>
                    <div class="content">
                        <span class="date">June 16, 2022</span>
                        <h3>
                            <a routerLink="/blog-details">
                                How to Measure the Impact of Content Based on Intent
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur ipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                        <a class="read-more-btn" routerLink="/blog-details">
                            Read More <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="../../../../../assets/images/blog/blog6.jpg" alt="image">
                        </a>
                        <span class="post-tag">Development</span>
                    </div>
                    <div class="content">
                        <span class="date">June 15, 2022</span>
                        <h3>
                            <a routerLink="/blog-details">
                                The Top Tech SEO Strategies for 2022 and Beyond
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur ipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                        <a class="read-more-btn" routerLink="/blog-details">
                            Read More <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-item">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="../../../../../assets/images/blog/blog7.jpg" alt="image">
                        </a>
                        <span class="post-tag">Design</span>
                    </div>
                    <div class="content">
                        <span class="date">June 14, 2022</span>
                        <h3>
                            <a routerLink="/blog-details">
                                Daily SEO Fix: SEO Reporting — More Specific Use Cases
                            </a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur ipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                        <a class="read-more-btn" routerLink="/blog-details">
                            Read More <i class="fa-solid fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
