.single-instagram-item {
    text-align: center;
    position: relative;
    overflow: hidden;

    img {
        transition: var(--transition);
    }
    &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        content: '';
        visibility: hidden;
        position: absolute;
        background: #000000;
        transition: var(--transition);
    }
    i {
        top: 50%;
        right: 0;
        left: 50%;
        z-index: 2;
        opacity: 0;
        font-size: 30px;
        visibility: hidden;
        position: absolute;
        color: var(--whiteColor);
        transition: var(--transition);
        transform: translate(-50%, -50%);
    }
    .link-btn {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        display: block;
        position: absolute;
    }
    &:hover {
        img {
            transform: scale(1.08);
        }
        &::before {
            opacity: .45;
            visibility: visible;
        }
        i {
            opacity: 1;
            visibility: visible;
        }
    }
}