<div class="instagram-area pt-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Follow on Instagram</span>
            <h2><a href="#" target="_blank">#putzfilmes</a></h2>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="instagram-slides">
            <owl-carousel-o [options]="instagramSlides">
                <ng-template carouselSlide>
                    <div class="single-instagram-item">
                        <img src="assets/images/instagram/instagram1.jpg" alt="instagram-image">
                        <a href="#" target="_blank" class="link-btn"></a>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-item">
                        <img src="assets/images/instagram/instagram2.jpg" alt="instagram-image">
                        <a href="#" target="_blank" class="link-btn"></a>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-item">
                        <img src="assets/images/instagram/instagram3.jpg" alt="instagram-image">
                        <a href="#" target="_blank" class="link-btn"></a>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-item">
                        <img src="assets/images/instagram/instagram4.jpg" alt="instagram-image">
                        <a href="#" target="_blank" class="link-btn"></a>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-item">
                        <img src="assets/images/instagram/instagram5.jpg" alt="instagram-image">
                        <a href="#" target="_blank" class="link-btn"></a>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-item">
                        <img src="assets/images/instagram/instagram6.jpg" alt="instagram-image">
                        <a href="#" target="_blank" class="link-btn"></a>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-instagram-item">
                        <img src="assets/images/instagram/instagram7.jpg" alt="instagram-image">
                        <a href="#" target="_blank" class="link-btn"></a>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
