<nb-card class="dialog-content" accent="primary">
  <nb-card-header>
    <div class="row align-items-center">
      <div class="col-8 text-start">
        <h5 class="poppins header-title">Informações</h5>
      </div>
      <div class="col-4 text-end">
        <button nbButton ghost status="basic" (click)="close()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-12">
        <nb-card status="basic">
          <nb-card-header class="border-0">
            <h6 class="poppins header-title">O que é um portifólio</h6>
          </nb-card-header>
          <nb-card-body>
            <p>O Portifólio é onde você mostra pra gente quais são suas habilidades e como você é classificado para os
              trabalhos da Putz Filmes.
            </p>
            <p>
              É um prazer ter você junto ao nosso time de freelas, juntos queremos nos desenvolver a cada dia e encher
              vocês
              de projetos sensacionais.
              Esse é o seu manual, é imprescindível que siga todas as recomendações e se tiver dúvidas temos uma equipe
              pronta
              para te auxiliar.
              Caso tenha sugestões para melhorar nosso processo, por favor não deixe de nos avisar.
            </p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12">
        <nb-card status="basic">
          <nb-card-header class="border-0">
            <h6 class="poppins header-title">Como usamos</h6>
          </nb-card-header>
          <nb-card-body>
            <p>Ter um portifólio é importante para atestarmos cada uma de suas habilidades, cada um deles é
              usado para disponibilizar para você as oportundiades de trabaho que sejam adequadas a
              suas características.</p>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-12">
        <nb-card status="basic">
          <nb-card-header class="border-0">
            <h6 class="poppins header-title">Como avaliamos sua submissão</h6>
          </nb-card-header>
          <nb-card-body>
            <p>Temos um time pronto para te ajudar, entretanto somos um pouco rigorosos. Se você não tiver um bom portfolio não vamos aceitar suas
              inscrições. Então, por favor mantenha seus portfolios sempre organizados e atualizados.
            </p>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="row">
      <div class="col-12 text-end">
        <button nbButton status="primary" size="medium" (click)="close()">Fechar</button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
