<div id="portfolio" class="projects-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="section-title">
            <h2>My All Projects</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects9.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                Designing a better cinema experience
                            </a>
                        </h3>
                        <span>Web Design</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects10.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                Building design process within teams
                            </a>
                        </h3>
                        <span>Web Development</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects11.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                How intercom brings play eCommerce
                            </a>
                        </h3>
                        <span>eCommerce Development</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects12.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                UX/UI Design for ABC company
                            </a>
                        </h3>
                        <span>UX/UI Design</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects13.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                Examples of different types of sprints
                            </a>
                        </h3>
                        <span>Digital Marketing</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects14.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                Redesigning the New York times app
                            </a>
                        </h3>
                        <span>PSD to HTML</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects15.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                We provide any type of JavaScript development
                            </a>
                        </h3>
                        <span>JavaScript Development</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects16.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                We provide any type of Mobile App
                            </a>
                        </h3>
                        <span>Mobile App</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects17.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                We provide any type of WordPress
                            </a>
                        </h3>
                        <span>WordPress Development</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects18.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                Maintenance service provides for company
                            </a>
                        </h3>
                        <span>IT Maintenance</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects19.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                We provide any type of Email Marketing
                            </a>
                        </h3>
                        <span>Email Marketing</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="project-item">
                    <a routerLink="/projects-details" class="d-block">
                        <img src="../../../../../assets/images/projects/projects20.jpg" alt="projects-image">
                    </a>
                    <div class="content">
                        <a routerLink="/projects-details" class="link-btn">
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                        <h3>
                            <a routerLink="/projects-details">
                                We provide any type of Marketing & Reporting
                            </a>
                        </h3>
                        <span>Marketing & Reporting</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
