.projects-area {
    .container-fluid {
        padding: {
            left: 20px;
            right: 20px;
        };
    }
}
.project-item {
    margin-bottom: 30px;
    padding: {
        left: 5px;
        right: 5px;
    };
    img {
        border-radius: 10px;
    }
    .content {
        padding-right: 50px;
        position: relative;
        margin-top: 20px;

        .link-btn {
            right: 0;
            top: 50%;
            width: 35px;
            height: 35px;
            line-height: 35px;
            position: absolute;
            text-align: center;
            border-radius: 50%;
            color: var(--primaryColor);
            background-color: #f2f2f2;
            transform: translateY(-50%);

            &:hover {
                background-color: var(--primaryColor);
                color: var(--whiteColor);
            }
        }
        h3 {
            font-size: 26px;
            margin-bottom: 8px;
        }
        span {
            color: var(--primaryColor);
            font-size: 15px;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .projects-area {
        .container-fluid {
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .project-item {
        padding: {
            left: 0;
            right: 0;
        };
        .content {
            padding-right: 40px;
            margin-top: 15px;
    
            .link-btn {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
            h3 {
                font-size: 21px;
            }
            span {
                font-size: 13px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .projects-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .projects-area {
        .container-fluid {
            max-width: 720px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .project-item {
        padding: {
            left: 0;
            right: 0;
        };
        .content {
            margin-top: 20px;
            
            h3 {
                font-size: 23px;
            }
            span {
                font-size: 14px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .projects-area {
        .container-fluid {
            max-width: 960px;
            padding: {
                left: calc(var(--bs-gutter-x) * 0.5);
                right: calc(var(--bs-gutter-x) * 0.5);
            };
        }
    }
    .project-item {
        padding: {
            left: 0;
            right: 0;
        };
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .projects-area {
        .container-fluid {
            max-width: 2000px;
        }
    }

}