.single-blog-item {
    margin-bottom: 30px;
    background-color: var(--whiteColor);

    .image {
        height: 100%;
        position: relative;
        background: {
            position: center center;
            repeat: no-repeat;
            size: cover;
        };
        img {
            display: none;
        }
        .link-btn {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            position: absolute;
        }
    }
    .content {
        padding: {
            top: 30px;
            right: 20px;
            bottom: 30px;
        };
        .date {
            color: var(--primaryColor);
            margin-bottom: 12px;
            display: block;
        }
        h3 {
            font-size: 25px;
            margin-bottom: 8px;
        }
        .read-more-btn {
            padding-right: 14px;
            position: relative;
            font-weight: 500;

            i {
                transform: translateY(-50%);
                position: absolute;
                right: 0;
                top: 50%;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .single-blog-item {
        border: 1px solid #f5f5f5;

        .image {
            background-image: unset !important;

            img {
                display: inline-block;
            }
        }
        .content {
            padding: 15px;
    
            h3 {
                font-size: 21px;
                margin-bottom: 8px;
            }
            .read-more-btn {
                padding-right: 11px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-blog-item {
        border: 1px solid #f5f5f5;

        .image {
            background-image: unset !important;

            img {
                display: inline-block;
            }
        }
        .content {
            padding: 20px;

            h3 {
                font-size: 23px;
            }
            .read-more-btn {
                padding-right: 12px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .single-blog-item {
        border: 1px solid #f5f5f5;
        
        .image {
            background-image: unset !important;
            
            img {
                display: inline-block;
            }
        }
        .content {
            padding: 30px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}