<!-- Default Footer -->
<footer
    class="footer-area"
    [ngClass]="{'bg-black': router?.url === '/creative-agency' || router?.url === '/freelancer-portfolio' || router?.url === '/saas-startup' || router?.url === '/cyber-security-agency'}"
    [ngClass]="{'d-none': router?.url === '/marketing-agency' || router?.url === '/personal-portfolio'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-footer-widget">
                    <div
                        class="logo"
                        [ngClass]="{'d-none': router?.url === '/creative-agency' || router?.url === '/freelancer-portfolio' || router?.url === '/saas-startup' || router?.url === '/cyber-security-agency'}"
                    >
                        <a routerLink="/">
                            <img src="assets/images/logo.png" alt="logo">
                        </a>
                    </div>
                    <div
                        class="logo d-none"
                        [ngClass]="{'d-inline-block': router?.url === '/creative-agency' || router?.url === '/freelancer-portfolio' || router?.url === '/saas-startup' || router?.url === '/cyber-security-agency'}"
                    >
                        <a routerLink="/">
                            <img src="assets/images/logo-white.png" alt="white-logo">
                        </a>
                    </div>
                    <p>Produtora audiovisual dinâmica, competitiva e baseada em uma forma de negócio inovadora.
                      Um espaço de inovação no âmbito da gestão de soluções estratéticas no campo do audiovisual.</p>
                    <ul class="social-links">
                        <li>
                            <a href="https://www.linkedin.com/company/putz-filmes/" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/putzfilmes" target="_blank">
                                <i class="fa-brands fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/putzfilmes" target="_blank">
                                <i class="fa-brands fa-facebook-f"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/putzfilmes" target="_blank">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://youtube.com/putzfilmes" target="_blank">
                                <i class="fa-brands fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="single-footer-widget pl-4">
                    <h3>Explore</h3>
                    <ul class="list">
                        <ng-template ngFor let-item [ngForOf]="this.menuService.currentMenu | async">
                          <li *ngIf="item.type === 'anchor'">
                            <span (click)="onClick(item.link)">{{item.name}}</span>
                          </li>
                        </ng-template>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-6">
                <div class="single-footer-widget">
                    <h3>Links Rápidos</h3>
                    <ul class="list">
                        <li><a routerLink="/">Smart Videos</a></li>
<!--                        <li><a routerLink="/servicos/produtora">Produtora</a></li>-->
<!--                        <li><a routerLink="/servicos/epa">Plataforma Putz</a></li>-->
                        <li><a routerLink="/servicos/privacy-policy">Política de Privaciade</a></li>
                        <li><a routerLink="/servicos/terms-conditions">Termos e Condições</a></li>
                    </ul>
                </div>
            </div>
<!--            <div class="col-lg-3 col-sm-6">-->
<!--                <div class="single-footer-widget">-->
<!--                    <h3>De Minas para o Mundo</h3>-->
<!--                    <ul class="get-in-touch">-->
<!--                        <li>-->
<!--                            <span>Endereço:</span>-->
<!--                            Rua Jade, 60, Ipatinga-MG-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <span>WhatsApp/Telefone:</span>-->
<!--                            <a href="https://wa.me/553131810704">+55-31-3181-0704</a>-->
<!--                        </li>-->
<!--                        <li>-->
<!--                            <span>Email:</span>-->
<!--                            <a href="mailto:contato@putzfilmes.com">mailto:contato@putzfilmes.com</a>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
          <p>© Putz Filmes <strong>Assinatura</strong> registrado por <a href="https://putzfilmes.com/" target="_blank">© Putz</a></p>
        </div>
    </div>
</footer>

<!-- Footer Only for Marketing Agency -->
<footer
    class="marketing-agency-footer d-none"
    [ngClass]="{'d-block': router?.url === '/marketing-agency'}"
>
    <div class="container">
      <p>© Putz Filmes <strong>Assinatura</strong> registrado por <a href="https://putzfilmes.com/" target="_blank">© Putz</a></p>
    </div>
</footer>

<!-- Footer Only for Personal Portfolio -->
<footer
    class="personal-portfolio-footer d-none"
    [ngClass]="{'d-block': router?.url === '/personal-portfolio'}"
>
    <div class="container">
      <ul class="social-links">
        <li>
          <a href="https://www.linkedin.com/company/putz-filmes/" target="_blank">
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/putzfilmes" target="_blank">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/putzfilmes" target="_blank">
            <i class="fa-brands fa-facebook-f"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/putzfilmes" target="_blank">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li>
          <a href="https://youtube.com/putzfilmes" target="_blank">
            <i class="fa-brands fa-youtube"></i>
          </a>
        </li>
      </ul>
      <p>© Putz Filmes <strong>Assinatura</strong> registrado por <a href="https://putzfilmes.com/" target="_blank">© Putz</a></p>
    </div>
</footer>
