<div class="ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="bc-what-we-do-content">
                    <div class="section-title">
                        <span class="sub-title">See What We Do</span>
                        <h2>Consultancy Cases</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="bc-what-we-do-box">
                                <i class="icon fa-solid fa-chart-line"></i>
                                <h3>Business Analysis</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="bc-what-we-do-box">
                                <i class="icon fa-solid fa-list-check"></i>
                                <h3>Project Management</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="bc-what-we-do-image">
                    <img src="../../../../../assets/images/business-consulting/what-we-do.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
