<div id="screenshots" class="ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">App Screens</span>
            <h2>Beautifully Crafted All App Screenshots</h2>
        </div>
        <div class="app-screenshots-slides">
            <owl-carousel-o [options]="screenshotsSlides">
                <ng-template carouselSlide>
                    <div class="app-screenshot-item">
                        <img src="../../../../../assets/images/app/screenshots1.png" alt="screenshots">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="app-screenshot-item">
                        <img src="../../../../../assets/images/app/screenshots2.png" alt="screenshots">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="app-screenshot-item">
                        <img src="../../../../../assets/images/app/screenshots3.png" alt="screenshots">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="app-screenshot-item">
                        <img src="../../../../../assets/images/app/screenshots4.png" alt="screenshots">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="app-screenshot-item">
                        <img src="../../../../../assets/images/app/screenshots5.png" alt="screenshots">
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="app-screenshot-item">
                        <img src="../../../../../assets/images/app/screenshots3.png" alt="screenshots">
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
