<div class="personal-portfolio-banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="personal-portfolio-banner-content">
                    <span class="sub-title">Hello I'm</span>
                    <h1>Kathleen Lavelle</h1>
                    <h4>Digital Product Designer</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <button (click)="onClick('contact')" class="default-btn">
                        Connect With Me
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="personal-portfolio-banner-image">
                    <img src="../../../../../assets/images/personal-portfolio/banner-profile.jpg" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="pp-shape1"><img src="../../../../../assets/images/personal-portfolio/shape1.png" alt="image"></div>
</div>
