<div id="casos" class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <span class="sub-title">Estudo de Caso</span>
                    <h2>Privalia</h2>
                    <ul class="features-list">
                        <li>
                            <h3>Detalhamento</h3>
                            <ul>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Cliente: <strong>Privalia</strong>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                  Estilo: <strong>Captação de imagens</strong>
                                </li>
                                <li>
                                    <i class="fa-solid fa-circle-check"></i>
                                  Duração: <strong>30 seg.</strong>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <h3>Problema</h3>
                            <p>A Privalia lida com um público feminino muito grande, que procura produtos de
                              qualidade a preço acessível, com garantias de origem. Era necessário traduzir para
                              as clientes todas as marcas de renome com as quais a empresa trabalha, de uma forma
                              rápida e que captasse a atenção das consumidoras.

                            </p>
                        </li>
                        <li>
                          <h3>Solução</h3>
                          <p>Desenvolvemos um vídeo com uma grande quantidade de informação, condensado em apenas
                            30 segundos. A voz acelerada dita o ritmo do dia a dia das clientes, que precisam
                            otimizar o tempo e também buscam economia. Um cenário simples, que deixa em evidência
                            as grandes marcas, por meio do uso de letterings que reforçam os pontos chave do vídeo,
                            como a taxa de desconto. Finalizamos com a chamada para o site ou app da empresa,
                            mostrando como é simples economizar!.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
            <div class="about-image">
              <img src="../../../../../assets/images/varejo/privalia-video.jpg" alt="about-image">
              <button class="video-btn" (click)="ngxSmartModalService.getModal('popupOne').open()">
                <i class="fa-solid fa-play"></i>
              </button>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup">
    <ngx-smart-modal #popupOne [identifier]="'popupOne'">
        <iframe src="https://www.youtube.com/embed/gbC401pIpFs" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ngx-smart-modal>
</div>
