<form [formGroup]="uploadForm" *ngIf="!fileView">

  <div class="row mt-3">
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Creditas Id</label>
      <nb-form-field>
        <input type="text" nbInput fullWidth placeholder="Creditas Id" formControlName="id"
               fieldSize="large"
               [status]="(uploadForm.get('id')!.dirty || uploadForm.get('id')!.touched) ? (uploadForm.get('id')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('id')!.invalid && uploadForm.get('id')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('id')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Nome</label>
      <nb-form-field>
        <input fullWidth placeholder="Primeiro nome" formControlName="name"
               fieldSize="large"
               [status]="(uploadForm.get('name')!.dirty || uploadForm.get('name')!.touched) ? (uploadForm.get('name')!.invalid  ? 'danger' : 'success') : 'basic'"
               nbInput
               type="text"
               [nbAutocomplete]="nameAutoComplete"/>
        <nb-icon
          nbTooltip="Os nomes escritos na listagem possuem narração. Mas não se preocupe, não tem problema caso seu nome não esteja na lista, ele só não será narrado"
          nbSuffix icon="info-outline"></nb-icon>
        <nb-autocomplete #nameAutoComplete>

          <nb-option *ngFor="let option of validatedNames" [value]="option">
            {{ option }}
          </nb-option>

        </nb-autocomplete>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
          {{ uploadForm.get('name')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Email</label>
      <nb-form-field>
        <input fullWidth
               nbInput
               fieldSize="large"
               type="text"
               [status]="(uploadForm.get('email')!.dirty || uploadForm.get('email')!.touched) ? (uploadForm.get('email')!.invalid  ? 'danger' : 'success') : 'basic'"
               formControlName="email"
               placeholder="Digite o email..."
               [nbAutocomplete]="auto"/>

        <nb-autocomplete #auto>

          <nb-option *ngFor="let county of counties" [value]="county?.nome">
            {{ county?.nome }}
          </nb-option>

        </nb-autocomplete>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('email')!.invalid && uploadForm.get('email')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('email')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">Produto</label>
      <nb-form-field>
        <nb-select fullWidth placeholder="Selecione um produto..." formControlName="produto" size="large"
                   [status]="(uploadForm.get('produto')!.dirty || uploadForm.get('produto')!.touched) ? (uploadForm.get('produto')!.invalid  ? 'danger' : 'success') : 'basic'">
          <nb-option [value]="produto" *ngFor="let produto of produtos">{{produto}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('produto')!.invalid && uploadForm.get('produto')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('produto')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">País</label>
      <nb-form-field>
        <nb-select #select size="large" formControlName="country">
          <nb-option *ngFor="let countryCode of countryCodes"
                     [value]="countryCode.dial_code">{{countryCode.name}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
          {{ uploadForm.get('country')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">
        <nb-icon nbPrefix icon="phone-call-outline" status="success"></nb-icon>
        Whatsapp <span class="text-danger">
        *
      </span></label>
      <nb-form-field>
        <input type="tel" status="success" nbInput fullWidth placeholder="Número de celular" formControlName="whatsapp"
               fieldSize="large" [mask]="countryMasks[selectedCountry?.code]"
               [status]="(uploadForm.get('whatsapp')!.dirty || uploadForm.get('whatsapp')!.touched) ? (uploadForm.get('whatsapp')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
          {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">Data de vencimento</label>
      <nb-form-field>
        <input formControlName="data_venc" placeholder="Data de vencimento..." nbInput fullWidth fieldSize="large"
               [nbDatepicker]="DataVencPicker">
        <nb-datepicker #DataVencPicker></nb-datepicker>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('data_venc')!.invalid && uploadForm.get('data_venc')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('data_venc')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">Empréstimo</label>
      <nb-form-field>
        <span nbPrefix>R$</span>
        <input type="text" nbInput fullWidth placeholder="Valor do empréstimo ($)" formControlName="valor_empr"
               currencyMask [options]="{ align :'left',prefix: '', thousands: '.', decimal: ',' }"
               fieldSize="large"
               [status]="(uploadForm.get('valor_empr')!.dirty || uploadForm.get('valor_empr')!.touched) ? (uploadForm.get('valor_empr')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('valor_empr')!.invalid && uploadForm.get('valor_empr')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('valor_empr')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2">
      <label class="label">Taxa</label>
      <nb-form-field>
        <input type="text" nbInput fullWidth placeholder="Taxa de Juros ($)" formControlName="taxa_juros"
               fieldSize="large" currencyMask [options]="{ align :'left',prefix: '', thousands: '.', decimal: ',' }"
               [status]="(uploadForm.get('taxa_juros')!.dirty || uploadForm.get('taxa_juros')!.touched) ? (uploadForm.get('taxa_juros')!.invalid  ? 'danger' : 'success') : 'basic'">
        <span nbSuffix>%</span>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('taxa_juros')!.invalid && uploadForm.get('taxa_juros')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('taxa_juros')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">Parcela</label>
      <nb-form-field>
        <span nbPrefix>R$</span>
        <input type="text" nbInput fullWidth placeholder="Valor da parcela ($)" formControlName="valor_parc"
               fieldSize="large" currencyMask [options]="{ align :'left',prefix: '', thousands: '.', decimal: ',' }"
               [status]="(uploadForm.get('valor_parc')!.dirty || uploadForm.get('valor_parc')!.touched) ? (uploadForm.get('valor_parc')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('valor_parc')!.invalid && uploadForm.get('valor_parc')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('valor_parc')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
  </div>
</form>
