<div class="agency-portfolio-home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide *ngFor="let content of agencyPortfolioMainBanner;">
            <div class="agency-portfolio-main-banner" style="background-image: url({{content.bgImg}});">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="container">
                            <div class="portfolio-banner-content">
                                <span class="sub-title">{{content.subTitle}}</span>
                                <h1>{{content.title}}</h1>
                                <p>{{content.desc}}</p>
                                <button (click)="onClick('portfolio')" class="default-btn">
                                    {{content.btnText}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>