<h6 class="poppins header-title">Receba seu vídeo do Bicampeonato do Galo!!🏆🏆</h6>
<form [formGroup]="uploadForm" (ngSubmit)="onSubmitPrecadastro()">
  <div class="row mt-3">
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">País</label>
      <nb-form-field>
        <nb-select #select size="large" formControlName="country">
          <nb-option *ngFor="let countryCode of countryCodes"
                     [value]="countryCode.dial_code">{{countryCode.name}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
          {{ uploadForm.get('country')!.errors?.apiValidation}}
        </small>F
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">
        <nb-icon nbPrefix icon="phone-call-outline" status="success"></nb-icon>
        Whatsapp <span class="text-danger">
        *
      </span></label>
      <nb-form-field>
        <input type="tel" status="success" nbInput fullWidth placeholder="Número de celular" formControlName="whatsapp"
               fieldSize="large" [mask]="countryMasks[selectedCountry?.code]" [prefix]="selectedCountry?.dial_code"
               [status]="(uploadForm.get('whatsapp')!.dirty || uploadForm.get('whatsapp')!.touched) ? (uploadForm.get('whatsapp')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
          {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Nome</label>
      <nb-form-field>
        <input fullWidth placeholder="Primeiro nome" formControlName="name"
               fieldSize="large"
               [status]="(uploadForm.get('name')!.dirty || uploadForm.get('name')!.touched) ? (uploadForm.get('name')!.invalid  ? 'danger' : 'success') : 'basic'"
               nbInput
               type="text"
               [nbAutocomplete]="nameAutoComplete"/>
        <nb-icon
          nbTooltip="Os nomes escritos na listagem possuem narração. Mas não se preocupe, não tem problema caso seu nome não esteja na lista, ele só não será narrado"
          nbSuffix icon="info-outline"></nb-icon>
        <nb-autocomplete #nameAutoComplete>

          <nb-option *ngFor="let option of validatedNames" [value]="option">
            {{ option }}
          </nb-option>

        </nb-autocomplete>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
          {{ uploadForm.get('name')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2">
      <label class="label">N⁰ Camisa</label>
      <nb-form-field>
        <input type="number" nbInput fullWidth placeholder="Número" formControlName="number"
               fieldSize="large" min="1" max="999"
               [status]="(uploadForm.get('number')!.dirty || uploadForm.get('number')!.touched) ? (uploadForm.get('number')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('number')!.invalid && uploadForm.get('number')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('number')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('number')!.errors?.apiValidation">
          {{ uploadForm.get('number')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
  </div>
</form>
