<div class="layout-content" style="height: 95%">
  <div class="row align-items-center" style="height: 100% !important">
    <ng-container *ngIf="!renderIds?.renderId && !renderIds?.renderItemId">
      <div class="col-12">
        <nb-alert status="primary" class="d-flex align-items-center">
          <h4 class="poppins fw-bold m-0 p-0">Formulário de Cadastro</h4>
        </nb-alert>
        <nb-card>
          <nb-card-body>
            <app-handle-form #handleFormComponent></app-handle-form>
            <div class="text-end">
              <!--              <ng-container *nbIsGranted="['view','advanced-render-form-buttons']">-->
              <button *ngIf="handleForm?.currentForm?.uploadForm" nbButton status="info"
                      (click)="handleForm?.currentForm?.uploadForm?.reset()" size="medium" class="m-1"
                      type="button">Limpar
                <nb-icon icon="trash-2"></nb-icon>
              </button>
              <button *ngIf="handleForm?.currentForm" nbButton status="info"
                      (click)="handleForm?.currentForm?.autoComplete()" size="medium" class="m-1"
                      type="button">Exemplo
                <nb-icon icon="edit"></nb-icon>
              </button>
              <!--              </ng-container>-->
              <button nbButton status="info" type="submit" size="medium" class="m-1" (click)="onSubmit()">Enviar
                <nb-icon icon="film"></nb-icon>
              </button>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </ng-container>
    <div class="col-lg-6 mx-auto" *ngIf="renderItem">
      <nb-card
        [status]="renderItem?.videoUrl?'success':(renderItem?.job === null || renderItem?.job?.state === 'error')?'danger':'primary'">
        <nb-card-header>
          <div class="d-flex justify-content-between align-items-center">
            <h6 class="poppins fw-bold">Situação do vídeo ({{renderItem?.name | empty}})</h6>
            <nb-icon icon="film-outline"></nb-icon>
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="row justify-content-between align-items-center">
            <div class="col text-start mb-1">
              <div class="mb-1" *ngIf="renderItem?.renderStatus">
                Situação atual: <span
                class="poppins fw-bold">{{(('project-render.status.' + renderItem?.renderStatus) | translate)}}</span>
              </div>
            </div>
            <div class="col text-center text-md-end" *ngIf="renderItem?.job">
              <div *ngIf="renderItem?.job?.renderProgress >=0 && renderItem?.job && renderItem?.job?.state !== 'error'">
                <p class="label m-0">Progresso do vídeo ({{renderItem?.job?.renderProgress}}%)</p>
                <nb-progress-bar status="primary" [value]="renderItem?.job?.renderProgress??0"></nb-progress-bar>
              </div>
            </div>
          </div>
          <nb-alert class="mb-0 mt-3" accent="danger"
                    *ngIf="renderItem?.job === null || renderItem?.job?.state === 'error'">
            <div class="d-flex align-items-center">
              <nb-icon icon="alert-triangle-outline" class="me-1"></nb-icon>
              <span>Ocorreu um erro ao obter o progresso do vídeo.</span>
            </div>
          </nb-alert>

          <nb-alert class="mb-0 mt-3"
                    *ngIf="renderItem?.job && renderItem?.job?.state !== 'error' && !renderItem?.videoUrl">
            Você receberá o vídeo no seu telefone assim que estiver pronto.
          </nb-alert>
          <ng-container *ngIf="isPreRegistered && renderItem?.renderUid">
            <nb-alert class="mb-0 mt-3" accent="primary">
              Putz!!! Sua solicitação seu pedido foi cadastrada!!!
            </nb-alert>
            <ol>
              <li>Fique calmo o vídeo pode demorar aproximadamente 4 minutos para chegar no seu telefone</li>
              <li>Agora precisamos confimar seu número de telefone!</li>
              <li>Nosso número Oficial de Whatsapp é: <strong>"{{renderItem?.renderProject?.whatsappBot}}"</strong>
              </li>
              <li>Envie pelo aplicativo whatsapp o código abaixo para confirmar seu pedido.
            </ol>
            <h1 class="text-center">{{renderItem?.renderUid | empty}}</h1>
            <div class="row">
              <div class="col-12 text-center">
                <a class="m-3" size="large" nbButton outline status="primary" target="_blank"
                   href='https://api.whatsapp.com/send/?phone={{renderItem?.renderProject?.whatsappBot}}&text={{renderItem?.renderUid | empty}}'>
                  <nb-icon icon="phone-call-outline" class="mx-1" status="success"></nb-icon>
                  Enviar Código</a>
              </div>
            </div>
          </ng-container>
          <nb-alert class="mb-0 mt-3" accent="success" *ngIf="renderItem?.videoUrl">
            O seu vídeo está pronto!!
            <a nbButton status="primary" size="small" target="_blank" [disabled]="!renderItem?.videoUrl"
               [href]="renderItem?.videoUrl">{{renderItem?.videoUrl ? 'Download' : 'Aguardando video...'}}</a>
          </nb-alert>
        </nb-card-body>
        <nb-card-footer>
          <div class="d-flex justify-content-between align-items-center">
            <small
              class="header-title">Início: {{renderItem?.createdDate | convert | date:'dd/MM/yyyy HH:mm:ss' | empty}}</small>
            <small
              class="header-title">Fim: {{renderItem?.endRenderDate | convert | date:'dd/MM/yyyy HH:mm:ss' | empty}}</small>
          </div>
        </nb-card-footer>
      </nb-card>
    </div>
    <div class="col-12 text-center" *ngIf="renderIds?.renderId && renderIds?.renderItemId && renderItem === null">
      <nb-icon icon="close-outline" status="danger" style="font-size: 200px"></nb-icon>
      <h2 class="header-title">Renderização não encontrada</h2>
      <h6 class="header-title">Ocorreu um erro ao encontrar sua renderização ou ela não existe.</h6>
    </div>
    <div class="col-12" *ngIf="renderIds?.renderId && renderIds?.renderItemId && renderItem === undefined">
      <div class="spinner-no-bg" nbSpinnerStatus="primary" [nbSpinnerSize]="'giant'" [nbSpinner]="true" nbSpinnerMessage="Carregando..."
           style="height: 50vh;border-radius: 10px"></div>
    </div>
  </div>
</div>
