.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%
}

.custom-sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 90px; /* required */
}

.button-margin {
  > button, a {
    margin: 10px;
    margin-bottom: 0;
    margin-left: 0;
  }
}
