<div class="clearfix layout-content">
  <div class="row">
    <div class="col-12">
      <nb-card status="primary">
        <nb-card-header class="border-0">
          <div class="row align-items-center text-light">
            <div class="col-6 col-lg-3 text-start order-0">
              <h5 class="text-light poppins fw-bold">
                Projetos
                <span class="text-light poppins fw-bold font-size-12"
                      *ngIf="projectStatus">({{'Total: ' + listTotalSize}})</span>
              </h5>
              <nb-tag-list *ngIf="projectStatus && projectStatus.length > 0">
                <nb-tag size="tiny" appearance="filled" status="control" [removable]="true" (remove)="removeTag($event)"
                        [role]="status | convert | empty"
                        [text]="'project.status.' + status | translate" *ngFor="let status of projectStatus"></nb-tag>
              </nb-tag-list>
            </div>
            <div class="col-12 col-lg-4 order-2 order-lg-0 mt-4 mt-lg-0 text-end">
              <nb-form-field>
                <input [formControl]="projectSearch" fullWidth type="text" nbInput placeholder="Pesquisar..."
                       fieldSize="large"
                       status="control"

                       value="">
                <button nbSuffix nbButton ghost status="control" type="button"
                        *ngIf="!projectSearch.value">
                  <nb-icon icon="search-outline"></nb-icon>
                </button>
                <button nbSuffix nbButton ghost status="control" type="button" *ngIf="projectSearch.value"
                        (click)="projectSearch.reset()">
                  <nb-icon icon="backspace-outline">
                  </nb-icon>
                </button>
              </nb-form-field>
            </div>
            <div class="col-12 col-lg-2 order-2 order-lg-0 mt-4 mt-lg-0 text-end">
              <nb-form-field
                *nbIsGranted="['view','dashboard-project-status']">
                <nb-select fullWidth size="large" multiple placeholder="Tipo de projeto..." status="control"
                           [selected]="projectStatus" (selectedChange)="handleSelectStatus($event)">
                  <nb-option [value]="projectType?.id"
                             *ngFor="let projectType of projectStatusItems">{{projectType?.title | empty}}</nb-option>
                </nb-select>
              </nb-form-field>
            </div>
            <div class="col-6 col-lg-3 order-1 order-lg-0 text-end">
              <button nbButton outline status="control" size="large" *nbIsGranted="['edit','project']" class="m-1" nbTooltip="Errors de renderização"
                      (click)="openProjectRenderErrorsDialog()">
                <nb-icon icon="film-outline"></nb-icon>
              </button>
              <a nbButton outline status="control" size="large" class="m-1" nbTooltip="Relatório de gerente"
                 *nbIsGranted="['view','project-report-manager']"
                 [routerLink]="['','reports','projects','manager']" target="_blank">
                <nb-icon icon="file-text-outline"></nb-icon>
              </a>
              <button nbButton outline status="control" size="large" class="m-1" nbTooltip="Visualização"
                      (click)="changeProjectGridView()">
                <nb-icon [icon]="!projectTableView?'list-outline':'layers-outline'"></nb-icon>
              </button>
              <a nbButton outline status="control" size="large" class="m-1" nbTooltip="Criar"
                 *nbIsGranted="['edit','project']"
                 [routerLink]="['','projects','new']">
                <nb-icon icon="plus-outline"></nb-icon>
              </a>
            </div>
          </div>
        </nb-card-header>
      </nb-card>
    </div>
    <div class="col-12 spinner-no-bg" [nbSpinner]="loadingProjects" nbSpinnerStatus="primary"
         nbSpinnerMessage="Carregando..." [class.spinner-content]="loadingProjects">
      <ng-container *ngIf="projects && projects.length > 0">
        <app-project-table *ngIf="projectTableView" (stateChange)="onSort($event)"></app-project-table>
        <app-project-accordion
          *ngIf="!projectTableView"></app-project-accordion>
        <app-pagination-wrapper>
          <ngb-pagination
            [collectionSize]="listTotalSize" [(page)]="state!.page"
            [pageSize]="state!.size"
            (pageChange)="pageChange($event)"
            [maxSize]="3">
          </ngb-pagination>
          <nb-form-field>
            <nb-select [selected]="state!.size"
                       (selectedChange)="sizeChange($event)">
              <nb-option [value]="5">5</nb-option>
              <nb-option [value]="10">10</nb-option>
              <nb-option [value]="15">15</nb-option>
              <nb-option [value]="20">20</nb-option>
            </nb-select>
          </nb-form-field>
        </app-pagination-wrapper>
      </ng-container>
      <ng-container *ngIf="(!projects || projects.length === 0) && !loadingProjects">
        <app-simple-not-found></app-simple-not-found>
      </ng-container>
    </div>
  </div>
</div>
