<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div class="hero-banner hero-bg1">
                <div class="container">
                    <div class="hero-banner-content">
                        <span class="sub-title">Você faz parte do Ecossitema!!!</span>
                        <h1>Sou Freelancer</h1>
                        <p>Não se preocupe com o Serviço, foque no desenvolvimento das soluções para seus clientes.</p>
                        <button (click)="onClick('contact')" class="default-btn">
                            Vamos Começar
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="hero-banner hero-bg2">
                <div class="container">
                    <div class="hero-banner-content">
                        <span class="sub-title">Você faz parte do Ecossitema!!!</span>
                        <h1>Sou um Cliente</h1>
                        <p>Não se preocupe com o Serviço, foque no desenvolvimento das soluções para seus clientes.</p>
                        <button (click)="onClick('contact')" class="default-btn">
                          Vamos Começar
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="hero-banner hero-bg3">
                <div class="container">
                    <div class="hero-banner-content">
                        <span class="sub-title">Você faz parte do Ecossitema!!!</span>
                        <h1>Sou uma Agência Criativa</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button (click)="onClick('contact')" class="default-btn">
                          Get Started
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
