<div id="portfolio" class="projects-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Projects</span>
            <h2>Our Latest Projects</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects1.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>Design</span>
                        <h3>Business Creativity</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects2.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>3D</span>
                        <h3>Yellow Lightbulb</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects3.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>Art</span>
                        <h3>Hands Lightbulb</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects4.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>Minimal</span>
                        <h3>Blue Light Bulbs</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects5.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>Lightbulbs</span>
                        <h3>Various Colorful</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects6.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>2022</span>
                        <h3>Premium Idea</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects7.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>Premium</span>
                        <h3>Cylinder Podium</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="single-latest-projects">
                    <div class="image">
                        <img src="../../../../../assets/images/projects/projects8.jpg" alt="projects-image">
                    </div>
                    <div class="content">
                        <span>Christmas</span>
                        <h3>Pastel Minimal</h3>
                    </div>
                    <a routerLink="/projects-details" class="link-btn"></a>
                </div>
            </div>
        </div>
    </div>
</div>
