<div id="services" class="pp-expertise-area pt-100 pb-70">
    <div class="container">
        <div class="section-title style-two">
            <h2>My Expertise</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon fa-solid fa-clone"></i>
                    <h3>Product Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-fff5e6 fa-solid fa-desktop"></i>
                    <h3>Web Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-f3f9e7 fa-brands fa-bandcamp"></i>
                    <h3>Branding & Logo</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-ffefef fa-solid fa-print"></i>
                    <h3>Print Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-eaf6ff fa-solid fa-mobile-screen-button"></i>
                    <h3>App Design</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="pp-expertise-box">
                    <i class="icon bg-faf2ff fa-solid fa-chart-area"></i>
                    <h3>Motion & Animation</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                </div>
            </div>
        </div>
    </div>
</div>