<div class="app-features-area pt-100 pb-70 bg-f9f9f9">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Key Features</span>
            <h2>Most Probably Included Best Features Ever</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="app-features-item">
                    <div class="icon">
                        <i class="fa-solid fa-eye"></i>
                    </div>
                    <h3>High Resolution</h3>
                    <p>Just log in with your mail account from play store and using whatever you want for your able business.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="app-features-item">
                    <div class="icon bg2">
                        <i class="fa-solid fa-layer-group"></i>
                    </div>
                    <h3>Retina Ready Screen</h3>
                    <p>Just log in with your mail account from play store and using whatever you want for your able business.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="app-features-item">
                    <div class="icon bg3">
                        <i class="fa-solid fa-database"></i>
                    </div>
                    <h3>Easy Editable Data</h3>
                    <p>Just log in with your mail account from play store and using whatever you want for your able business.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="app-features-item">
                    <div class="icon bg4">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <h3>Fully Secured</h3>
                    <p>Just log in with your mail account from play store and using whatever you want for your able business.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="app-features-item">
                    <div class="icon bg5">
                        <i class="fa-solid fa-cloud-bolt"></i>
                    </div>
                    <h3>Cloud Storage</h3>
                    <p>Just log in with your mail account from play store and using whatever you want for your able business.</p>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                <div class="app-features-item">
                    <div class="icon bg6">
                        <i class="fa-solid fa-chart-pie"></i>
                    </div>
                    <h3>Responsive Ready</h3>
                    <p>Just log in with your mail account from play store and using whatever you want for your able business.</p>
                </div>
            </div>
        </div>
    </div>
</div>