<div class="dm-process-area pt-100 pb-70">
    <div class="container">
        <div class="section-title"><span class="sub-title marketing-color">Marketing Process</span>
            <h2>We Have The Main Process to Run The Marketing</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="dm-process-box">
                    <img src="../../../../../assets/images/digital-marketing/process1.png" alt="process-image">
                    <h3>Marketing Plan</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="dm-process-box">
                    <img src="../../../../../assets/images/digital-marketing/process2.png" alt="process-image">
                    <h3>Marketing Execution</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="dm-process-box">
                    <img src="../../../../../assets/images/digital-marketing/process3.png" alt="process-image">
                    <h3>Growth & Scale</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</p>
                </div>
            </div>
        </div>
    </div>
</div>
