<div id="feedback" class="cs-feedback-area pb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Thoughts of Our Client</span>
            <h2>These People Have Already Experienced Our Review</h2>
        </div>
        <div class="cs-feedback-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="cs-single-feedback with-black-color">
                        <ul class="rating">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>“We believe brand interaction is key in communication. Real innovations and a positive customer experience are the heart of successful communication. No fake products and services.”</p>
                        <div class="client-info">
                            <img src="../../../../../assets/images/user/user1.jpg" alt="image">
                            <h3>James Anderson</h3>
                            <span>Web Developer</span>
                        </div>
                        <div class="quote">
                            <i class="fa-solid fa-quote-right"></i>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="cs-single-feedback with-black-color">
                        <ul class="rating">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>“We believe brand interaction is key in communication. Real innovations and a positive customer experience are the heart of successful communication. No fake products and services.”</p>
                        <div class="client-info">
                            <img src="../../../../../assets/images/user/user2.jpg" alt="image">
                            <h3>Jason Roy</h3>
                            <span>Manager</span>
                        </div>
                        <div class="quote">
                            <i class="fa-solid fa-quote-right"></i>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="cs-single-feedback with-black-color">
                        <ul class="rating">
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                            <li><i class="fa-solid fa-star"></i></li>
                        </ul>
                        <p>“We believe brand interaction is key in communication. Real innovations and a positive customer experience are the heart of successful communication. No fake products and services.”</p>
                        <div class="client-info">
                            <img src="../../../../../assets/images/user/user3.jpg" alt="image">
                            <h3>James Anderson</h3>
                            <span>Web Developer</span>
                        </div>
                        <div class="quote">
                            <i class="fa-solid fa-quote-right"></i>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
    <div class="cs-feedback-line-bg">
        <img src="../../../../../assets/images/cyber-security/line-bg.png" alt="image">
    </div>
</div>
