.cs-features-area {
    .container-fluid {
        padding: {
            left: 0;
            right: 0;
        };
    }
}
.cs-features-item {
    z-index: 1;
	position: relative;
	padding: 80px 70px;
    background: {
        size: cover;
        repeat: no-repeat;
        position: center center;
    };
    &::before {
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        z-index: -1;
        height: 100%;
        position: absolute;
        transition: var(--transition);
        background: linear-gradient(90deg, rgba(31, 31, 34, 0.96) 0%, rgba(31, 31, 34, 0.9) 58.33%, rgba(22, 22, 24, 0.6) 100%);
    }
    &::after {
        top: 0;
        left: 0;
        opacity: 0;
        content: '';
        width: 100%;
        z-index: -1;
        height: 100%;
        position: absolute;
        visibility: hidden;
        transition: var(--transition);
        background: var(--gradientColor);
    }
    .content {
        h3 {
            font-size: 25px;
            margin-bottom: 17px;
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
        }
        .get-started-btn {
            color: var(--whiteColor);
            display: inline-block;
            position: relative;
            margin-top: 5px;
            z-index: 1;
            padding: {
                left: 10px;
                top: 4px;
            };
            font: {
                size: 14px;
                weight: 600;
            };
            &::before {
                left: 0;
                content: "";
                height: 30px;
                width: 30px;
                z-index: -1;
                bottom: -5px;
                position: absolute;
                border-radius: 50px;
                transition: var(--transition);
                background-color: var(--primaryColor);
            }
        }
    }
    .bg-icon {
        top: 50%;
        right: 30px;
        position: absolute;
        transform: translateY(-50%);

        i {
            color: var(--whiteColor);
            font-size: 120px;
            opacity: 0.1;
        }
    }
    &:hover {
        &::before {
            opacity: 0;
            visibility: hidden;
        }
        &::after {
            opacity: 1;
            visibility: visible;
        }
        .content {
            .get-started-btn {
                &::before {
                    background-color: var(--blackColor);
                }
            }
        }
    }
}
.cs-services-card {
    box-shadow: 0px 6px 20px rgba(26, 137, 185, 0.07);
    transition: var(--transition);
    background: #161618;
    margin-bottom: 30px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding: 30px;
    z-index: 1;

    &::before {
        top: 0;
        left: 0;
        right: 0;
        opacity: 0;
        content: "";
        width: 100%;
        z-index: -1;
        height: 100%;
        position: absolute;
        visibility: hidden;
        display: inline-block;
        transition: var(--transition);
        background: var(--gradientColor);
    }
    .image {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        border-radius: 50%;
        margin-bottom: 25px;
        display: inline-block;
        background: #1F1F22;
        transition: var(--transition);
        box-shadow: 0px 4px 20px rgba(26, 137, 185, 0.09);
        
        img {
            max-width: 65px;
        }
    }
    h3 {
        font-size: 25px;
        margin-bottom: 10px;
        color: var(--whiteColor);

        a {
            color: var(--whiteColor);
        }
    }
    p {
        color: #cacaca;
    }
    &:hover{
        transform: translateY(-5px);

        p {
            color: var(--whiteColor);
        }
        &::before {
            opacity: 1;
            visibility: visible;
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .cs-features-item {
        padding: 40px 15px;
        
        .content {
            h3 {
                font-size: 21px;
                margin-bottom: 10px;
            }
            .get-started-btn {
                font-size: 12px;
                margin-top: 0;
            }
        }
    }
    .cs-services-card {
        padding: 20px 15px;
        
        .image {
            width: 75px;
            height: 75px;
            line-height: 75px;
            margin-bottom: 20px;
            box-shadow: 0px 4px 20px rgba(26, 137, 185, 0.09);
            
            img {
                max-width: 50px;
            }
        }
        h3 {
            font-size: 21px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .cs-features-item {
        padding: 50px 20px;
        
        .content {
            h3 {
                font-size: 23px;
                margin-bottom: 12px;
            }
            .get-started-btn {
                font-size: 13px;
                margin-top: 2px;
            }
        }
    }
    .cs-services-card {
        padding: 25px 20px;
    
        .image {
            width: 85px;
            height: 85px;
            line-height: 85px;
            margin-bottom: 20px;
            
            img {
                max-width: 55px;
            }
        }
        h3 {
            font-size: 23px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .cs-features-item {
        z-index: 1;
        position: relative;
        padding: 80px 30px;
        background: {
            size: cover;
            repeat: no-repeat;
            position: center center;
        };
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .cs-services-card {
        padding: 25px;
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}