<div id="services" class="cs-features-area">
    <div class="container-fluid">
        <div class="row justify-content-center m-0">
            <div class="col-lg-4 col-sm-6 p-0">
                <div class="cs-features-item" style="background-image:url(../../../../../assets/images/cyber-security/features/features-1.jpg)">
                    <div class="content">
                        <h3>Application Security</h3>
                        <p>Lorem ipsum dolor sit amLorem ipsum dolor sit amet is consectetur adipiscing elit sed do.</p>
                        <a class="get-started-btn" routerLink="/services-details">GET STARTED</a>
                    </div>
                    <div class="bg-icon">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 p-0">
                <div class="cs-features-item" style="background-image:url(../../../../../assets/images/cyber-security/features/features-2.jpg)">
                    <div class="content">
                        <h3>Cloud Security</h3>
                        <p>Lorem ipsum dolor sit amLorem ipsum dolor sit amet is consectetur adipiscing elit sed do.</p>
                        <a class="get-started-btn" routerLink="/services-details">GET STARTED</a>
                    </div>
                    <div class="bg-icon">
                        <i class="fa-solid fa-cloud"></i>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 p-0">
                <div class="cs-features-item" style="background-image:url(../../../../../assets/images/cyber-security/features/features-3.jpg)">
                    <div class="content">
                        <h3>Infrastructure Security</h3>
                        <p>Lorem ipsum dolor sit amLorem ipsum dolor sit amet is consectetur adipiscing elit sed do.</p>
                        <a class="get-started-btn" routerLink="/services-details">GET STARTED</a>
                    </div>
                    <div class="bg-icon">
                        <i class="fa-solid fa-shield"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cs-services-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Services</span>
            <h2>The Power To Protect Your Cyberspace & Complete Security</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-1.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Easy To Transact</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-2.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Secure Managed IT</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-3.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Data Protection</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-4.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Incident Responder</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-5.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Data Encryption</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-6.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Disaster Planning</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-7.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Threat Hunter</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 col-md-6">
                <div class="cs-services-card text-center">
                    <div class="image">
                        <img src="../../../../../assets/images/cyber-security/services/services-8.png" alt="image">
                    </div>
                    <h3><a routerLink="/services-details">Data Recovery</a></h3>
                    <p>Lorem ipsum dolor sit amet, is cons ec tet ur scing elit sed.</p>
                </div>
            </div>
        </div>
    </div>
</div>
