.app-feedback-box {
    transition: var(--transition);
    border: 1px solid #efefef;
    background: #F7F7FF;
    margin-bottom: 30px;
    border-radius: 15px;
    padding: 30px;

    .client-info {
        margin-bottom: 20px;

        img {
            height: 60px;
            border-radius: 50%;
            width: 60px !important;
        }
        .title {
            margin-left: 18px;

            h3 {
                font-size: 23px;
                margin-bottom: 4px;
            }
            span {
                font-size: 15px;
                color: var(--primaryColor);
            }
        }
    }
    p {
        font-size: 17px;
    }
    .rating {
        margin-top: 20px;

        h5 {
            margin-bottom: 0;
            font-size: 19px;
        }
        div {
            i {
                line-height: 1;
                color: #FFCA40;
                margin-left: 3px;
            }
        }
    }
    &:hover {
        background-color: var(--whiteColor);
        box-shadow: 5px 15px 20px rgba(38, 42, 55, 0.05);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .app-feedback-box {
        padding: 20px 15px;
    
        .client-info {
            margin-bottom: 15px;
    
            img {
                height: 50px;
                width: 50px !important;
            }
            .title {
                margin-left: 15px;
    
                h3 {
                    font-size: 19px;
                }
                span {
                    font-size: 13px;
                }
            }
        }
        p {
            font-size: 15px;
        }
        .rating {
            margin-top: 15px;
    
            h5 {
                font-size: 17px;
            }
            div {
                i {
                    margin-left: 2px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .app-feedback-box {
        padding: 25px 20px;
    
        .client-info {
            margin-bottom: 15px;
    
            img {
                height: 55px;
                width: 55px !important;
            }
            .title {
                margin-left: 15px;
    
                h3 {
                    font-size: 20px;
                }
                span {
                    font-size: 14px;
                }
            }
        }
        p {
            font-size: 16px;
        }
        .rating {
            margin-top: 15px;
    
            h5 {
                font-size: 17px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .app-feedback-box {
        padding: 20px;
    
        .client-info {
            margin-top: 15px;

            .title {
                h3 {
                    font-size: 21px;
                }
            }
        }
        p {
            font-size: 15px;
        }
        .rating {
            margin-top: 15px;
    
            h5 {
                font-size: 17px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}