<!--<h6 class="poppins header-title">Receba o vídeo de teste Consultor Franq Open Banking!!</h6>-->

<form [formGroup]="uploadForm">
    <div class="row mt-3">
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Nome</label>
        <nb-form-field>
          <input fullWidth placeholder="Primeiro nome" formControlName="nome"
                 fieldSize="large"
                 [status]="(uploadForm.get('nome')!.dirty || uploadForm.get('nome')!.touched) ? (uploadForm.get('nome')!.invalid  ? 'danger' : 'success') : 'basic'"
                 nbInput
                 type="text"
                 [nbAutocomplete]="nameAutoComplete"/>
          <nb-icon
            nbTooltip="Os nomes escritos na listagem possuem narração. Mas não se preocupe, não tem problema caso seu nome não esteja na lista, ele só não será narrado"
            nbSuffix icon="info-outline"></nb-icon>
          <nb-autocomplete #nameAutoComplete>

            <nb-option *ngFor="let option of validatedNames" [value]="option">
              {{ option }}
            </nb-option>

          </nb-autocomplete>
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('nome')!.invalid && uploadForm.get('nome')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('nome')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('nome')!.errors?.apiValidation">
            {{ uploadForm.get('nome')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-4">
        <label class="label">Email</label>
        <nb-form-field>
          <input type="text" nbInput fullWidth placeholder="Digite seu email..." formControlName="email"
                 fieldSize="large"
                 [status]="(uploadForm.get('email')!.dirty || uploadForm.get('email')!.touched) ? (uploadForm.get('email')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('email')!.invalid && uploadForm.get('email')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('email')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('email')!.errors?.apiValidation">
            {{ uploadForm.get('email')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-2">
        <label class="label">País</label>
        <nb-form-field>
          <nb-select #select size="large" formControlName="country">
            <nb-option *ngFor="let countryCode of countryCodes"
                       [value]="countryCode.dial_code">{{countryCode.name}}</nb-option>
          </nb-select>
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
            {{ uploadForm.get('country')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">
          <nb-icon nbPrefix icon="phone-call-outline" status="success"></nb-icon>
          Whatsapp <span class="text-danger">
        *
      </span></label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Número de celular" formControlName="whatsapp"
                 fieldSize="large" [mask]="countryMasks[selectedCountry?.code]"
                 [status]="(uploadForm.get('whatsapp')!.dirty || uploadForm.get('whatsapp')!.touched) ? (uploadForm.get('whatsapp')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
            {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Série</label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Série..." formControlName="serie"
                 fieldSize="large"
                 [status]="(uploadForm.get('serie')!.dirty || uploadForm.get('serie')!.touched) ? (uploadForm.get('serie')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('serie')!.invalid && uploadForm.get('serie')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('serie')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('serie')!.errors?.apiValidation">
            {{ uploadForm.get('serie')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Turma</label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Turma..." formControlName="turma"
                 fieldSize="large"
                 [status]="(uploadForm.get('turma')!.dirty || uploadForm.get('turma')!.touched) ? (uploadForm.get('turma')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('turma')!.invalid && uploadForm.get('turma')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('turma')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('turma')!.errors?.apiValidation">
            {{ uploadForm.get('turma')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Turno</label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Turno..." formControlName="turno"
                 fieldSize="large"
                 [status]="(uploadForm.get('turno')!.dirty || uploadForm.get('turno')!.touched) ? (uploadForm.get('turno')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('turno')!.invalid && uploadForm.get('turno')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('turno')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('turno')!.errors?.apiValidation">
            {{ uploadForm.get('turno')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Primeiro dia</label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Primeiro dia..." formControlName="dia1"
                 fieldSize="large"
                 [status]="(uploadForm.get('dia1')!.dirty || uploadForm.get('dia1')!.touched) ? (uploadForm.get('dia1')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('dia1')!.invalid && uploadForm.get('dia1')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('dia1')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('dia1')!.errors?.apiValidation">
            {{ uploadForm.get('dia1')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Segundo dia</label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Segundo dia..." formControlName="dia2"
                 fieldSize="large"
                 [status]="(uploadForm.get('dia2')!.dirty || uploadForm.get('dia2')!.touched) ? (uploadForm.get('dia2')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('dia2')!.invalid && uploadForm.get('dia2')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('dia2')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('dia2')!.errors?.apiValidation">
            {{ uploadForm.get('dia2')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Primeiro horário</label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Primeiro horário..."
                 formControlName="horario1"
                 fieldSize="large"
                 [status]="(uploadForm.get('horario1')!.dirty || uploadForm.get('horario1')!.touched) ? (uploadForm.get('horario1')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('horario1')!.invalid && uploadForm.get('horario1')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('horario1')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('horario1')!.errors?.apiValidation">
            {{ uploadForm.get('horario1')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3">
        <label class="label">Segundo horário</label>
        <nb-form-field>
          <input type="tel" status="success" nbInput fullWidth placeholder="Segundo horário..."
                 formControlName="horario2"
                 fieldSize="large"
                 [status]="(uploadForm.get('horario2')!.dirty || uploadForm.get('horario2')!.touched) ? (uploadForm.get('horario2')!.invalid  ? 'danger' : 'success') : 'basic'">
        </nb-form-field>
        <ng-container *ngIf="uploadForm.get('horario2')!.invalid && uploadForm.get('horario2')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('horario2')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('horario2')!.errors?.apiValidation">
            {{ uploadForm.get('horario2')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
    </div>
  </form>
