<div class="bg-1f1f22">

    <app-csa-banner></app-csa-banner>

    <app-csa-features></app-csa-features>

    <app-csa-services></app-csa-services>

    <app-csa-about></app-csa-about>

    <app-csa-why-choose-us></app-csa-why-choose-us>

    <app-csa-funfacts></app-csa-funfacts>

    <app-csa-partner></app-csa-partner>

    <app-csa-technology-company></app-csa-technology-company>

    <app-csa-feedback></app-csa-feedback>

    <app-csa-cta></app-csa-cta>

    <app-csa-contact></app-csa-contact>

</div>