<app-pt-banner id="home"></app-pt-banner>
<!--  <button class="btn btn-outline-info m-1 "-->
<!--          (click)="onClick('how-it-works')" size="medium" type="button">-->
<!--    Preciso de Ajuda <i class="fa fa-question"></i>-->
<!--  </button>-->
<div class="" id="render-video">
  <app-render-form-voto-lula-detail [hasWhatsapp]="this.hasWhatsapp" [isPrecadastro]="this.isPrecadastro"></app-render-form-voto-lula-detail>
</div>
<div class="" id="how-it-works">
  <app-pt-como-usar></app-pt-como-usar>
</div>
