<div class="left">
  <h2 class="heading h1 text-control">Putz em seu negócio</h2>
  <button class="submit" nbButton status="control" href="https://putzfilmes.com/precoonline/">Orçamento Online</button>
</div>
<div class="right">
  <p class="h6 offerings-title">
    Somos a Solução certa quando,
    <span class="offerings-title-second-line">quiser revolucionar usando o audiovisual:</span>
  </p>
  <ul class="offerings">
    <li class="offering text-hint" *ngFor="let offering of offerings">{{ offering }}</li>
  </ul>
</div>
