<div class="partner-area bg-1b2232 ptb-70">
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/business-consulting/partner-white1.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/business-consulting/partner-white2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/business-consulting/partner-white3.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/business-consulting/partner-white4.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/business-consulting/partner-white5.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/business-consulting/partner-white6.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
