<div class="software-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="software-banner-content">
                    <span class="sub-title">Agência - Faça um teste conosco!</span>
                    <h1>EPA - Foque na Solução, não em Serviço</h1>
                      <p>EPA(Ecossitema Putz Audiovisual) - Somos um ecossitema, a Putz é uma parceira de agências,
                        e oferece soluções em gestão de projetos audiovisuais em todo o percurso do processo e
                        não apenas no final dele.</p>
                    <button (click)="onClick('contact')" class="default-btn-two">
                        Vamos Começar <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="software-banner-image">
                    <img src="../../../../../assets/images/banner/banner-img.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</div>
