<div class="call-to-action-area bg-image ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-8 col-md-12">
                <div class="call-to-action-content">
                    <h2>We Open for You 24 Hours a Day to Growing Our Partnerships in a Better Way</h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="call-to-action-btn">
                    <button type="button" class="default-btn-two" (click)="ngxSmartModalService.getModal('contactPopup').open()">
                        Contact Us <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>