<div class="cs-choose-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="cs-choose-content">
                    <span class="sub-title">Why Choose Us</span>
                    <h2>Reduce Attacker Time With Early Detection &amp; Derailment Of In-network Threats</h2>
                    <p>We work hand-in-hand with industry-leading brands to help redefine the possibilities and potential of digital engagements We work hand-in-hand with industry-leading brands to help redefine the possibilities and potential.</p>
                    <ul class="list">
                        <li><i class="fa-solid fa-check"></i> Premium Services And Beyond Your Expectation.</li>
                        <li><i class="fa-solid fa-check"></i> World Class Cyber Security Tech.</li>
                        <li><i class="fa-solid fa-check"></i> Quick Alert With Auto Action &amp; Low Maintenance.</li>
                    </ul>
                    <button (click)="onClick('contact')" class="default-btn-two">
                        Get Started <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="cs-choose-image">
                    <img src="../../../../../assets/images/cyber-security/choose.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
