<div id="pricing" class="bc-pricing-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Pricing</span>
            <h2>Simple Pricing Plan</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-pricing-item">
                    <div class="pricing-header">
                        <h3>Basic Plan</h3>
                        <span class="price">$29<span>/year</span></span>
                    </div>
                    <ul class="features-list">
                        <li>Increase Traffic 100%</li>
                        <li>Content Optimization</li>
                        <li>24x7 Great Support</li>
                        <li class="unactive">100% Safe & Secure</li>
                        <li class="unactive">No Hidden Charges</li>
                    </ul>
                    <a class="default-btn-two" href="#">
                        Choose Plan <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-pricing-item active">
                    <div class="ribbon">
                        <span>Popular</span>
                    </div>
                    <div class="pricing-header">
                        <h3>Ultra Plan</h3>
                        <span class="price">$39<span>/year</span></span>
                    </div>
                    <ul class="features-list">
                        <li>Increase Traffic 100%</li>
                        <li>Content Optimization</li>
                        <li>24x7 Great Support</li>
                        <li>100% Safe & Secure</li>
                        <li class="unactive">No Hidden Charges</li>
                    </ul>
                    <a class="default-btn-two" href="#">
                        Choose Plan <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="bc-pricing-item">
                    <div class="pricing-header">
                        <h3>Enterprise Plan</h3>
                        <span class="price">$49<span>/year</span></span>
                    </div>
                    <ul class="features-list">
                        <li>Increase Traffic 100%</li>
                        <li>Content Optimization</li>
                        <li>24x7 Great Support</li>
                        <li>100% Safe & Secure</li>
                        <li>No Hidden Charges</li>
                    </ul>
                    <a class="default-btn-two" href="#">
                        Choose Plan <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>