<form [formGroup]="uploadForm">
  <div class="row mt-3">
    <div class="mb-3 col-12 col-sm-6 col-lg-2">
      <label class="label">País</label>
      <nb-form-field>
        <nb-select #select size="large" formControlName="country">
          <nb-option *ngFor="let countryCode of countryCodes"
                     [value]="countryCode.dial_code">{{countryCode.name}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
          {{ uploadForm.get('country')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">
        <nb-icon nbPrefix icon="phone-call-outline" status="success"></nb-icon>
        Whatsapp <span class="text-danger">
        *
      </span></label>
      <nb-form-field>
        <input type="tel" status="success" nbInput fullWidth placeholder="Número de celular" formControlName="whatsapp"
               fieldSize="large" [mask]="countryMasks[selectedCountry?.code]"
               [status]="(uploadForm.get('whatsapp')!.dirty || uploadForm.get('whatsapp')!.touched) ? (uploadForm.get('whatsapp')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
          {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Nome</label>
      <nb-form-field>
        <input fullWidth placeholder="Primeiro nome" formControlName="name"
               fieldSize="large"
               [status]="(uploadForm.get('name')!.dirty || uploadForm.get('name')!.touched) ? (uploadForm.get('name')!.invalid  ? 'danger' : 'success') : 'basic'"
               nbInput
               type="text"
               [nbAutocomplete]="nameAutoComplete"/>
        <nb-icon
          nbTooltip="Os nomes escritos na listagem possuem narração. Mas não se preocupe, não tem problema caso seu nome não esteja na lista, ele só não será narrado"
          nbSuffix icon="info-outline"></nb-icon>
        <nb-autocomplete #nameAutoComplete>

          <nb-option *ngFor="let option of validatedNames" [value]="option">
            {{ option }}
          </nb-option>

        </nb-autocomplete>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
          {{ uploadForm.get('name')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3">
      <label class="label">Petisco</label>
      <nb-form-field>
        <nb-select fullWidth placeholder="Selecione um petisco..." formControlName="petisco" size="large"
                   [status]="(uploadForm.get('petisco')!.dirty || uploadForm.get('petisco')!.touched) ? (uploadForm.get('petisco')!.invalid  ? 'danger' : 'success') : 'basic'">
          <nb-option *ngFor="let petisco of petiscos" [value]="petisco.value">{{petisco.displayName}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('petisco')!.invalid && uploadForm.get('petisco')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('petisco')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('petisco')!.errors?.apiValidation">
          {{ uploadForm.get('petisco')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Prato Principal</label>
      <nb-form-field>
        <nb-select fullWidth placeholder="Selecione um prato principal..." formControlName="pratoPrincipal" size="large"
                   [status]="(uploadForm.get('pratoPrincipal')!.dirty || uploadForm.get('pratoPrincipal')!.touched) ? (uploadForm.get('pratoPrincipal')!.invalid  ? 'danger' : 'success') : 'basic'">
          <nb-option *ngFor="let pratoPrincipal of pratosPrincipais"
                     [value]="pratoPrincipal.value">{{pratoPrincipal.displayName}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('pratoPrincipal')!.invalid && uploadForm.get('pratoPrincipal')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('pratoPrincipal')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('pratoPrincipal')!.errors?.apiValidation">
          {{ uploadForm.get('pratoPrincipal')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Sobremesa</label>
      <nb-form-field>
        <nb-select fullWidth placeholder="Selecione uma sobremesa..." formControlName="sobremesa" size="large"
                   [status]="(uploadForm.get('sobremesa')!.dirty || uploadForm.get('sobremesa')!.touched) ? (uploadForm.get('sobremesa')!.invalid  ? 'danger' : 'success') : 'basic'">
          <nb-option *ngFor="let sobremesa of sobremesas"
                     [value]="sobremesa.value">{{sobremesa.displayName}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('sobremesa')!.invalid && uploadForm.get('sobremesa')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('sobremesa')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('sobremesa')!.errors?.apiValidation">
          {{ uploadForm.get('sobremesa')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4">
      <label class="label">Alívio Cômico</label>
      <nb-form-field>
        <input type="text" nbInput fullWidth placeholder="Alívio Cômico..." formControlName="alivioComico"
               fieldSize="large"
               [status]="(uploadForm.get('alivioComico')!.dirty || uploadForm.get('alivioComico')!.touched) ? (uploadForm.get('alivioComico')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('alivioComico')!.invalid && uploadForm.get('alivioComico')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('alivioComico')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('alivioComico')!.errors?.apiValidation">
          {{ uploadForm.get('alivioComico')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12">
      <label class="label">Amigos</label>
      <div class="row">
        <div class="mb-3 col-12 col-md-6">
          <nb-form-field>
            <input type="text" nbInput fullWidth placeholder="Nome de um amigo..." [formControl]="friendInput"
                   fieldSize="large"
                   [status]="(friendInput.dirty || friendInput.touched) ? (friendInput.invalid  ? 'danger' : 'success') : 'basic'">
            <button nbSuffix nbButton size="large" appearance="ghost" type="button" (click)="addFriend()">
              <nb-icon icon="plus-outline"></nb-icon>
            </button>
          </nb-form-field>
          <ng-container *ngIf="friendInput.invalid && friendInput.touched">
            <small class="text-danger d-block" *ngIf="friendInput.errors?.required">
              Campo obrigatório
            </small>
            <small class="text-danger d-block" *ngIf="friendInput.errors?.apiValidation">
              {{ friendInput.errors?.apiValidation}}
            </small>
          </ng-container>
        </div>
        <div class="mb-3 col-12 col-md-6 overflow-auto friends-list">
          <ng-container *ngIf="uploadForm.get('amigos')?.value?.size > 0">
            <div *ngFor="let friend of uploadForm.get('amigos')?.value; let i = index">
              <nb-alert>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column">
                    <span class="header-title poppins">{{i + 1}}º Amigo</span> <h6
                    class="fw-bold poppins"> {{friend | empty}}</h6>
                  </div>
                  <div>
                    <button nbButton ghost status="danger" size="medium" (click)="removeFriend(friend)">
                      <nb-icon icon="trash-outline"></nb-icon>
                    </button>
                  </div>
                </div>
              </nb-alert>
            </div>
          </ng-container>
          <ng-container *ngIf="!uploadForm.get('amigos')?.value || uploadForm.get('amigos')?.value?.size === 0">
            <div class="text-center">
              <nb-tag appearance="outline" status="danger" text="Nenhum amigo foi adicionado"
                      style="text-transform: unset!important;"></nb-tag>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</form>
