<div id="team" class="team pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Team</span>
            <h2>Our Awesome Team</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center">
                    <img src="../../../../../assets/images/team/team1.jpg" alt="member-image" class="rounded-circle">
                    <div class="team-caption">
                        <h3>James White</h3>
                        <p>CEO & Founder</p>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class="fa-brands fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center">
                    <img src="../../../../../assets/images/team/team2.jpg" alt="member-image" class="rounded-circle">
                    <div class="team-caption">
                        <h3>Johnson Lee</h3>
                        <p>Backend Specialist</p>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class="fa-brands fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center">
                    <img src="../../../../../assets/images/team/team3.jpg" alt="member-image" class="rounded-circle">
                    <div class="team-caption">
                        <h3>Williams Smith</h3>
                        <p>Front-End Specialist</p>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class="fa-brands fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-6">
                <div class="team-card text-center">
                    <img src="../../../../../assets/images/team/team4.jpg" alt="member-image" class="rounded-circle">
                    <div class="team-caption">
                        <h3>David Miller</h3>
                        <p>React.js Specialist</p>
                        <ul class="social-links">
                            <li>
                                <a href="https://www.linkedin.com/" target="_blank">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/" target="_blank">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/" target="_blank">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://dribbble.com/" target="_blank">
                                    <i class="fa-brands fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
