<div class="bg-dark">

    <app-sss-banner></app-sss-banner>

    <app-sss-partner></app-sss-partner>

    <app-sss-about></app-sss-about>

    <div class="separate-border"></div>

    <app-sss-services></app-sss-services>

    <div class="separate-border"></div>

    <app-sss-how-it-works></app-sss-how-it-works>

    <div class="separate-border"></div>

    <app-sss-pricing></app-sss-pricing>

    <div class="separate-border"></div>

    <app-sss-feedback></app-sss-feedback>

    <app-subscribe></app-subscribe>
    
</div>