<div id="blog" class="blog-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Blog</span>
            <h2>Latest News from Putz</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="blog-slides">
            <owl-carousel-o [options]="blogSlides">
                <ng-template carouselSlide>
                    <div class="single-blog-item">
                        <div class="image">
                            <a routerLink="/blog-details" class="d-block">
                                <img src="../../../../../assets/images/blog/blog1.jpg" alt="image">
                            </a>
                            <span class="post-tag">Agency</span>
                        </div>
                        <div class="content">
                            <span class="date">June 16, 2022</span>
                            <h3>
                                <a routerLink="/blog-details">
                                    8 Q1 Local Search Developments You Need to Know About
                                </a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <a class="read-more-btn" routerLink="/blog-details">
                                Read More <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-item">
                        <div class="image">
                            <a routerLink="/blog-details" class="d-block">
                                <img src="../../../../../assets/images/blog/blog2.jpg" alt="image">
                            </a>
                            <span class="post-tag">Development</span>
                        </div>
                        <div class="content">
                            <span class="date">June 15, 2022</span>
                            <h3>
                                <a routerLink="/blog-details">
                                    How Social Media Trends Can Influence Your SEO
                                </a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <a class="read-more-btn" routerLink="/blog-details">
                                Read More <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-item">
                        <div class="image">
                            <a routerLink="/blog-details" class="d-block">
                                <img src="../../../../../assets/images/blog/blog3.jpg" alt="image">
                            </a>
                            <span class="post-tag">Design</span>
                        </div>
                        <div class="content">
                            <span class="date">June 14, 2022</span>
                            <h3>
                                <a routerLink="/blog-details">
                                    SEO & Core Algorithms: How to Address, Analyze, and Affect
                                </a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <a class="read-more-btn" routerLink="/blog-details">
                                Read More <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-blog-item">
                        <div class="image">
                            <a routerLink="/blog-details" class="d-block">
                                <img src="../../../../../assets/images/blog/blog4.jpg" alt="image">
                            </a>
                            <span class="post-tag">Technology</span>
                        </div>
                        <div class="content">
                            <span class="date">June 13, 2022</span>
                            <h3>
                                <a routerLink="/blog-details">
                                    How to Ace Your Marketing Interview Project Proposal
                                </a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            <a class="read-more-btn" routerLink="/blog-details">
                                Read More <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
