<form [formGroup]="passwordForm" (ngSubmit)="savePassword()">
  <div class="row">
    <div class="mb-3 col-12 col-md-4" *ngIf="!isAdmin">
      <label class="label">Senha antiga</label>
      <nb-form-field>
        <input type="text" nbInput fullWidth placeholder="Senha atual..." formControlName="currentPassword" fieldSize="large"
               [status]="(passwordForm.get('currentPassword')!.dirty || passwordForm.get('currentPassword')!.touched) ? (passwordForm.get('currentPassword')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="passwordForm.get('currentPassword')!.invalid && passwordForm.get('currentPassword')!.touched">
        <p class="text-danger" *ngIf="passwordForm.get('currentPassword')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-4">
      <label class="label">Nova senha</label>
      <nb-form-field>
        <input type="text" nbInput fullWidth placeholder="Nova senha..." formControlName="newPassword" fieldSize="large"
               [status]="(passwordForm.get('newPassword')!.dirty || passwordForm.get('newPassword')!.touched) ? (passwordForm.get('newPassword')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="passwordForm.get('newPassword')!.invalid && passwordForm.get('newPassword')!.touched">
        <p class="text-danger" *ngIf="passwordForm.get('newPassword')!.errors?.required">
          Campo obrigatório
        </p>
        <p class="text-danger" *ngIf="passwordForm.get('newPassword')!.errors?.minlength">
          Senha é muito curta!
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-4">
      <label class="label">Confirmar senha</label>
      <nb-form-field>
        <input type="text" nbInput fullWidth placeholder="Confirmar nova senha..." formControlName="confirmPassword"
               fieldSize="large"
               [status]="(passwordForm.get('confirmPassword')!.dirty || passwordForm.get('confirmPassword')!.touched) ? (passwordForm.get('confirmPassword')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container
        *ngIf="passwordForm.get('confirmPassword')!.invalid && passwordForm.get('confirmPassword')!.touched">
        <p class="text-danger" *ngIf="passwordForm.get('confirmPassword')!.errors?.required">
          Campo obrigatório
        </p>
        <p class="text-danger" *ngIf="passwordForm.get('confirmPassword')!.errors?.passwordCheck">
          As senhas não conhecidem
        </p>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="mb-3 col-12 text-end">
      <button nbButton status="primary" type="submit" size="medium">Atualizar senha</button>
    </div>
  </div>
</form>
