.cta-area {
    position: relative;
    z-index: 1;
    background: {
        image: url('../../../../../../assets/images/cta-bg.jpg');
        position: center center;
        attachment: fixed;
        size: cover;
    };
    &::before {
        background: var(--gradientColor);
        position: absolute;
        opacity: .95;
        height: 100%;
        width: 100%;
        content: '';
        z-index: -1;
        left: 0;
        top: 0;
    }
}
.cta-content {
    text-align: center;

    .sub-title {
        display: block;
        font-weight: 500;
        margin-bottom: 15px;
        color: var(--whiteColor);
    }
    h2 {
        color: var(--whiteColor);
        margin-bottom: 15px;
        font-size: 50px;
    }
    .default-btn {
        margin-top: 8px;
        color: var(--blackColor);
        background-color: var(--blackColor);

        &::before {
            background: var(--whiteColor);
        }
        &:hover {
            color: var(--whiteColor);
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .cta-content {
        .sub-title {
            margin-bottom: 12px;
        }
        h2 {
            font-size: 30px;
        }
        .default-btn {
            margin-top: 3px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .cta-content {
        h2 {
            font-size: 37px;
        }
        .default-btn {
            margin-top: 5px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .cta-content {
        h2 {
            font-size: 40px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}
