<div id="pricing" class="bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Pricing Plan</span>
            <h2>No Hidden Charge Applied, Choose Your Plan</h2>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="app-pricing-box">
                    <div class="title">
                        <h3>Basic</h3>
                        <p>Powerful & awesome elements</p>
                    </div>
                    <div class="price">
                        $39 <span>/Month</span>
                    </div>
                    <a class="default-btn-three" href="javascript:void(0)">Purchase Plan</a>
                    <ul class="features-list">
                        <li><i class="fa-solid fa-check"></i> Up to 10 Website</li>
                        <li><i class="fa-solid fa-check"></i> Lifetime free Support</li>
                        <li><i class="fa-solid fa-check"></i> 10 GB Dedicated Hosting free</li>
                        <li><i class="fa-solid fa-check"></i> 24/7 Support</li>
                        <li><i class="fa-solid fa-xmark"></i> SEO Optimized</li>
                        <li><i class="fa-solid fa-xmark"></i> Live Support</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="app-pricing-box active">
                    <div class="title">
                        <h3>Team</h3>
                        <p>Powerful & awesome elements</p>
                    </div>
                    <span class="popular">Most Popular</span>
                    <div class="price">
                        $49 <span>/Month</span>
                    </div>
                    <a class="default-btn-three" href="javascript:void(0)">Purchase Plan</a>
                    <ul class="features-list">
                        <li><i class="fa-solid fa-check"></i> Up to 200 Website</li>
                        <li><i class="fa-solid fa-check"></i> Lifetime free Support</li>
                        <li><i class="fa-solid fa-check"></i> 25 GB Dedicated Hosting free</li>
                        <li><i class="fa-solid fa-check"></i> 24/7 Support</li>
                        <li><i class="fa-solid fa-check"></i> SEO Optimized</li>
                        <li><i class="fa-solid fa-xmark"></i> Live Support</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="app-pricing-box">
                    <div class="title">
                        <h3>Business</h3>
                        <p>Powerful & awesome elements</p>
                    </div>
                    <div class="price">
                        $59 <span>/Yearly</span>
                    </div>
                    <a class="default-btn-three" href="javascript:void(0)">Purchase Plan</a>
                    <ul class="features-list">
                        <li><i class="fa-solid fa-check"></i> Up to 500 Website</li>
                        <li><i class="fa-solid fa-check"></i> Lifetime free Support</li>
                        <li><i class="fa-solid fa-check"></i> 50 GB Dedicated Hosting free</li>
                        <li><i class="fa-solid fa-check"></i> 24/7 Support</li>
                        <li><i class="fa-solid fa-check"></i> SEO Optimized</li>
                        <li><i class="fa-solid fa-check"></i> Live Support</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>