<div id="feedback" class="feedback-area bg-f9f9f9 ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Feedback</span>
            <h2>Our Clients Feedback</h2>
        </div>
        <div class="feedback-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt ut ore et dolore magna aliqua. Quis ipsum suisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <div class="bar"></div>
                        <h3>Oliver Smith</h3>
                        <span>React JS Specialist</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt ut ore et dolore magna aliqua. Quis ipsum suisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <div class="bar"></div>
                        <h3>Thomas John</h3>
                        <span>Angular JS Specialist</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt ut ore et dolore magna aliqua. Quis ipsum suisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <div class="bar"></div>
                        <h3>John Smith</h3>
                        <span>CEO & Founder, PutzFilmes</span>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-feedback-box">
                        <p>Lorem ipsum dolor sit amet, consectetur cing elit, sed do eiusmod tempor incididunt ut ore et dolore magna aliqua. Quis ipsum suisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                        <div class="bar"></div>
                        <h3>Alina Sarah</h3>
                        <span>CEO & Founder, ET</span>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
