.single-feedback-box {
    padding: 30px;
    background-color: var(--whiteColor);

    p {
        color: var(--blackColor);
        line-height: 1.9;
        font: {
            size: 17px;
            weight: 500;
        };
    }
    .bar {
        background: var(--gradientColor);
        height: 2px;
        width: 35px;
        margin: {
            top: 20px;
            bottom: 25px;
        };
    }
    h3 {
        font-size: 25px;
        margin-bottom: 5px;
    }
    span {
        display: block;
        font-size: 15px;
        color: var(--optionalColor);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .single-feedback-box {
        padding: 18px;

        p {
            font-size: 15px;
        }
        .bar {
            margin: {
                top: 15px;
                bottom: 18px;
            };
        }
        h3 {
            font-size: 20px;
            margin-bottom: 3px;
        }
        span {
            font-size: 13px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-feedback-box {
        padding: 20px;

        p {
            font-size: 16px;
        }
        .bar {
            margin: {
                top: 15px;
                bottom: 18px;
            };
        }
        h3 {
            font-size: 23px;
        }
        span {
            font-size: 14px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .single-feedback-box {
        padding: 20px;

        p {
            font-size: 16px;
        }
        .bar {
            margin: {
                top: 20px;
                bottom: 20px;
            };
        }
        h3 {
            font-size: 24px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}