<div id="feedback" class="feedback-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Feedback</span>
            <h2>My Clients Feedback</h2>
        </div>
        <div class="feedback-list">
            <div class="quotes-icon">
                <img src="../../../../../assets/images/left-quote-white.png" alt="icon">
            </div>
            <div class="feedback-slides">
                <owl-carousel-o [options]="feedbackSlides">
                    <ng-template carouselSlide>
                        <div class="single-feedback-box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="d-flex align-items-center">
                                <img src="../../../../../assets/images/user/user1.jpg" alt="user">
                                <div class="title">
                                    <h3>Oliver Smith</h3>
                                    <span>React JS Specialist</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-feedback-box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="d-flex align-items-center">
                                <img src="../../../../../assets/images/user/user2.jpg" alt="user">
                                <div class="title">
                                    <h3>Sarah Taylor</h3>
                                    <span>Angular JS Specialist</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template carouselSlide>
                        <div class="single-feedback-box">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                            <div class="d-flex align-items-center">
                                <img src="../../../../../assets/images/user/user3.jpg" alt="user">
                                <div class="title">
                                    <h3>John Smith</h3>
                                    <span>CEO & Founder, PutzFilmes</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </owl-carousel-o>
            </div>
        </div>
    </div>
    <div class="client-image-box">
        <img src="../../../../../assets/images/clients/client1.png" class="client1" alt="client">
        <img src="../../../../../assets/images/clients/client2.png" class="client2" alt="client">
        <img src="../../../../../assets/images/clients/client3.png" class="client3" alt="client">
        <img src="../../../../../assets/images/clients/client4.png" class="client4" alt="client">
        <img src="../../../../../assets/images/clients/client5.png" class="client5" alt="client">
        <img src="../../../../../assets/images/clients/client6.png" class="client6" alt="client">
        <img src="../../../../../assets/images/clients/client7.png" class="client7" alt="client">
        <img src="../../../../../assets/images/clients/client8.png" class="client8" alt="client">
    </div>
</div>
