<form [formGroup]="uploadForm">
  <div class="row mt-3">
    <div class="row col-12 col-sm-6 col-lg-9">
      <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
        <label class="label">Nome Consultor<span class="text-danger">*</span></label>
        <input type="text" placeholder="Digite um nome..." formControlName="name" class="form-control">
        <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
            {{ uploadForm.get('name')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
        <label class="label">Email Consultor<span class="text-danger">*</span></label>
        <input type="text" placeholder="Digite seu email..." formControlName="email" class="form-control">
        <ng-container *ngIf="uploadForm.get('email')!.invalid && uploadForm.get('email')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('email')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('email')!.errors?.apiValidation">
            {{ uploadForm.get('email')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
        <label class="label"><strong>Telefone Consultor<span class="text-danger">*</span></strong></label>
        <input type="tel" placeholder="Número de celular..." formControlName="phone" class="form-control">
        <ng-container *ngIf="uploadForm.get('phone')!.invalid && uploadForm.get('phone')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('phone')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('phone')!.errors?.apiValidation">
            {{ uploadForm.get('phone')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
        <label class="label">País<span class="text-danger">*</span></label>
          <select #select size="large" formControlName="country" class="form-control">
            <option *ngFor="let countryCode of countryCodes"
                       [value]="countryCode.dial_code">{{countryCode.name}}</option>
          </select>
        <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
            {{ uploadForm.get('country')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
        <label class="label">Whatsapp <span class="text-danger">*</span></label>
        <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control"
               [mask]="countryMasks[selectedCountry.code]" *ngIf="countryMasks[selectedCountry.code]">
        <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control" *ngIf="!countryMasks[selectedCountry.code]">
        <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
            {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
      <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
        <label class="label">Gênero</label>
          <select size="large" formControlName="gender" class="form-control">
            <option *ngFor="let gender of genders"
                       [value]="gender.value">{{gender.displayName}}</option>
          </select>
        <ng-container *ngIf="uploadForm.get('gender')!.invalid && uploadForm.get('gender')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('gender')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('gender')!.errors?.apiValidation">
            {{ uploadForm.get('gender')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
    </div>
    <div class="row col-12 col-sm-6 col-lg-3 p-2 m-2 border bg-light rounded-3">
      <label class="label p-1"><strong>Minha Foto</strong></label>
      <img *ngIf="uploadForm.get('urlPhoto').value != ''" width="200"
           [src]="uploadForm.get('urlPhoto').value" alt="">
      <img *ngIf="uploadForm.get('urlPhoto').value == ''" width="50%" height="50%" class="p-5"
           src='/assets/images/forms/pt-lula/semfoto.png' alt="" (click)="openImageCropperDialog()">
      <div class="d-flex align-items-center justify-content-center m-1">
        <button type="submit" class="btn btn-sm btn-danger mx-1" *ngIf="uploadForm.get('urlPhoto')?.value" (click)="uploadForm.get('urlPhoto')?.reset()">Remover Imagem</button>
        <button class="btn btn-sm btn-primary mx-1" (click)="openImageCropperDialog()">
          <ng-container *ngIf="uploadForm.get('urlPhoto')?.value">
            Trocar imagem
          </ng-container>
          <ng-container *ngIf="!uploadForm.get('urlPhoto')?.value">
            Adicionar imagem
          </ng-container>
        </button>
        <ng-container *ngIf="uploadForm.get('urlPhoto')!.invalid && uploadForm.get('urlPhoto')!.touched">
          <small class="text-danger d-block" *ngIf="uploadForm.get('urlPhoto')!.errors?.required">
            Campo obrigatório
          </small>
          <small class="text-danger d-block" *ngIf="uploadForm.get('urlPhoto')!.errors?.apiValidation">
            {{ uploadForm.get('urlPhoto')!.errors?.apiValidation}}
          </small>
        </ng-container>
      </div>
    </div>

  </div>
</form>
