<form [formGroup]="uploadForm" (ngSubmit)="onSubmitPrecadastro()">
  <div class="row mt-3">
    <div class="mb-3 col-12 col-md-2">
      <label class="label">Whatsapp</label>
      <nb-form-field>
        <nb-icon nbPrefix icon="phone-call-outline" status="success"></nb-icon>
        <input type="tel" status="success" nbInput fullWidth placeholder="Número de celular" formControlName="whatsapp"
               fieldSize="large" mask="(00) 0 0000-0000"
               [status]="(uploadForm.get('whatsapp')!.dirty || uploadForm.get('whatsapp')!.touched) ? (uploadForm.get('whatsapp')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
          {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-4">
      <label class="label">Nome</label>
      <nb-form-field>
        <input type="text" nbInput fullWidth placeholder="Primeiro nome" formControlName="name"
               fieldSize="large" maxlength="12" minlength="3"
               [status]="(uploadForm.get('name')!.dirty || uploadForm.get('name')!.touched) ? (uploadForm.get('name')!.invalid  ? 'danger' : 'success') : 'basic'">
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
          {{ uploadForm.get('name')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>


    <div class="mb-3 col-12 col-md-3">
      <label class="label">Escolaridade</label>
      <nb-form-field>
        <nb-select size="large" formControlName="escolaridade" fullWidth>
          <nb-option *ngFor="let escolaridade of escolaridades"
                     [value]="escolaridade.value">{{escolaridade.displayValue}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('escolaridade')!.invalid && uploadForm.get('escolaridade')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('escolaridade')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('escolaridade')!.errors?.apiValidation">
          {{ uploadForm.get('escolaridade')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-3">
      <label class="label">Estrategia</label>
      <nb-form-field>
        <nb-select size="large" formControlName="estrategia" fullWidth>
          <nb-option *ngFor="let estrategia of estrategias"
                     [value]="estrategia.value">{{estrategia.displayValue}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('estrategia')!.invalid && uploadForm.get('estrategia')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('estrategia')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('estrategia')!.errors?.apiValidation">
          {{ uploadForm.get('estrategia')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-3">
      <label class="label">Faixa Etária</label>
      <nb-form-field>
        <nb-select size="large" formControlName="faixaEtaria" fullWidth>
          <nb-option *ngFor="let faixaEtaria of faixaEtarias"
                     [value]="faixaEtaria.value">{{faixaEtaria.displayValue}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('faixaEtaria')!.invalid && uploadForm.get('faixaEtaria')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('faixaEtaria')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('faixaEtaria')!.errors?.apiValidation">
          {{ uploadForm.get('faixaEtaria')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-3">
      <label class="label">Gênero</label>
      <nb-form-field>
        <nb-select size="large" formControlName="gender" fullWidth>
          <nb-option *ngFor="let gender of genders"
                     [value]="gender.value">{{gender.displayName}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('gender')!.invalid && uploadForm.get('gender')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('gender')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('gender')!.errors?.apiValidation">
          {{ uploadForm.get('gender')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-3">
      <label class="label">Região</label>
      <nb-form-field>
        <nb-select size="large" formControlName="region" fullWidth>
          <nb-option *ngFor="let region of regions"
                     [value]="region.value">{{region.displayValue}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('region')!.invalid && uploadForm.get('region')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('region')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('region')!.errors?.apiValidation">
          {{ uploadForm.get('region')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-md-3">
      <label class="label">Renda</label>
      <nb-form-field>
        <nb-select size="large" formControlName="renda" fullWidth>
          <nb-option *ngFor="let renda of rendas"
                     [value]="renda.value">{{renda.displayValue}}</nb-option>
        </nb-select>
      </nb-form-field>
      <ng-container *ngIf="uploadForm.get('region')!.invalid && uploadForm.get('region')!.touched">

        <small class="text-danger d-block" *ngIf="uploadForm.get('renda')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('renda')!.errors?.apiValidation">
          {{ uploadForm.get('renda')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
  </div>
</form>
