<div id="blog" class="pt-100 pb-70">
    <div class="container">
        <div class="section-title style-two">
            <h2>Latest Blog Post</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="pp-post-item">
                    <h3>
                        <a routerLink="/blog-details">
                            Top 5 Tips To Create An Eye-Catching Website
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a class="link-btn" routerLink="/blog-details">
                        Read More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pp-post-item">
                    <h3>
                        <a routerLink="/blog-details">
                            Improve Marketing Techniques For Lead Generation
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a class="link-btn" routerLink="/blog-details">
                        Read More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="pp-post-item">
                    <h3>
                        <a routerLink="/blog-details">
                            Esit And A Case For Successful Fast Delivery
                        </a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adiscing elit, sed do eiusmod tempor incididunt.</p>
                    <a class="link-btn" routerLink="/blog-details">
                        Read More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>