<nb-card class="dialog-content h-100" status="basic">
  <nb-card-header class="py-2">
    <div class="row align-items-center">
      <div class="col-8 text-start">
        <h6 class="poppins header-title mb-0">
          <ng-container *ngIf="!justAttachments">{{event?.id && !isRequest ? 'Editar ' + event?.title : 'Novo evento'}}</ng-container>
          <ng-container *ngIf="justAttachments">Adicionar anexos</ng-container>
        </h6>
        <small *ngIf="isRequest">Resposta ao evento {{event?.title}}</small>
      </div>
      <div class="col-4 text-end">
        <button nbButton ghost status="basic" (click)="close()">
          <nb-icon icon="close-outline"></nb-icon>
        </button>
      </div>
    </div>

  </nb-card-header>
  <nb-card-body class="overflow-auto">
    <app-time-line-event-update-form #eventUpdateFormComponent [projectStep]="projectStep"
                                     [justAttachments]="justAttachments" [isRequest]="isRequest"
                                     [submitting]="submitting"></app-time-line-event-update-form>
  </nb-card-body>
  <nb-card-footer class="py-2">
    <div class="row">
      <div class="text-end">
        <button class="spinner-no-bg" nbButton status="info" type="button" (click)="save()" size="small"
                [nbSpinner]="eventUpdateForm.commonSubmitting"
                [disabled]="eventUpdateForm.commonSubmitting" nbSpinnerStatus="primary">Salvar
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
