.cs-choose-content {
    padding-right: 25px;  

    .sub-title {
        display: block;
        font-weight: 500;
        margin-bottom: 12px;
        color: var(--primaryColor);
    }
    h2 {
        font-size: 45px;
        margin-bottom: 15px;
        color: var(--whiteColor);
    }
    p {
        color: #cacaca;
    }
    .list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 22px;
            bottom: 0;
        };
        li {
            font-weight: 500;
            color: #f4f5f8;
            position: relative;
            padding-left: 25px;
            margin-bottom: 15px;

            i {
                left: 0;
                top: 3px;
                position: absolute;
                color: var(--primaryColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .default-btn-two {
        margin-top: 30px;
    }
}
.cs-choose-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .cs-choose-content {
        padding-right: 0;  
    
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }
        .list {
            margin-top: 15px;

            li {
                padding-left: 20px;
            }
        }
        .default-btn-two {
            margin-top: 18px;
        }
    }
    .cs-choose-image {
        margin-top: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .cs-choose-content {
        padding-right: 0;  
    
        h2 {
            font-size: 37px;
            margin-bottom: 12px;
        }
        .list {
            margin: {
                top: 20px;
                bottom: 0;
            };
            li {
                padding-left: 20px;
            }
        }
        .default-btn-two {
            margin-top: 25px;
        }
    }
    .cs-choose-image {
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .cs-choose-content {
        padding-right: 0;  
    
        h2 {
            font-size: 40px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}