<ul class="navbar-nav">
  <ng-container *ngFor="let item of headerItems;trackBy:trackBySubHeaderItems">
    <ng-container *ngIf="!item.hidden">
      <ng-container *ngIf="item?.link">
        <a class="text-uppercase fw-bold poppins header-title {{'item-'+item.name}}" [routerLink]="[item.link]"
           [queryParams]="item.queryParams" routerLinkActive="is-active"
           [routerLinkActiveOptions]="{exact:true}">{{item?.title}}
        </a>
      </ng-container>
      <ng-container *ngIf="!item?.link && item?.children">
        <a class="text-uppercase fw-bold poppins header-title {{'item-'+item.name}}"
           [nbContextMenu]="item?.children">{{item?.title}}
        </a>
      </ng-container>
    </ng-container>
  </ng-container>
</ul>
<!--<ngx-guided-tour *ngIf="isBrowser" [doneText]="'Fechar'" [nextText]="'Prox.'" [closeText]="'Fechar'" [backText]="'Voltar'"></ngx-guided-tour>-->
