<div id="services" class="services-area pt-100 pb-70">
    <div class="container">
      <div class="section-title">
        <h2>Como os vídeos podem influenciar positivamente as vendas?</h2>
        <p>...</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-sm-6">
          <div class="service-card-one">
            <div class="icon bg-ffb700">
              <i class="fa-solid fa-lightbulb"></i>
            </div>
            <h3><a routerLink="/services-details">Absorção</a></h3>
            <p>Os vídeos permitem que a sua empresa produza um conteúdo de fácil assimilação, por meio de motion
              graphics e animações, por exemplo, pois o universo tecnológico e seu conteúdo é por vezes complexo
              demais para ser expresso em textos.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-card-one">
            <div class="icon bg-00d280">
              <i class="fa-solid fa-cart-arrow-down"></i>
            </div>
            <h3><a routerLink="/services-details">Vendas</a></h3>
            <p>
              Os vídeos aumentam os cliques, leads e as taxas de conversão. 59% dos executivos sênior
              preferem assistir um vídeo do que ler um texto. (Fonte: Forbes Insight)
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="service-card-one">
            <div class="icon bg-fc3549">
              <i class="fa-solid fa-mobile-screen-button"></i>
            </div>
            <h3><a routerLink="/services-details">Keyword Targeting</a></h3>
            <p>1 minuto de vídeo vale 1,8 MILHÕES DE PALAVRAS, de acordo com o Dr. James McQuivey, da
              Forrester Research. Isso corresponde a 150 dias escrevendo uma página da web por hora para conseguir
              o mesmo impacto proporcionado por 1 minuto de vídeo. (Fonte: Video Brewery)</p>
          </div>
        </div>
      </div>
    </div>
</div>
