.privacy-policy-content {
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 10px;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }
    strong {
        color: var(--blackColor) !important;
        font-weight: 500 !important;
    }
    p {
        a {
            color: var(--primaryColor);

            &:hover {
                text-decoration: underline;
            }
        }
    }
    ul {
        li {
            color: var(--optionalColor);
            margin-bottom: 12px;

            a {
                color: var(--primaryColor);
    
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    ol {
        li {
            color: var(--optionalColor);
            margin-bottom: 12px;

            a {
                color: var(--primaryColor);
    
                &:hover {
                    text-decoration: underline;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}