<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="content">
            <h1>Política de Privacidade </h1>
            <a routerLink="/" class="link-btn">
                Voltar
            </a>
        </div>
    </div>
</div>

<!-- Privacy Policy -->
<div class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="privacy-policy-content">
          <p>Todas as suas informações pessoais recolhidas, serão usadas para o ajudar a tornar a sua visita no nosso
            site o mais produtiva e agradável possível. A garantia da confidencialidade dos dados pessoais dos
            utilizadores do nosso site é importante para o Putz Filmes.</p>

          <p>A informação pessoal recolhida pode incluir o seu nome, e-mail, número de telefone e/ou telemóvel,
            morada, data de nascimento e/ou outros. Todas as informações pessoais relativas a membros, assinantes,
            clientes ou visitantes que usem o Putz Filmes serão tratadas em concordância com a
            Lei da Proteção de Dados Pessoais de 26 de outubro de 1998 (Lei n.º 67/98).</p>

          <p>O uso do Putz Filmes pressupõe a aceitação deste Acordo de privacidade. A equipa do Putz Filmes
            reserva-se ao direito de alterar este acordo sem aviso prévio. Deste modo, recomendamos que consulte
            a nossa política de privacidade com regularidade de forma a estar sempre atualizado.</p>

          <h3>Os anúncios</h3>

          <p>Tal como outros websites, coletamos e utilizamos informação contida nos anúncios. A informação
            contida nos anúncios, inclui o seu endereço IP (Internet Protocol), o seu ISP (Internet Service Provider,
            como o Sapo, Clix, ou outro), o browser que utilizou ao visitar o nosso website
            (como o Internet Explorer ou o Firefox), o tempo da sua visita e que páginas visitou
            dentro do nosso website.</p>

          <h3>Cookie DoubleClick Dart</h3>

          <p>O Google, como fornecedor de terceiros, utiliza cookies para exibir anúncios no nosso website,
            com o cookie DART, o Google pode exibir anúncios com base nas visitas que o leitor fez a outros
            websites na Internet e os utilizadores podem desativar o cookie DART visitando a Política de privacidade
            da rede de conteúdo e dos anúncios do Google.</p>

          <h3>Os Cookies e Web Beacons</h3>

          <p>Utilizamos cookies para armazenar informação, tais como as suas preferências pessoas quando visita
            o nosso website. Isto poderá incluir um simples popup, ou uma ligação em vários serviços que
            providenciamos, tais como fóruns.</p>

          <p>Em adição também utilizamos publicidade de terceiros no nosso website para suportar os custos de
            manutenção. Alguns destes publicitários, poderão utilizar tecnologias como os cookies e/ou
            web beacons quando publicitam no nosso website, o que fará com que esses publicitários
            (como o Google através do Google AdSense) também recebam a sua informação pessoal, como o
            endereço IP, o seu ISP, o seu browser, etc. Esta função é geralmente utilizada para geotargeting
            (mostrar publicidade de Lisboa apenas aos leitores oriundos de Lisboa por ex.) ou apresentar
            publicidade direcionada a um tipo de utilizador (como mostrar publicidade de restaurante a um
            utilizador que visita sites de culinária regularmente, por ex.).</p>

          <p>Você detém o poder de desligar os seus cookies, nas opções do seu browser, ou efetuando alterações
            nas ferramentas de programas Anti-Virus, como o Norton Internet Security. No entanto, isso poderá
            alterar a forma como interage com o nosso website, ou outros websites. Isso poderá afetar ou não
            permitir que faça logins em programas, sites ou fóruns da nossa e de outras redes.</p>

          <p>O Putz Filmes possui ligações para outros sites, os quais, a nosso ver, podem conter informações /
            ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites
            de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade
            do mesmo. Não nos responsabilizamos pela política de privacidade ou conteúdo
            presente nesses mesmos sites.</p>
          <p>O Putz Filmes possui ligações para outros sites, os quais, a nosso ver, podem conter
            informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade
            não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá
            ler a politica de privacidade do mesmo. Não nos responsabilizamos pela política de privacidade
            ou conteúdo presente nesses mesmos sites.</p>
          <h3>Ligações a Sites de terceiros</h3>

          <p>O Putz Filmes possui ligações para outros sites, os quais, a nosso ver, podem conter informações / ferramentas úteis para os nossos visitantes. A nossa política de privacidade não é aplicada a sites de terceiros, pelo que, caso visite outro site a partir do nosso deverá ler a politica de privacidade do mesmo. Não nos responsabilizamos pela política de privacidade ou conteúdo presente nesses mesmos sites.

          <p>Última Atualização: 30 de Junho, 2020 at 24:00 pm</p>

          <div *ngIf="false">
            <h3>Intellectual property indemnity</h3>
            <p>We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make <a routerLink="/">available</a> on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, company name. We will collect personal <strong>identification</strong> information from Users only if they voluntarily consent such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
            <h3>General permission to use and access and use limitations</h3>
            <p>This site is provided by <strong>Lunio</strong>. <strong>Lunio</strong> collects information in several ways from different parts of this site.</p>
            <p><strong>1.</strong> Complimentary ground shipping within 1 to 7 business days<br>
                <strong>2.</strong> In-store collection available within 1 to 7 business days<br>
                <strong>3.</strong> Next-day and Express delivery options also available<br>
                <strong>4.</strong> Purchases are delivered in an orange box tied with a Bolduc ribbon, with the exception of certain items<br>
                <strong>5.</strong> See the delivery FAQs for details on shipping methods, costs and delivery times
            </p>
            <h3>Limitation of liability</h3>
            <p><strong>Lunio</strong> accepts the following payment methods:</p>
            <ul>
                <li>Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>, <strong>Discover</strong>, <strong>American Express</strong>, <strong>JCB</strong>, <strong>Visa Electron</strong>. The total will be charged to your card when the order is shipped.</li>
                <li><strong>Lunio</strong> features a Fast Checkout option, allowing you to securely save your credit card details so that you don't have to re-enter them for future purchases.</li>
                <li>PayPal: Shop easily online without having to enter your credit card details on the website.Your account will be charged once the order is completed. To register for a PayPal account, visit the website <a href="#" target="_blank">paypal.com.</a></li>
            </ul>
            <h3>Linking to this Site</h3>
            <p>Items returned within 14 days of their original shipment date in same as new condition will be eligible for a full refund or store credit. Refunds will be charged back form of payment used for purchase. Customer is responsible for shipping charges when making returns and shipping/handling fees of original purchase is non-refundable.</p>
            <h3>Intellectual property</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus, maximus vel augue sed, pharetra hendrerit orci. Vivamus sed massa in nibh imperdiet mattis quis sed augue. Pellentesque erat metus, vestibulum nec nisl.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus.</p>
            <h3>Security and storage</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget euismod erat, sit amet vulputate enim. Etiam enim tellus.</p>
            <ol>
                <li>Credit Card: <strong>Visa</strong>, <strong>MasterCard</strong>, <strong>Discover</strong>, <strong>American Express</strong>, <strong>JCB</strong>, <strong>Visa Electron</strong>. The total will be charged to your card when the order is shipped.</li>
                <li><strong>Lunio</strong> features a Fast Checkout option, allowing you to securely save your credit card details so that you don't have to re-enter them for future purchases.</li>
                <li>PayPal: Shop easily online without having to enter your credit card details on the website.Your account will be charged once the order is completed. To register for a PayPal account, visit the website <a href="#" target="_blank">paypal.com.</a></li>
            </ol>
            <p>Last updated: June 30, 2022 at 24:00 pm</p>
        </div>
        </div>
    </div>
</div>
