<div class="row portfolio-list">
  <div class="col-12 col-lg-6" *ngFor="let portfolio of portfolios;trackBy:trackPortfoliosByFn">
    <nb-card status="basic">
      <nb-card-header class="py-3">
        <div class="row align-items-center">
          <div class="col-6">
            <h5 class="poppins header-title">{{portfolio?.name | empty}}</h5>
          </div>
          <div class="col-6 text-end">
            <nb-tag-list>
              <nb-tag *ngIf="!portfolio?.fileLink && !portfolio?.file" appearance="outline" status="warning" size="tiny"
                      text="Sem arquivo"></nb-tag>
              <!--            <nb-tag *ngIf="portfolio-manager?.fileLink" appearance="outline" status="success" size="tiny"-->
              <!--                    text="Arquivo via link"></nb-tag>-->
              <!--            <nb-tag *ngIf="portfolio-manager?.file" appearance="outline" status="success" size="tiny"-->
              <!--                    text="Arquivo baixável"></nb-tag>-->
              <nb-tag appearance="outline" status="success" size="tiny"
                      [text]="('portfolio.requestStatus.'+portfolio.requestStatus) | translate"></nb-tag>
              <nb-tag appearance="outline" status="primary" size="tiny"
                      [text]="portfolio?.level?('level.'+portfolio?.level | translate):'---'"></nb-tag>
            </nb-tag-list>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <!--          <div class="col-12 nb-tag-margin">-->
          <!--            <h6 class="poppins header-title-color">Tags</h6>-->
          <!--            <nb-tag size="tiny" status="primary" appearance="outline" *ngFor="let tag of portfolio-manager?.tags"-->
          <!--                    [text]="tag?.name | empty"></nb-tag>-->
          <!--            <lib-simple-not-found appearance="outline" size="tiny"-->
          <!--                           *ngIf="!(portfolio-manager?.tags | empty:'boolean')"></lib-simple-not-found>-->
          <!--          </div>-->
          <div class="col-12">
            <p>{{portfolio?.description}}</p>
          </div>
        </div>
        <!--        <div class="row mt-3 small header-title-color">-->
        <!--          <div class="col-6 text-start">-->
        <!--            Criação:-->
        <!--            <strong>{{ portfolio-manager!.createdDate | convert | date:'dd/MM/yyyy' | empty}}</strong>-->
        <!--          </div>-->
        <!--          <div class="col-6 text-end">-->
        <!--            Modificação:-->
        <!--            <strong>{{portfolio-manager!.lastModifiedDate | convert | date:'dd/MM/yyyy' | empty}}</strong>-->
        <!--          </div>-->
        <!--        </div>-->
      </nb-card-body>
      <nb-card-footer class="border-0">
        <div class="row">
          <div class="col-12 text-end">
            <a *ngIf="portfolio?.fileLink" [href]="portfolio?.fileLink" target="_blank" nbButton appearance="outline"
               size="small" class="m-1">Ver arquivo</a>
            <a nbButton status="primary" appearance="outline" size="small" class="m-1"
               [routerLink]="['','portfolios',portfolio?.id]">Detalhes
            </a>
            <button nbButton status="danger" appearance="outline" size="small" (click)="deletePortfolio(portfolio)"
                    *nbIsGranted="['edit','portfolio-manager']" class="m-1">Excluir
            </button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
