<div id="portfolio" class="case-studies-area ptb-100">
    <div class="container-fluid">
        <div class="section-title">
            <h2>Our Projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="work-slides">
            <owl-carousel-o [options]="projectsSlides">
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work1.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>Development</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    Designing a better cinema experience
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work2.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>Web Design</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    Building design process within teams
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work3.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>eCommerce</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    How intercom brings play eCommerce
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work4.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>React.js</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    How to start a project with Reactjs
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work5.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>Angular.js</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    Examples of different types of sprints
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work6.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>UI/UX Design</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    Redesigning the New York times app
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work7.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>Graphic Design</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    Design the Web, Mobile, and eCommerce
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="work-card">
                        <img src="../../../../../assets/images/works/work8.jpg" alt="works-image">
                        <div class="content text-center">
                            <span>Bootstrap</span>
                            <h3>
                                <a routerLink="/projects-details">
                                    Redesigning the New York times app
                                </a>
                            </h3>
                            <a class="default-btn" routerLink="/projects-details">Read More</a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
