<div class="wrap-table100">
  <div class="scroll">
    <div class="table">
      <div class="row header custom-sticky-header">
        <div class="cell" [sortable]="column.name" [ngClass]="column.class" *ngFor="let column of columns"
             (sort)="onSort($event)">
          <nb-icon
            *ngIf="column.title && column.name === sort?.column && sort?.icon"
            [icon]="sort?.icon??''" class="table-header-icon mx-2"
            status="basic"></nb-icon>
          <span class="label">{{column?.title}}</span>
        </div>
      </div>
      <ng-container *ngIf="projectCases && projectCases.length > 0">
        <div class="row" *ngFor="let projectCase of projectCases;trackBy:trackProjectCasesById" [libTableRow]="columns">
          <div class="cell text-start" data-title="ID" *libTableCell="'id'">
            <nb-tag status="basic" appearance="outline" size="small"
                    [text]="projectCase?.id | empty"></nb-tag>
          </div>
          <div class="cell text-start no-wrap max-width-200px" data-title="Nome" *libTableCell="'name'">
            {{projectCase?.name | empty}}
          </div>
          <div [nbTooltip]="projectCase?.details | empty" class="cell text-start no-wrap max-width-400px"
               data-title="Descrição" *libTableCell="'description'">
            <span class="">{{projectCase?.details | empty}}</span>
          </div>
          <div class="cell text-start" data-title="Data de criação" *libTableCell="'createdDate'">
            {{projectCase?.createdDate | convert | date:'dd/MM/yyyy' | empty}}
          </div>
          <div class="cell text-start" data-title="Data de modificação" *libTableCell="'lastModifiedDate'">
            {{projectCase?.lastModifiedDate | convert | date:'dd/MM/yyyy' | empty}}
          </div>
          <div class="cell text-start" data-title="Ativo" *libTableCell="'isActive'">
            <nb-checkbox disabled [checked]="projectCase?.isActive"></nb-checkbox>
          </div>
          <div class="cell text-start text-md-end max-width-200px" data-title="" *libTableCell="'actions'">
            <a nbButton ghost status="primary" type="button"
               [routerLink]="['','admin','projectCases',projectCase?.id,'update']"
               *nbIsGranted="['edit','projectCase']" nbTooltip="Editar">
              <nb-icon icon="edit-2-outline"></nb-icon>
            </a>
            <button nbButton ghost status="danger" type="button" (click)="deleteProjectCase(projectCase)"
                    *nbIsGranted="['edit','projectCase']" nbTooltip="Desativar">
              <nb-icon icon="trash-outline"></nb-icon>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
