<div class="row align-items-center justify-content-center">
  <ng-container *ngIf="!isFeedback && !isLoadingForm">
    <div class="card mb-3 border-0">
      <div class="border-0 text-end">
        <button *ngIf="showExampleButton" class="btn btn-outline-info m-1 "
                (click)="form?.autoComplete()" size="medium" type="button">Sugestão com dados de Teste
        </button>
        <button *ngIf="showHelpButton" class="btn btn-info m-1 "
                (click)="onClick('how-it-works')" size="medium" type="button">Preciso de Ajudashow
        </button>
      </div>
    </div>
    <div class="col-12">
      <div class="card mb-3 border-0">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <ng-content></ng-content>
            </div>
            <div class="col-12 text-end">
              <ng-container *ngIf="form">
                <button class="btn btn-danger m-1" *ngIf="form?.uploadForm"
                        (click)="form?.uploadForm?.reset()" size="medium"
                        type="button">Limpar Dados
                </button>
                <button class="btn btn-success m-1" (click)="onSubmitWithForm()" type="submit">Solicitar Vídeo
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<hr *ngIf="isLoadingForm">
<div class="text-center d-flex flex-column align-items-center" *ngIf="isLoadingForm">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <strong>Carregando...</strong>
  <small>Não se preocupe. Sua solicitação está sendo enviada.</small>
</div>


