<div id="feedback" class="marketing-testimonials-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Testimonials</span>
            <h2>What Our Customers Say</h2>
        </div>
        <div class="marketing-testimonials-slides">
            <owl-carousel-o [options]="testimonialsSlides">
                <ng-template carouselSlide>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="marketing-testimonials-image">
                                <img src="../../../../../assets/images/digital-marketing/testimonials-img1.jpg" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="marketing-testimonials-content">
                                <i class="icon fa-solid fa-quote-left"></i>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra maecenas accumsan lacus vel facilisis.”</p>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="info">
                                    <h3>Sarah Taylor</h3>
                                    <span>Director</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <div class="marketing-testimonials-image">
                                <img src="../../../../../assets/images/digital-marketing/testimonials-img2.jpg" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="marketing-testimonials-content">
                                <i class="icon fa-solid fa-quote-left"></i>
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus com modo viverra maecenas accumsan lacus vel facilisis.”</p>
                                <div class="rating">
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </div>
                                <div class="info">
                                    <h3>Richard Turner</h3>
                                    <span>CEO & Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
