.marketing-testimonials-area {
    border-bottom: 1px solid #f0f0f0;
}
.marketing-testimonials-slides {
    padding: {
        left: 50px;
        right: 50px;
    };
}
.marketing-testimonials-image {
    text-align: center;
    position: relative;
    margin-right: 50px;
    z-index: 2;

    &::before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        position: absolute;
        border-radius: 50%;
        background-color: var(--primaryColor);
    }
    &::after {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -2;
        content: '';
        position: absolute;
        background-color: #ffac00;
        border-radius: 65% 35% 70% 30% / 64% 31% 69% 36%;
    }
    img {
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        display: inline-block !important;
        width: auto !important;
    }
}
.marketing-testimonials-content {
    .icon {
        line-height: 1;
        display: block;
        font-size: 45px;
        margin-bottom: 15px;
        color: var(--primaryColor);
    }
    p {
        color: var(--blackColor);
        font: {
            size: 20px;
            weight: 600;
        };
    }
    .info {
        margin-top: 25px;

        h3 {
            font-size: 25px;
            margin-bottom: 5px;
        }
        span {
            display: block;
            color: var(--primaryColor);
        }
    }
    .rating {
        i {
            color: #ffac00;
            margin-right: 3px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .marketing-testimonials-slides {
        padding: {
            left: 0;
            right: 0;
        };
    }
    .marketing-testimonials-image {
        margin: {
            right: 0;
            bottom: 20px;
        };
    }
    .marketing-testimonials-content {
        text-align: center;

        .icon {
            font-size: 35px;
            margin-bottom: 12px;
        }
        p {
            font-size: 15px;
        }
        .info {
            margin-top: 20px;
    
            h3 {
                font-size: 21px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .marketing-testimonials-slides {
        padding: {
            left: 0;
            right: 0;
        };
    }
    .marketing-testimonials-image {
        margin-right: 15px;
    }
    .marketing-testimonials-content {
        .icon {
            font-size: 35px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
        }
        .info {
            margin-top: 20px;

            h3 {
                font-size: 23px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .marketing-testimonials-slides {
        padding: {
            left: 0;
            right: 0;
        };
    }
    .marketing-testimonials-image {
        margin-right: 30px;
    }
    .marketing-testimonials-content {
        .icon {
            font-size: 40px;
        }
        p {
            font-size: 18px;
        }
        .info {
            margin-top: 20px;
    
            h3 {
                font-size: 24px;
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}