<div class="funfacts-area pt-100 pb-70 bg-f9f9f9">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="funfact-card">
                    <div class="icon">
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <h3>799 <span>k</span></h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="funfact-card">
                    <div class="icon">
                        <i class="fa-regular fa-gem"></i>
                    </div>
                    <h3>499 <span>k</span></h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="funfact-card">
                    <div class="icon">
                        <i class="fa-solid fa-briefcase"></i>
                    </div>
                    <h3>990 <span>k</span></h3>
                    <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete.</p>
                </div>
            </div>
        </div>
    </div>
</div>