<nb-card class="dialog-content">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="modal-title" putzTranslate="metrics.jvm.threads.dump.title">Threads dump</h4>
      <button nbButton ghost type="button" (click)="dismiss()">
        <nb-icon icon="close-outline"></nb-icon>
      </button>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="modal-body">
      <div class="mb-3">
    <span class="badge badge-primary hand" (click)="threadStateFilter = undefined">
      <nb-icon icon="checkmark-outline"></nb-icon>
      All&nbsp;<span class="badge badge-pill badge-default">{{ threadDumpAll }}</span>
    </span>

        <span class="badge badge-success hand" (click)="threadStateFilter = ThreadState.Runnable">
      <nb-icon icon="checkmark-outline"></nb-icon>
      Runnable&nbsp;<span class="badge badge-pill badge-default">{{ threadDumpRunnable }}</span>
    </span>

        <span class="badge badge-info hand" (click)="threadStateFilter = ThreadState.Waiting">
      <nb-icon icon="checkmark-outline"></nb-icon>
      Waiting&nbsp;<span class="badge badge-pill badge-default">{{ threadDumpWaiting }}</span>
    </span>

        <span class="badge badge-warning hand" (click)="threadStateFilter = ThreadState.TimedWaiting">
      <nb-icon icon="checkmark-outline"></nb-icon>
      Timed Waiting&nbsp;<span class="badge badge-pill badge-default">{{ threadDumpTimedWaiting }}</span>
    </span>

        <span class="badge badge-danger hand" (click)="threadStateFilter = ThreadState.Blocked">
      <nb-icon icon="checkmark-outline"></nb-icon>
      Blocked&nbsp;<span class="badge badge-pill badge-default">{{ threadDumpBlocked }}</span>
    </span>
      </div>

      <div class="pad mb-5" *ngFor="let thread of getThreads()">
        <h6 class="text-center">
          <span [ngClass]="getBadgeClass(thread.threadState)">{{ thread.threadState }}</span>

          &nbsp;{{ thread.threadName }} (ID {{ thread.threadId }})

          <a (click)="thread.showThreadDump = !thread.showThreadDump" href="javascript:void(0);">
            <span [hidden]="thread.showThreadDump" putzTranslate="metrics.jvm.threads.dump.show">Show StackTrace</span>
            <span [hidden]="!thread.showThreadDump" putzTranslate="metrics.jvm.threads.dump.hide">Hide StackTrace</span>
          </a>
        </h6>

        <div class="card" [hidden]="!thread.showThreadDump">
          <div class="card-body">
            <div *ngFor="let st of thread.stackTrace" class="break">
              <samp
              >{{ st.className }}.{{ st.methodName }}(<code>{{ st.fileName }}:{{ st.lineNumber }}</code
              >)</samp
              >
              <span class="mt-1"></span>
            </div>
          </div>
        </div>
        <table class="table table-sm table-responsive w-100">
          <caption>
            Threads dump:
            {{
            thread.threadName
            }}
          </caption>
          <thead>
          <tr>
            <th scope="col" putzTranslate="metrics.jvm.threads.dump.blockedtime">Blocked Time</th>
            <th scope="col" putzTranslate="metrics.jvm.threads.dump.blockedcount">Blocked Count</th>
            <th scope="col" putzTranslate="metrics.jvm.threads.dump.waitedtime">Waited Time</th>
            <th scope="col" putzTranslate="metrics.jvm.threads.dump.waitedcount">Waited Count</th>
            <th scope="col" putzTranslate="metrics.jvm.threads.dump.lockname">Lock Name</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{ thread.blockedTime }}</td>
            <td>{{ thread.blockedCount }}</td>
            <td>{{ thread.waitedTime }}</td>
            <td>{{ thread.waitedCount }}</td>
            <td class="thread-dump-modal-lock" title="{{ thread.lockName }}">
              <code>{{ thread.lockName }}</code>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="modal-footer">

    </div>

  </nb-card-body>
  <nb-card-footer>
    <div class="d-flex justify-content-end">
      <button nbButton status="primary" type="button" (click)="dismiss()">Fechar</button>
    </div>
  </nb-card-footer>
</nb-card>
