<div class="home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div class="hero-banner hero-bg1">
                <div class="container">
                    <div class="hero-banner-content">
                        <span class="sub-title">We are a</span>
                        <h1>Creative Agency</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button (click)="onClick('contact')" class="default-btn">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="hero-banner hero-bg2">
                <div class="container">
                    <div class="hero-banner-content">
                        <span class="sub-title">We are a</span>
                        <h1>Startup Agency</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button (click)="onClick('contact')" class="default-btn">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="hero-banner hero-bg3">
                <div class="container">
                    <div class="hero-banner-content">
                        <span class="sub-title">We are a</span>
                        <h1>Smart Agency</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <button (click)="onClick('contact')" class="default-btn">
                            Get Started
                        </button>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>