<nb-card class="dialog-content" status="basic">
  <nb-card-header class="py-2">
    <h5 class="poppins header-title">
      Cancelar {{project.name}}
    </h5>
    <small>Tem certeza que deseja cancelar esse registro?</small>

  </nb-card-header>
  <nb-card-body>
    <div class="row mt-3">
      <div class="col-12 text-center mb-3">
        <div class="row text-start">
          <div class="col-12">
            <label class="label">Motivo do cancelamento (Opcional)</label>
            <nb-form-field>
                <textarea nbInput fullWidth [formControl]="messageControl" rows="4"
                          placeholder="Motivo do cancelamento..."></textarea>
            </nb-form-field>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer class="py-2">
    <div class="row align-items-center text-end">
      <div class="col-12">
        <button nbButton status="danger" size="small" class="m-1" (click)="close()" [autofocus]="false">Cancelar
        </button>
        <button nbButton status="success" size="small" class="m-1" (click)="closeWithMsg()" [autofocus]="true">Confirmar
        </button>
      </div>
    </div>
  </nb-card-footer>
</nb-card>
