<div class="pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-list-check"></i>
                    <h3>2546</h3>
                    <span class="sub-title">Project Complate</span>
                    <img src="../../../../../assets/images/digital-marketing/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-users"></i>
                    <h3>2495</h3>
                    <span class="sub-title">Happy Clients</span>
                    <img src="../../../../../assets/images/digital-marketing/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-people-group"></i>
                    <h3>172</h3>
                    <span class="sub-title">Qualified Staffs</span>
                    <img src="../../../../../assets/images/digital-marketing/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="dm-funfacts-box">
                    <i class="fa-solid fa-trophy"></i>
                    <h3>07</h3>
                    <span class="sub-title">Winning Awards</span>
                    <img src="../../../../../assets/images/digital-marketing/border1.png" alt="icon-image" class="shape">
                </div>
            </div>
        </div>
    </div>
</div>
