.dm-funfacts-box {
    z-index: 1;
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, .1);
    padding: {
        top: 30px;
        left: 110px;
        right: 30px;
        bottom: 30px;
    };
    i {
        transform: translateY(-50%);
        color: var(--primaryColor);
        position: absolute;
        font-size: 45px;
        left: 35px;
        top: 50%;
    }
    h3 {
        margin-bottom: 0;
        font-size: 40px;
    }
    .sub-title {
        display: block;
        font-weight: 500;
    }
    .shape {
        right: 0;
        top: 50%;
        z-index: -1;
        opacity: .15;
        position: absolute;
        transform: translateY(-50%);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .dm-funfacts-box {
        text-align: center;
        padding: {
            top: 20px;
            left: 15px;
            right: 15px;
            bottom: 20px;
        };
        i {
            transform: translateY(0);
            margin-bottom: 15px;
            position: relative;
            font-size: 35px;
            display: block;
            left: 0;
            top: 0;
        }
        h3 {
            font-size: 30px;
            margin-bottom: 2px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .dm-funfacts-box {
        padding: {
            top: 25px;
            left: 95px;
            right: 15px;
            bottom: 25px;
        };
        i {
            font-size: 40px;
        }
        h3 {
            font-size: 35px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .dm-funfacts-box {
        padding: {
            top: 25px;
            left: 75px;
            right: 15px;
            bottom: 25px;
        };
        i {
            font-size: 35px;
            left: 20px;
        }
        h3 {
            font-size: 35px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .dm-funfacts-box {
        padding-left: 100px;

        i {
            font-size: 40px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}