.cs-feedback-area {
    position: relative;
    z-index: 1;
}
.cs-single-feedback {
    box-shadow: 0px 6px 20px rgba(26, 137, 185, 0.07);
    background-color: var(--whiteColor);
    transition: var(--transition);
    border: 1px solid #f9f9f9;
    border-radius: 5px;
    position: relative;
    padding: 40px;
    z-index: 1;

    .rating {
        padding: 0;
        margin-bottom: 15px;

        li {
            list-style-type: none;
            display: inline-block;
            margin-right: 5px;

            i {
                font-size: 18px;
                color: #FFB820;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .client-info {
        position: relative;
        padding-left: 75px;
        margin-top: 30px;

        img {
            left: 0;
            top: 50%;
            height: 55px;
            border-radius: 50%;
            position: absolute;
            width: 55px !important;
            transform: translateY(-50%);
        }
        h3 {
            font-size: 25px;
            margin-bottom: 5px;
            color: var(--primaryColor);
        }
        span {
            color: var(--optionalColor);
            font-size: 15px;
            display: block;
        }
    }
    .quote {
        position: absolute;
        right: 45px;
        z-index: -1;
        top: 55px;
    }
    &:hover {
        border: 1px solid var(--primaryColor);
    }
    &.with-black-color {
        background-color: #161618;
        border: 1px solid #161618;

        p {
            color: var(--whiteColor);
        }
        .client-info {
            h3 {
                color: var(--whiteColor);
            }
            span {
                color: #cacaca;
            }
        }
        .quote {
            top: unset;
            bottom: 35px;

            i {
                color: var(--primaryColor);
                font-size: 45px;
            }
        }
        &:hover {
            border: 1px solid var(--primaryColor);
        }
    }
}
.cs-feedback-line-bg {
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
    position: absolute;
    transform: translateY(-50%);
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .cs-single-feedback {
        padding: 20px 15px;
    
        .rating {
            margin-bottom: 10px;
    
            li {
                i {
                    font-size: 15px;
                }
            }
        }
        .client-info {
            padding-left: 58px;
            margin-top: 18px;
    
            img {
                height: 45px;
                width: 45px !important;
            }
            h3 {
                font-size: 20px;
            }
            span {
                font-size: 13px;
            }
        }
        .quote {
            right: 15px;
            top: 15px;
        }
        &.with-black-color {
            .quote {
                top: unset;
                bottom: 15px;
            }
        }
    }
    .cs-feedback-line-bg {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .cs-single-feedback {
        padding: 25px 20px;
    
        .rating {
            li {
                i {
                    font-size: 16px;
                }
            }
        }
        .client-info {
            padding-left: 75px;
            margin-top: 20px;
    
            img {
                left: 0;
                top: 50%;
                height: 55px;
                border-radius: 50%;
                position: absolute;
                width: 55px !important;
                transform: translateY(-50%);
            }
            h3 {
                font-size: 21px;
            }
            span {
                font-size: 14px;
            }
        }
        .quote {
            right: 15px;
            top: 15px;
        }
        &.with-black-color {
            .quote {
                top: unset;
                bottom: 15px;
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}