<div class="pb-70">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="app-funfacts-box">
                    <div class="icon">
                        <i class="fa-solid fa-cloud-arrow-down"></i>
                    </div>
                    <p>Total Downloads</p>
                    <h3>10<span class="sign">M</span></h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="app-funfacts-box bg1">
                    <div class="icon">
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <p>Total Reviews</p>
                    <h3>799<span class="sign">K</span></h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="app-funfacts-box bg2">
                    <div class="icon">
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <p>Worldwide Countries</p>
                    <h3>150<span class="sign">+</span></h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-md-6 col-6">
                <div class="app-funfacts-box bg3">
                    <div class="icon">
                        <i class="fa-solid fa-user-check"></i>
                    </div>
                    <p>Active Users</p>
                    <h3>5<span class="sign">M</span></h3>
                </div>
            </div>
        </div>
    </div>
</div>