.app-funfacts-box {
    padding: 30px;
    text-align: center;
    margin-bottom: 30px;
    background: var(--gradientColor);

    .icon {
        line-height: 1;
        font-size: 55px;
        margin-bottom: 20px;
        color: var(--whiteColor);
    }
    p {
        opacity: .95;
        line-height: 1;
        font-size: 18px;
        margin-bottom: 20px;
        color: var(--whiteColor);
    }
    h3 {
        line-height: 1;
        font-size: 40px;
        margin-bottom: 0;
        color: var(--whiteColor);
    }
    &.bg1 {
        background: linear-gradient(45.24deg, #9F5FF1 5.99%, #FF54B0 91.87%);
    }
    &.bg2 {
        background: linear-gradient(44.44deg, #3F75FF 7.79%, #4ADEFF 94.18%);
    }
    &.bg3 {
        background: linear-gradient(44.44deg, #FF4B3F 7.79%, #FFAC30 94.18%);
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .app-funfacts-box {
        padding: 20px 0;
    
        .icon {
            font-size: 40px;
            margin-bottom: 17px;
        }
        p {
            font-size: 13px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 30px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .app-funfacts-box {
        padding: 25px 20px;
    
        .icon {
            font-size: 45px;
            margin-bottom: 17px;
        }
        p {
            font-size: 16px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 35px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .app-funfacts-box {
        padding: 25px;
    
        .icon {
            font-size: 50px;
        }
        p {
            font-size: 17px;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 38px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}