.blog-details-desc {
    .post-thumb {
        margin-bottom: 25px;
    }
    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
        margin-bottom: 10px;

        &:not(:first-child) {
            margin-top: 25px;
        }
    }
    .post-meta {
        margin-bottom: 15px;

        ul {
            padding-left: 0;
            list-style-type: none;
            margin: {
                bottom: 0;
                top: 15px;
            };
            li {
                padding-left: 22px;
                position: relative;
                display: inline-block;
                color: var(--optionalColor);
                margin: {
                    right: 20px;
                    bottom: 0;
                };
                i {
                    color: var(--primaryColor);
                    position: absolute;
                    top: 2px;
                    left: 0;
                }
                a {
                    color: var(--optionalColor);

                    &:hover {
                        color: var(--primaryColor);
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    p {
        a {
            color: var(--primaryColor);

            &:hover {
                text-decoration: underline;
            }
        }
        strong {
            color: var(--blackColor);
        }
    }
    ul, ol {
        margin: {
            top: 20px;
            bottom: 20px;
        };
        li {
            color: var(--optionalColor);
            margin-bottom: 15px;
            
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .post-footer {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
        padding-top: 30px;
        align-items: center;
        border-top: 1px solid #eeeeee;
    
        .post-tags {
            flex: 0 0 50%;
            max-width: 50%;

            .sub {
                text-transform: uppercase;
                display: inline-block;
                font-weight: 500;
            }
            ul {
                display: inline-block;
                list-style-type: none;
                padding-left: 0;
                margin: {
                    top: 0;
                    bottom: 0;
                };
                li {
                    display: inline-block;
                    margin: {
                        bottom: 0;
                        right: 1px;
                    };
                    a {
                        color: var(--optionalColor);
    
                        &:hover {
                            color: var(--primaryColor);
                        }
                    }
                    &:not(:last-child)::after {
                        content: ',';
                    }
                }
            }
        }
        .article-share {
            flex: 0 0 50%;
            max-width: 50%;
            text-align: end;
            
            .social {
                padding-left: 0;
                list-style-type: none;
                margin: {
                    bottom: 0;
                    top: 0;
                };
                li {
                    margin-bottom: 0;
                    display: inline-block;
                    color: var(--blackColor);

                    span {
                        display: inline-block;
                        position: relative;
                        margin-right: 3px;
                        font-weight: 500;
                    }
                    a {
                        width: 35px;
                        height: 35px;
                        display: block;
                        margin-left: 5px;
                        line-height: 35px;
                        text-align: center;
                        border-radius: 50%;
                        color: var(--whiteColor);
                        background-color: var(--primaryColor);
                        border: 1px solid var(--primaryColor);
        
                        &:hover {
                            color: var(--primaryColor);
                            background-color: transparent;
                        }
                        &.facebook {
                            background-color: #3b5998;
                            color: var(--whiteColor);
                            border-color: #3b5998;

                            &:hover {
                                color: #3b5998;
                                background-color: transparent;
                            }
                        }
                        &.twitter {
                            background-color: #1da1f2;
                            color: var(--whiteColor);
                            border-color: #1da1f2;

                            &:hover {
                                color: #1da1f2;
                                background-color: transparent;
                            }
                        }
                        &.linkedin {
                            background-color: #007bb5;
                            color: var(--whiteColor);
                            border-color: #007bb5;

                            &:hover {
                                color: #007bb5;
                                background-color: transparent;
                            }
                        }
                        &.instagram {
                            background-color: #c13584;
                            color: var(--whiteColor);
                            border-color: #c13584;

                            &:hover {
                                color: #c13584;
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
        }
    }
}
blockquote, .blockquote {
    background-color: #f9f9f9;
    padding: 40px 50px !important;
    margin: {
        bottom: 20px;
        top: 20px;
    };
    p {
        line-height: 1.7;
        margin-bottom: 0;
        color: var(--blackColor);
        font: {
            weight: 500;
            style: italic;
            size: 20px !important;
        };
    }
    cite {
        display: block;
        margin-top: 18px;
        font-weight: 600;
        color: var(--primaryColor);
    }
}
.comments-area {
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #eeeeee;

    .comments-title {
        margin-bottom: 30px;
        line-height: initial;
    }
    ol, ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .comment-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    .children {
        margin-left: 20px;
    }
    .comment-body {
        border-bottom: 1px dashed #eeeeee;
        color: var(--blackColor);
        padding-bottom: 20px;
        margin-bottom: 20px;
        padding-left: 98px;
        position: relative;

        .reply {
            position: absolute;
            z-index: 3;
            right: 0;
            top: 0;

            a {
                border: 1px dashed #ded9d9;
                color: var(--optionalColor);
                display: inline-block;
                border-radius: 30px;
                padding: 4px 15px;
                font: {
                    size: 13px;
                    weight: 500;
                };
                &:hover {
                    color: var(--whiteColor);
                    border-color: var(--primaryColor);
                    background-color: var(--primaryColor);
                }
            }
        }
    }
    .comment-author {
        z-index: 2;
        font-size: 16px;
        margin-bottom: 6px;
        position: relative;
        
        .avatar {
            top: 4px;
            width: 80px;
            left: -98px;
            position: absolute;
        }
        .says {
            display: none;
        }
        .fn {
            font-weight: 600;
        }
    }
    .comment-metadata {
        font-size: 14px;
        margin-bottom: .7em;
        color: var(--optionalColor);
    }
    .comment-respond {
        margin-top: 30px;

        .comment-reply-title {
            margin-bottom: 0;

            #cancel-comment-reply-link {
                display: inline-block;
            }
        }
        .comment-form {
            overflow: hidden;
        }
        .comment-notes {
            font-style: italic;
            margin: {
                bottom: 20px;
                top: 10px;
            };
            .required {
                color: red;
            }
        }
        .form-group {
            input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
                outline: 0;
                width: 100%;
                border: none;
                height: 55px;
                display: block;
                border-radius: 3px;
                padding: 0 15px 0 20px;
                color: var(--blackColor);
                background-color: #f9f9f9;
    
                &::placeholder {
                    color: var(--optionalColor);
                    transition: var(--transition);
                }
                &:focus {
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
            textarea {
                height: auto !important;
                padding-top: 20px;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .blog-details-desc {
        .post-thumb {
            margin-bottom: -5px;
        }
        .post-meta {
            margin-bottom: 15px;

            ul {
                li {
                    padding-left: 18px;
                }
            }
        }
        .post-footer {
            margin-top: 25px;
            padding-top: 25px;
            text-align: center;

            .post-tags {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .article-share {
                flex: 0 0 100%;
                max-width: 100%;
                margin-top: 15px;
                text-align: center;

                .social {
                    li {
                        a {
                            width: 30px;
                            height: 30px;
                            line-height: 30px;
                        }
                    }
                }
            }
        }
    }
    blockquote, .blockquote {
        padding: 20px !important;

        p {
            font-size: 15px !important;
        }
    }
    .comments-area {
        margin-top: 25px;
        padding-top: 25px;

        .comments-title {
            margin-bottom: 25px;
        }
        .comment-body {
            padding-left: 0;

            .reply {
                position: relative;
                margin-top: 12px;
            }
        }
        .comment-metadata {
            font-size: 14px;
        }
        .comment-author {
            font-size: 15px;

            .avatar {
                top: 0;
                left: 0;
                display: block;
                position: relative;
                margin-bottom: 15px;
            }
        }
        .comment-respond {
            .form-group {
                input[type="date"], input[type="time"], input[type="datetime-local"], input[type="week"], input[type="month"], input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="tel"], input[type="number"], textarea {
                    font-size: 14px;
                    height: 50px;
                    padding: {
                        left: 15px;
                        right: 15px;
                    };
                }
                textarea {
                    padding-top: 15px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .blog-details-desc {
        .post-footer {
            text-align: start;

            .post-tags {
                flex: 0 0 50%;
                max-width: 50%;
            }
            .article-share {
                flex: 0 0 50%;
                margin-top: 0;
                max-width: 50%;
                text-align: end;
            }
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    blockquote, .blockquote {
        padding: 35px !important;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    blockquote, .blockquote {
        padding: 40px !important;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}