<div id="services" class="services-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Services</span>
            <h2>We Offer Professional Services</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="service-box" style="background-image: url(../../../../../assets/images/services/services1.jpg);">
                    <div class="d-flex align-items-center">
                        <img src="../../../../../assets/images/icon/icon1.png" alt="image">
                        <h3>
                            <a routerLink="/services-details">
                                Advertising
                            </a>
                        </h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Identity
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Voice
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Positioning
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Competitor
                            </span>
                        </li>
                    </ul>
                    <a routerLink="/services-details" class="default-btn">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box" style="background-image: url(../../../../../assets/images/services/services2.jpg);">
                    <div class="d-flex align-items-center">
                        <img src="../../../../../assets/images/icon/icon2.png" alt="image">
                        <h3>
                            <a routerLink="/services-details">
                                Design
                            </a>
                        </h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Identity
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Voice
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Positioning
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Competitor
                            </span>
                        </li>
                    </ul>
                    <a routerLink="/services-details" class="default-btn">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box" style="background-image: url(../../../../../assets/images/services/services3.jpg);">
                    <div class="d-flex align-items-center">
                        <img src="../../../../../assets/images/icon/icon3.png" alt="image">
                        <h3>
                            <a routerLink="/services-details">
                                Editor
                            </a>
                        </h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Identity
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Voice
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Positioning
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Competitor
                            </span>
                        </li>
                    </ul>
                    <a routerLink="/services-details" class="default-btn">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box" style="background-image: url(../../../../../assets/images/services/services4.jpg);">
                    <div class="d-flex align-items-center">
                        <img src="../../../../../assets/images/icon/icon4.png" alt="image">
                        <h3>
                            <a routerLink="/services-details">
                                Graphic Art
                            </a>
                        </h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Identity
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Voice
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Positioning
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Competitor
                            </span>
                        </li>
                    </ul>
                    <a routerLink="/services-details" class="default-btn">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box" style="background-image: url(../../../../../assets/images/services/services5.jpg);">
                    <div class="d-flex align-items-center">
                        <img src="../../../../../assets/images/icon/icon5.png" alt="image">
                        <h3>
                            <a routerLink="/services-details">
                                Photography
                            </a>
                        </h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Identity
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Voice
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Positioning
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Competitor
                            </span>
                        </li>
                    </ul>
                    <a routerLink="/services-details" class="default-btn">
                        Learn More
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-box" style="background-image: url(../../../../../assets/images/services/services6.jpg);">
                    <div class="d-flex align-items-center">
                        <img src="../../../../../assets/images/icon/icon6.png" alt="image">
                        <h3>
                            <a routerLink="/services-details">
                                Wrapping Up
                            </a>
                        </h3>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Identity
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Voice
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Positioning
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Competitor
                            </span>
                        </li>
                    </ul>
                    <a routerLink="/services-details" class="default-btn">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
