<div id="services" class="services-area bg-fcfbfb pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Como os vídeos podem influenciar positivamente as vendas?</h2>
            <p>...</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-ffb700">
                      <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <h3><a routerLink="/services-details">Absorção</a></h3>
                    <p>Maior assimilação e retenção de informação. 80% dos usuários se lembram de
                      um anúncio em vídeo. (Fonte: Video Brewery)</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-00d280">
                      <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                    <h3><a routerLink="/services-details">Vendas</a></h3>
                    <p>90% dos usuários consideram o vídeo como fator decisor de compra ao adquirir informações sobre um produto ou serviço.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one">
                    <div class="icon bg-fc3549">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <h3><a routerLink="/services-details">Keyword Targeting</a></h3>
                    <p>Vídeos são organicamente mais impulsionados que imagens estáticas, textos e designs nas redes sociais..</p>
                </div>
            </div>
        </div>
    </div>
</div>
