<div class="banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <h1>Vídeos e Eleicoes caminham lado a lado!</h1>
                    <p>Se hoje os vídeos são a principal estratégia de marketing adotada pelas empresas, é
                      justamente pelo avanço da Eleicoes, que modificou a forma como consumimos conteúdo.
                      Portanto, como uma empresa do ramo de Eleicoes poderia simplesmente não fazer uso
                      desta ferramenta?</p>
                    <button (click)="onClick('contact')" class="default-btn">
                        Vamos Começar
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                    <img src="../../../../../assets/images/banner/animate-banner-img1.jpg" alt="Animate image">
                </div>
            </div>
        </div>
    </div>
</div>
