<div class="features-area">

    <!-- Web & Mobile Development -->
    <div class="overview-area ptb-100 bg-fcfbfb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="overview-content">
                        <h2>Putz Smart Vídeos</h2>
                        <p>Tecnologia com Tecnologia!!! Vamos dar um novo salto na produção dos vídeos com a
                          Putz Smart Vídeos. A partir de um vídeo e integrações B2B, com nossa tecnologia de vídeos
                          hiperpersonalizados com contexto criamos um vídeo unico para cada usuário.
                        </p>
                        <ul class="features-list">
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Vídeos Sensíveis a contexto
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Entrega automatizada
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Comunicação Humana
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Evolução de UX na Comunição
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Valorização da marca
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Integrações por API
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="overview-image">
                        <img src="../../../../../assets/images/services/it-service1.png" alt="service-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Digital Marketing -->
    <div class="overview-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="overview-image">
                        <img src="../../../../../assets/images/services/it-service2.png" alt="service-image">
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="overview-content">
                          <app-render-form-galo-detail></app-render-form-galo-detail>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cloud Hosting Services -->
    <div class="overview-area ptb-100 bg-fcfbfb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="overview-content">
                        <h2>Cloud Hosting Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <ul class="features-list">
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Cloud Databases
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Email Servers
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    File Storage
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Hybrid Cloud
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Website Hosting
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Backup Systems
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="overview-image">
                        <img src="../../../../../assets/images/services/it-service3.png" alt="service-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
