<div id="blog" class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Latest Articles Updated Weekly</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="single-blog-post">
                    <div class="post-image">
                        <a routerLink="/blog-details">
                            <img src="../../../../../assets/images/blog/blog1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="post-content">
                        <span class="date">June 16, 2022</span>
                        <h3 class="mb-0">
                            <a routerLink="/blog-details">
                                How to Become a Successful Entry Level UX Designer
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="blog-item-box">
                    <div class="blog-item">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-3 col-sm-4">
                                <div class="post-image">
                                    <a routerLink="/blog-details">
                                        <img src="../../../../../assets/images/blog/blog2.jpg" alt="blog-image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <div class="post-content">
                                    <span class="date">June 15, 2022</span>
                                    <h3 class="mb-0">
                                        <a routerLink="/blog-details">
                                            2022 Local SEO Success: The Year of Everywhere
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-3 col-sm-4">
                                <div class="post-image">
                                    <a routerLink="/blog-details">
                                        <img src="../../../../../assets/images/blog/blog3.jpg" alt="blog-image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <div class="post-content">
                                    <span class="date">June 14, 2022</span>
                                    <h3 class="mb-0">
                                        <a routerLink="/blog-details">
                                            The Guide to Running a Client Discovery Process
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-3 col-sm-4">
                                <div class="post-image">
                                    <a routerLink="/blog-details">
                                        <img src="../../../../../assets/images/blog/blog4.jpg" alt="blog-image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <div class="post-content">
                                    <span class="date">June 13, 2022</span>
                                    <h3 class="mb-0">
                                        <a routerLink="/blog-details">
                                            3 Ways to Get Client Approval for Scope Changes
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog-item">
                        <div class="row align-items-center">
                            <div class="col-lg-4 col-md-3 col-sm-4">
                                <div class="post-image">
                                    <a routerLink="/blog-details">
                                        <img src="../../../../../assets/images/blog/blog5.jpg" alt="blog-image">
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-9 col-sm-8">
                                <div class="post-content">
                                    <span class="date">June 12, 2022</span>
                                    <h3 class="mb-0">
                                        <a routerLink="/blog-details">
                                            Top 21 Must-Read Blogs For Creative Agencies
                                        </a>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
