@use 'nb-vars';

nb-sidebar.compacted nb-menu > .menu-items > .menu-item > a span, nb-sidebar.compacted nb-menu > .menu-items > .menu-item > a nb-badge, nb-sidebar.compacted nb-menu > .menu-items > .menu-item > a .expand-state {
  display: none
}

nb-sidebar.compacted nb-menu .menu-items > .menu-item {
  transition: border-color 1s ease
}

nb-sidebar.compacted nb-menu .menu-items > .menu-item.menu-group {
  display: block;
  color: transparent;
  width: 0;
  padding: 0;
  overflow: hidden
}

nb-sidebar.compacted nb-menu .menu-items > .menu-item i {
  margin-right: 0
}

nb-sidebar.compacted nb-menu .menu-items > .menu-item a {
  justify-content: center
}

nb-sidebar.compacted nb-menu .menu-items > .menu-item > .expanded {
  display: none
}


nb-menu {
  background-color: var(--menu-background-color)
}

nb-menu ul.menu-items {
  margin: 0;
  padding: 0
}

nb-menu .menu-group, nb-menu .menu-item a {
  font-family: var(--menu-text-font-family);
  font-size: var(--menu-text-font-size);
  font-weight: var(--menu-text-font-weight);
  line-height: var(--menu-text-line-height);
  padding: var(--menu-item-padding)
}

nb-menu .menu-group, nb-menu .menu-group nb-icon.menu-icon {
  color: var(--menu-group-text-color)
}

nb-menu .menu-item a {
  color: var(--menu-text-color);
  border-radius: var(--menu-item-border-radius)
}

nb-menu .menu-item a.active {
  background-color: var(--menu-item-active-background-color);
  color: var(--menu-item-active-text-color)
}

nb-menu .menu-item a.active .menu-icon {
  color: var(--menu-item-icon-active-color)
}

nb-menu .menu-item a:hover {
  background-color: var(--menu-item-hover-background-color);
  color: var(--menu-item-hover-text-color);
  cursor: var(--menu-item-hover-cursor)
}

nb-menu .menu-item a:hover .menu-icon {
  color: var(--menu-item-icon-hover-color)
}

nb-menu .menu-item .menu-icon {
  color: var(--menu-item-icon-color);
  font-size: var(--menu-item-icon-width);
  margin: var(--menu-item-icon-margin);
  width: 1em;
  text-align: center
}

nb-menu .menu-item .expand-state {
  color: var(--menu-item-icon-color)
}

nb-menu .menu-item {
  border-bottom: var(--menu-item-divider-width) var(--menu-item-divider-style) var(--menu-item-divider-color)
}

nb-menu .menu-item:first-child {
  border-top: none
}

nb-menu .menu-item:last-child {
  border-bottom: none
}

nb-menu .menu-item .menu-item:first-child {
  border-top: var(--menu-item-divider-width) var(--menu-item-divider-style) var(--menu-item-divider-color)
}

nb-menu .menu-item > .menu-items {
  background-color: var(--menu-submenu-background-color);
  margin: var(--menu-submenu-margin);
  padding: var(--menu-submenu-padding)
}

nb-menu .menu-item > .menu-items > .menu-item {
  background: var(--menu-submenu-background-color);
  color: var(--menu-submenu-text-color)
}

nb-menu .menu-item > .menu-items > .menu-item a {
  border-color: var(--menu-submenu-item-border-color);
  border-style: var(--menu-submenu-item-border-style);
  border-width: var(--menu-submenu-item-border-width);
  padding: var(--menu-submenu-item-padding)
}

nb-menu .menu-item > .menu-items > .menu-item a.active {
  background-color: var(--menu-submenu-item-active-background-color);
  border-color: var(--menu-submenu-item-active-border-color);
  color: var(--menu-submenu-item-active-text-color)
}

nb-menu .menu-item > .menu-items > .menu-item a.active .menu-icon {
  color: var(--menu-submenu-item-icon-active-color)
}

nb-menu .menu-item > .menu-items > .menu-item a:hover {
  background-color: var(--menu-submenu-item-hover-background-color);
  border-color: var(--menu-submenu-item-hover-border-color);
  color: var(--menu-submenu-item-hover-text-color)
}

nb-menu .menu-item > .menu-items > .menu-item a:hover .menu-icon {
  color: var(--menu-submenu-item-icon-hover-color)
}

nb-menu .menu-item > .menu-items > .menu-item a.active:hover {
  background-color: var(--menu-submenu-item-active-hover-background-color);
  border-color: var(--menu-submenu-item-active-hover-border-color);
  color: var(--menu-submenu-item-active-hover-text-color)
}

nb-menu .menu-item > .menu-items > .menu-item a.active:hover .menu-icon {
  color: var(--menu-submenu-item-icon-active-hover-color)
}

nb-menu .menu-item > .menu-items > .menu-group, nb-menu .menu-item > .menu-items > .menu-group nb-icon.menu-icon {
  color: var(--menu-group-text-color)
}

nb-context-menu nb-menu {
  border-radius: var(--context-menu-border-radius);
  overflow: hidden;
  text-align: var(--context-menu-text-align)
}

nb-context-menu nb-menu nb-icon.expand-state svg {
  pointer-events: none
}

nb-actions.size-tiny nb-action nb-icon {
  font-size: var(--fontSize);
}

nb-icon {
  font-size: var(--actions-small-icon-height)
}


nb-icon {
  font-size: var(--icon-font-size);
  line-height: var(--icon-line-height);
  width: var(--icon-width);
  height: var(--icon-height)
}

nb-icon svg {
  vertical-align: var(--icon-svg-vertical-align)
}

nb-icon.status-basic {
  color: var(--icon-basic-color)
}

nb-icon.status-primary {
  color: var(--icon-primary-color)
}

nb-icon.status-success {
  color: var(--icon-success-color)
}

nb-icon.status-warning {
  color: var(--icon-warning-color)
}

nb-icon.status-danger {
  color: var(--icon-danger-color)
}

nb-icon.status-info {
  color: var(--icon-info-color)
}

nb-icon.status-control {
  color: var(--icon-control-color)
}

