<div class="features-area bg-1b2232">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="bc-features-item">
                    <i class="icon fa-solid fa-chart-bar"></i>
                    <h3>Advanced <br>Analytics</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="bc-features-item">
                    <i class="icon fa-solid fa-lightbulb"></i>
                    <h3>Business <br>Innovation</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="bc-features-item">
                    <i class="icon fa-solid fa-arrow-up-right-dots"></i>
                    <h3>Growth <br>Consulting</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                <div class="bc-features-item">
                    <i class="icon fa-solid fa-users-rays"></i>
                    <h3>Sales <br>Consulting</h3>
                </div>
            </div>
        </div>
    </div>
</div>