<div class="d-flex align-items-lg-center justify-content-center h-100">
  <div class="width-500px">
    <div class="text-center mb-5">
      <img alt="logo-putz" src="../../../../../assets/images/logo/logo-putz.png">
    </div>
    <nb-card accent="info">
      <nb-card-body class="py-4 spinner-no-bg" [nbSpinner]="submitted" nbSpinnerStatus="info" nbSpinnerSize="giant"
                    nbSpinnerMessage="Carregando...">
        <nb-auth-block class="m-auto">
          <h1 id="title" class="title fw-bold poppins">Nova senha</h1>
          <p class="sub-title">Escolha uma nova senha para sua conta</p>
          <form (ngSubmit)="newPassword()" [formGroup]="newPasswordForm" aria-labelledby="title">
            <div class="row">
              <div class="col-12 mb-3">
                <label class="label" for="input-password">Nova senha</label>
                <nb-form-field>
                  <input nbInput
                         fullWidth
                         formControlName="password"
                         name="password"
                         id="input-password"
                         placeholder="Digite sua nova senha"
                         [type]="showPassword?'text':'password'"
                         autofocus
                         [status]="(newPasswordForm.get('password')!.dirty || newPasswordForm.get('password')!.touched) ? (newPasswordForm.get('password')!.invalid  ? 'danger' : 'success') : 'basic'"
                         [required]="true"
                         [attr.aria-invalid]="newPasswordForm.get('password')!.invalid && newPasswordForm.get('password')!.touched ? true : null">
                  <button nbSuffix nbButton ghost (click)="showPassword = !showPassword" type="button">
                    <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
                             pack="eva"
                             [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>
                <ng-container
                  *ngIf="newPasswordForm.get('password')!.invalid && newPasswordForm.get('password')!.touched">
                  <p class="text-danger" *ngIf="newPasswordForm.get('password')!.errors?.required">
                    Campo obrigatório
                  </p>
                </ng-container>
              </div>
              <div class="col-12 mb-3">
                <label class="label" for="input-new-password">Confirmar nova senha</label>
                <nb-form-field>
                  <input nbInput
                         fullWidth
                         formControlName="confirmPassword"
                         name="confirmPassword"
                         id="input-new-password"
                         placeholder="Confirme sua nova senha"
                         [type]="showCPassword?'text':'password'"
                         autofocus
                         [status]="(newPasswordForm.get('confirmPassword')!.dirty || newPasswordForm.get('confirmPassword')!.touched) ? (newPasswordForm.get('confirmPassword')!.invalid  ? 'danger' : 'success') : 'basic'"
                         [required]="true"
                         [attr.aria-invalid]="newPasswordForm.get('confirmPassword')!.invalid && newPasswordForm.get('confirmPassword')!.touched ? true : null">
                  <button nbSuffix nbButton ghost (click)="showCPassword = !showCPassword" type="button">
                    <nb-icon [icon]="showCPassword ? 'eye-outline' : 'eye-off-2-outline'"
                             pack="eva"
                             [attr.aria-label]="showCPassword ? 'hide password' : 'show password'">
                    </nb-icon>
                  </button>
                </nb-form-field>
                <ng-container
                  *ngIf="newPasswordForm.get('confirmPassword')!.invalid && newPasswordForm.get('confirmPassword')!.touched">
                  <p class="text-danger" *ngIf="newPasswordForm.get('confirmPassword')!.errors?.required">
                    Campo obrigatório
                  </p>
                  <p class="text-danger" *ngIf="newPasswordForm.get('confirmPassword')!.errors?.passwordCheck">
                    As senhas não conhecidem
                  </p>
                </ng-container>
              </div>
              <div class="col-12 mt-3">
                <button nbButton
                        fullWidth
                        status="primary"
                        [class.btn-pulse]="submitted"
                        [nbSpinner]="submitted"
                        class="spinner-no-bg"
                        nbSpinnerStatus="basic"
                        nbSpinnerSize="large"
                        nbSpinnerMessage=""
                >
                  Salvar
                </button>
              </div>
            </div>
          </form>

          <!--        <section class="another-action" aria-label="Register">-->
          <!--          Já possui uma conta? <a class="text-link" [routerLink]="['/auth/login']">Login</a>-->
          <!--        </section>-->

        </nb-auth-block>
      </nb-card-body>
    </nb-card>
  </div>
</div>
