<div class="leading-technology-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="leading-technology-image">
                    <img src="../../../../../assets/images/cyber-security/leading-technology.png" alt="image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="leading-technology-content">
                    <span class="sub-title">Leading Technology Firm</span>
                    <h2>Provide Advanced <span>Security</span> For Threat And Effective Protection</h2>
                    <p>We work hand-in-hand with industry-leading brands to help redefine the possibilities and potential of digital engagements We work hand-in-hand with industry-leading brands to help redefine the possibilities and potential.</p>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-sm-6 col-6">
                            <ul class="list">
                                <li>Network Detection</li>
                                <li>Managing Cloud Security</li>
                                <li>Website Hack Repair</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-6">
                            <ul class="list">
                                <li>Network Trafic Analysis</li>
                                <li>Hybrid Cloud Security</li>
                                <li>24/7 Security Support</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="cs-overview-area pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="cs-overview-item">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="cs-overview-image">
                                <img src="../../../../../assets/images/cyber-security/overview-1.png" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6">
                            <div class="cs-overview-content">
                                <h3>Personal Online Protection Everywhere We Go</h3>
                                <a class="get-started-btn" href="#">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-6">
                <div class="cs-overview-item">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="cs-overview-image">
                                <img src="../../../../../assets/images/cyber-security/overview-2.png" alt="image">
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-6">
                            <div class="cs-overview-content">
                                <h3>Simple Solution For Your Business's Security</h3>
                                <a class="get-started-btn" href="#">GET STARTED</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
