.saas-about-content {
    .sub-title {
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
        color: var(--primaryColor);
    }
    h2 {
        margin-bottom: 15px;
        font-size: 45px;
    }
    .features-list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 15px;
            top: 20px;
        };
        li {
            margin-bottom: 12px;
            position: relative;
            padding-left: 24px;
            font-weight: 500;

            i {
                left: 0;
                top: 2.5px;
                position: absolute;
                color: var(--primaryColor);
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .default-btn {
        margin-top: 10px;
    }
    &.white-color {
        color: var(--whiteColor);

        h2 {
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
            opacity: 0.9;
        }
        .features-list {
            li {
                color: var(--whiteColor);
                opacity: 0.9;
            }
        }
    }
}
.saas-about-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .saas-about-content {
        h2 {
            font-size: 30px;
            margin-bottom: 10px;
        }
        .features-list {
            margin-top: 15px;

            li {
                padding-left: 20px;
    
                i {
                    top: 3px;
                }
            }
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .saas-about-image {
        margin-bottom: 25px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .saas-about-content {
        h2 {
            font-size: 37px;
        }
        .features-list {
            li {
                padding-left: 20px;
            }
        }
    }
    .saas-about-image {
        margin-top: 25px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .saas-about-content {
        h2 {
            font-size: 40px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}