<div class="freelancer-portfolio-banner-area">
    <div class="container">
        <div class="freelancer-portfolio-banner-content">
            <img src="../../../../../assets/images/team/team3.jpg" alt="profile-img" class="profile-img">
            <span class="sub-title">Welcome To My Portfolio!</span>
            <h1>Hi, I'm Anthony Jaxon <span>Web Developer.</span></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="socials-link">
                <li><a href="#" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-skype"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-gitlab"></i></a></li>
                <li><a href="#" target="_blank"><i class="fa-brands fa-dribbble"></i></a></li>
            </ul>
            <button type="button" class="default-btn-two" (click)="ngxSmartModalService.getModal('contactPopup').open()">
                Contact Me <i class="fas fa-chevron-right"></i>
            </button>
        </div>
    </div>
</div>
