<div id="contact" class="contact-area bg-fcfbfb ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Let's Contact With Us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <form class="contact-form">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <input type="text" name="name" placeholder="Your name" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <input type="email" name="email" placeholder="Email address" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <input type="text" name="subject" placeholder="Subject" class="form-control">
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="form-group">
                        <input type="text" name="phone-number" placeholder="Phone number" class="form-control">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <textarea name="message" class="form-control" placeholder="Your message..." cols="30" rows="5"></textarea>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="form-group">
                        <div class="form-check">
                            <input
                                name="gridCheck"
                                value="I agree to the terms and privacy policy."
                                class="form-check-input"
                                type="checkbox"
                                id="gridCheck"
                            >
                            <label class="form-check-label" for="gridCheck">
                                Accept <a routerLink="/terms-conditions">Terms of Services</a> and <a routerLink="/privacy-policy">Privacy Policy</a>
                            </label>
                            <div class="help-block with-errors gridCheck-error"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <button type="submit" class="default-btn">Send Message</button>
                </div>
            </div>
        </form>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                    <h3>Nossos E-mails</h3>
                    <p><a href="mailto:contato@putzfilmes.com">contato@putzfilmes.com</a></p>
                    <p><a href="mailto:producao@putzfilmes.com">producao@putzfilmes.com</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="fa-regular fa-map"></i>
                    </div>
                    <h3>Visit Here</h3>
                    <p>27 Division St, New York, <br> NY 10002, USA</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i class="fa-solid fa-headset"></i>
                    </div>
                    <h3>Call Here</h3>
                    <p><a href="tel:+1234567890">+123 456 7890</a></p>
                    <p><a href="tel:+2414524526">+241 452 4526</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
