<app-render-form-detail-wrapper>
  <app-render-form-detail-header>
    <app-detail-header-title>HiperPersonalização de Onboard de Clientes</app-detail-header-title>
    <app-detail-header-subtitle>Este é apenas um demonstrativo do vídeo HiperPesonalizado de Onboard de clientes.<br>
      No vídeo proposto os dados são preenchidos pelo sistema do banco, um cliente que contratou um empréstimo
      com uma motivação específica, garantias específicas e taxas personalizadas. Após a efetivação ele recebe
      este vídeo com instruções de bem vindo e onboard ao sistema bancário.
    </app-detail-header-subtitle>
  </app-render-form-detail-header>
  <app-render-wrapper>
    <app-render-form-poc #form></app-render-form-poc>
  </app-render-wrapper>

</app-render-form-detail-wrapper>

