<div id="screenshots" class="screenshots-area bg-gradient ptb-100">
    <div class="container">
        <div class="section-title white-color">
            <span class="sub-title">Screenshots</span>
            <h2>Easily Customize within <br>One Minute</h2>
        </div>
        <div class="screenshots-tabs">
            <ngx-tabset>
                <ngx-tab tabTitle="Budget Overview">
                    <img src="../../../../../assets/images/screenshots/screen2.jpg" alt="screenshots">
                </ngx-tab>
                <ngx-tab tabTitle="Create & Adjust">
                    <img src="../../../../../assets/images/screenshots/screen1.jpg" alt="screenshots">
                </ngx-tab>
                <ngx-tab tabTitle="View Reports">
                    <img src="../../../../../assets/images/screenshots/screen3.jpg" alt="screenshots">
                </ngx-tab>
                <ngx-tab tabTitle="Integrations">
                    <img src="../../../../../assets/images/screenshots/screen4.jpg" alt="screenshots">
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>
