<div class="features-area pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Como vamos te ajudar!</span>
            <h2>Ajudamos a entregar uma parte do processo que você faz a gerencia.</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="software-single-help-desk-box">
                    <div class="icon">
                        <img src="../../../../../assets/images/icon/icon7.png" alt="icon">
                    </div>
                    <h3>Gestão</h3>
                    <p>A Agência trabalha na gestão do projeto, focando mais na sua especialidade,
                      usar o vídeo como solução.</p>
                    <a class="link-btn" routerLink="/services-details">
                        Learn More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="software-single-help-desk-box">
                    <div class="icon">
                        <img src="../../../../../assets/images/icon/icon8.png" alt="icon">
                    </div>
                    <h3>Prazos</h3>
                    <p>É incrível, mas você perceberá que na Putz os prazos são cumpridos devido ao nosso processo de controle.</p>
                    <a class="link-btn" routerLink="/services-details">
                        Learn More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="software-single-help-desk-box">
                    <div class="icon">
                        <img src="../../../../../assets/images/icon/icon9.png" alt="icon">
                    </div>
                    <h3>Gestão de Times</h3>
                    <p>Nosso ecossitemas tem Pessoas (Freelancers) em todos território nacional, rankiados e com tecnologias
                      para escolher a pessoa certa para o projeto certo na etapa certa.</p>
                    <a class="link-btn" routerLink="/services-details">
                        Learn More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="software-single-help-desk-box">
                    <div class="icon">
                        <img src="../../../../../assets/images/icon/icon10.png" alt="icon">
                    </div>
                    <h3>Acesso Controlado</h3>
                    <p>Nosso ambiente é seguro e controlado. Cada participante tem acesso ao material
                      necessário e faz as entregas diretamente na plataforma.</p>
                    <a class="link-btn" routerLink="/services-details">
                        Learn More <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
