.software-single-help-desk-box {
	margin-bottom: 30px;
    padding-right: 15px;

	.icon {
		margin-bottom: 27px;
	}
	h3 {
		font-size: 25px;
		margin-bottom: 10px;
	}
	.link-btn {
        font-weight: 500;
		position: relative;
		padding-right: 10px;
		display: inline-block;
		color: var(--primaryColor);
        
		i {
			transform: translateY(-50%);
			position: absolute;
			right: -5px;
			top: 50%;
		}
		&:hover {
			color: var(--blackColor);
			padding-right: 20px;
		}
	}
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .software-single-help-desk-box {
        padding-right: 0;
        text-align: center;
    
        .icon {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 21px;
            margin-bottom: 8px;
        }
        p {
            margin-bottom: 12px;
        }
        .link-btn {
            padding-right: 6px;
            
            &:hover {
                padding-right: 10px;
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .software-single-help-desk-box {
        padding-right: 0;
    
        .icon {
            margin-bottom: 20px;
        }
        h3 {
            font-size: 23px;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 12px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .software-single-help-desk-box {
        padding-right: 0;
    
        .icon {
            margin-bottom: 23px;
        }
        h3 {
            font-size: 24px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}