<form [formGroup]="uploadForm">
  <div class="row mt-3">
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">País</label>

      <select size="large" formControlName="country"  class="form-control">
        <option *ngFor="let countryCode of countryCodes"
                [value]="countryCode.dial_code">{{countryCode.name}}</option>
      </select>

      <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
          {{ uploadForm.get('country')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">
        <!--        <nb-icon nbPrefix icon="phone-call-outline" status="success"></nb-icon>-->
        Whatsapp <span class="text-danger">
        *
      </span></label>

      <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control"
             [mask]="countryMasks[selectedCountry.code]" *ngIf="countryMasks[selectedCountry.code]">
      <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control" *ngIf="!countryMasks[selectedCountry.code]">
      <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
          {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
      <label class="label">Nome</label>

      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Nome..."
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
      />

      <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
          {{ uploadForm.get('name')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">Petisco</label>

      <select placeholder="Selecione um petisco..." formControlName="petisco" class="form-control">
        <option *ngFor="let petisco of petiscos" [value]="petisco.value">{{petisco.displayName}}</option>
      </select>

      <ng-container *ngIf="uploadForm.get('petisco')!.invalid && uploadForm.get('petisco')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('petisco')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('petisco')!.errors?.apiValidation">
          {{ uploadForm.get('petisco')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
      <label class="label">Prato Principal</label>

      <select placeholder="Selecione um prato principal..." formControlName="pratoPrincipal" class="form-control">
        <option *ngFor="let pratoPrincipal of pratosPrincipais"
                [value]="pratoPrincipal.value">{{pratoPrincipal.displayName}}</option>
      </select>

      <ng-container *ngIf="uploadForm.get('pratoPrincipal')!.invalid && uploadForm.get('pratoPrincipal')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('pratoPrincipal')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('pratoPrincipal')!.errors?.apiValidation">
          {{ uploadForm.get('pratoPrincipal')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
      <label class="label">Sobremesa</label>

      <select placeholder="Selecione uma sobremesa..." formControlName="sobremesa" class="form-control">
        <option *ngFor="let sobremesa of sobremesas"
                [value]="sobremesa.value">{{sobremesa.displayName}}</option>
      </select>

      <ng-container *ngIf="uploadForm.get('sobremesa')!.invalid && uploadForm.get('sobremesa')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('sobremesa')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('sobremesa')!.errors?.apiValidation">
          {{ uploadForm.get('sobremesa')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
      <label class="label">Alívio Cômico</label>

      <input type="text" placeholder="Alívio Cômico..." formControlName="alivioComico" class="form-control">
      <ng-container *ngIf="uploadForm.get('alivioComico')!.invalid && uploadForm.get('alivioComico')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('alivioComico')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('alivioComico')!.errors?.apiValidation">
          {{ uploadForm.get('alivioComico')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 form-group">
      <label class="label">Amigos</label>
      <div class="row">
        <div class="mb-3 col-12 col-md-6">

          <input type="text" placeholder="Nome de um amigo..." [formControl]="friendInput"  class="form-control">
          <button type="button" (click)="addFriend()" class="btn btn-outline-primary my-2">
            Adicionar amigo
          </button>

          <ng-container *ngIf="friendInput.invalid && friendInput.touched">
            <small class="text-danger d-block" *ngIf="friendInput.errors?.required">
              Campo obrigatório
            </small>
            <small class="text-danger d-block" *ngIf="friendInput.errors?.apiValidation">
              {{ friendInput.errors?.apiValidation}}
            </small>
          </ng-container>
        </div>
        <div class="mb-3 col-12 col-md-6 overflow-auto friends-list">
          <ng-container *ngIf="uploadForm.get('amigos')?.value?.size > 0">
            <div *ngFor="let friend of uploadForm.get('amigos')?.value; let i = index">
              <div>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column">
                    <span class="header-title poppins">{{i + 1}}º Amigo</span> <h6
                    class="fw-bold poppins"> {{friend | empty}}</h6>
                  </div>
                  <div>
                    <button nbButton size="medium" (click)="removeFriend(friend)" class="btn btn-outline-primary">
                      <!--                      <nb-icon icon="trash-outline"></nb-icon>-->
                      excluir
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="!uploadForm.get('amigos')?.value || uploadForm.get('amigos')?.value?.size === 0">
            <div class="text-center">
              <small>Nenhum amigo foi adicionado</small>
            </div>
          </ng-container>
        </div>
      </div>

    </div>
  </div>
</form>
