<div id="team" class="bc-team-area bg-fcfbfb pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR TEAM</span>
            <h2>Our Professionals Expert</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bc-team-box">
                    <div class="image">
                        <img src="../../../../../assets/images/business-consulting/team-img1.jpg" alt="image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Jerome Le Luel</h3>
                        <span>Business Consultant</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bc-team-box">
                    <div class="image">
                        <img src="../../../../../assets/images/business-consulting/team-img2.jpg" alt="image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Mary K. Austin</h3>
                        <span>Law Consultant</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bc-team-box">
                    <div class="image">
                        <img src="../../../../../assets/images/business-consulting/team-img3.jpg" alt="image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Douglas Burgess</h3>
                        <span>Lead Consultant</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="bc-team-box">
                    <div class="image">
                        <img src="../../../../../assets/images/business-consulting/team-img4.jpg" alt="image">
                        <ul class="social">
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Christopher Lindsey</h3>
                        <span>Finance Consultant</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
