<div class="pp-partner-area ptb-100">
    <div class="container">
        <div class="section-title style-two">
            <h2>My Best Clients</h2>
        </div>
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/partners/partner2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/partners/partner9.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/partners/partner2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/partners/partner7.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/partners/partner6.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/partners/partner1.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
