<div id="about" class="overview-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="overview-image">
                    <img src="../../../../../assets/images/services/it-service2.png" alt="service-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="overview-content">
                    <h2>We Are a Startup Agency</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                    <ul class="features-list">
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Responsive Design
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Mobile App Development
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                React Web Development
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                UI / UX Design
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Laravel Web Development
                            </span>
                        </li>
                        <li>
                            <span>
                                <i class="fa-solid fa-circle-check"></i>
                                Angular Web Development
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
