.cs-banner-section {
    z-index: 1;
    position: relative;
    background-color: #161618;
    padding: {
        top: 190px;
        bottom: 100px;
    };
    &::before {
        top: 0;
        right: 0;
        content: "";
        z-index: -1;
        width: 370px;
        height: 100%;
        position: absolute;
        background-color: #1f1f22;
    }
}
.cs-banner-content {
    .sub-title {
        color: var(--whiteColor);
        margin-bottom: 20px;
        display: block;
    }
    h1 {
        line-height: 1;
        font-size: 70px;
        margin-bottom: 20px;
        color: var(--whiteColor);
    }
    p {
        color: var(--whiteColor);
    }
    .default-btn-two {
        margin-top: 15px;
    }
}
.cs-lock {
    top: 20%;
    left: 50%;
    z-index: -1;
    position: absolute;
    transform: translateY(-10%) translateX(-50%);
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .cs-banner-section {
        padding: {
            top: 130px;
            bottom: 60px;
        };
        &::before {
            display: none;
        }
    }
    .cs-banner-content {
        margin-bottom: 30px;
        text-align: center;

        .sub-title {
            margin-bottom: 12px;
            font-size: 14px;
        }
        h1 {
            font-size: 35px;
            margin-bottom: 12px;
        }
        p {
            color: var(--whiteColor);
        }
        .default-btn-two {
            margin-top: 5px;
        }
    }
    .cs-lock {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .cs-banner-section {
        padding: {
            top: 150px;
            bottom: 80px;
        };
        &::before {
            display: none;
        }
    }
    .cs-banner-content {
        text-align: center;
        margin-bottom: 30px;
        
        .sub-title {
            margin-bottom: 12px;
            font-size: 15px;
        }
        h1 {
            font-size: 45px;
            margin-bottom: 10px;
        }
        p {
            font-size: 15px;
            max-width: 540px;
            margin: {
                left: auto;
                right: auto;
            };
        }
        .default-btn-two {
            margin-top: 8px;
        }
    }
    .cs-lock {
        display: none;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .cs-banner-section {
        padding: {
            top: 200px;
            bottom: 100px;
        };
    }
    .cs-banner-content {
        .sub-title {
            font-size: 16px;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 15px;
        }
        .default-btn-two {
            margin-top: 10px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .cs-banner-content {
        h1 {
            font-size: 60px;
        }
        p {
            font-size: 15px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}