<div class="cs-banner-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="cs-banner-content">
                    <span class="sub-title">No #1 Cyber Security Company Of The World</span>
                    <h1>We Provide The Best Cyber Security</h1>
                    <p>Cybersecurity is the protection from the theft to protect of our computer systems and networks or being damaged of our hardware, software and more.</p>
                    <button (click)="onClick('contact')" class="default-btn-two">
                        Contact Us <i class="fa-solid fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="cs-banner-image">
                    <img src="../../../../../assets/images/cyber-security/banner/main.png" alt="image">
                </div>
            </div>
        </div>
    </div>
    <div class="cs-lock">
        <img src="../../../../../assets/images/cyber-security/banner/lock.png" alt="image">
    </div>
</div>
