<form [formGroup]="uploadForm">

  <div class="row mt-3">
    <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
      <label class="label">Creditas Id</label>

      <input type="text" placeholder="Creditas Id" formControlName="id" class="form-control">

      <ng-container *ngIf="uploadForm.get('id')!.invalid && uploadForm.get('id')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('id')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
      <label class="label">Nome</label>

      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        formControlName="name"
        placeholder="Nome..."
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
      />

      <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
          {{ uploadForm.get('name')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-4 form-group">
      <label class="label">Email</label>

      <input

        class="form-control"
        type="text"
        formControlName="email"
        placeholder="Digite o email...">

      <ng-container *ngIf="uploadForm.get('email')!.invalid && uploadForm.get('email')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('email')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">Produto</label>

      <select placeholder="Selecione um produto..." formControlName="produto" class="form-control">
        <option [value]="produto" *ngFor="let produto of produtos">{{produto}}</option>
      </select>

      <ng-container *ngIf="uploadForm.get('produto')!.invalid && uploadForm.get('produto')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('produto')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">País</label>

      <select formControlName="country" class="form-control">
        <option *ngFor="let countryCode of countryCodes"
                [value]="countryCode.dial_code">{{countryCode.name}}</option>
      </select>

      <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
          {{ uploadForm.get('country')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">
        Whatsapp <span class="text-danger">
        *
      </span></label>

      <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control"
             [mask]="countryMasks[selectedCountry.code]" *ngIf="countryMasks[selectedCountry.code]">
      <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control" *ngIf="!countryMasks[selectedCountry.code]">

      <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
          {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">Data de vencimento</label>

      <input formControlName="data_venc" placeholder="Data de vencimento..." type="datetime-local" class="form-control">

      <ng-container *ngIf="uploadForm.get('data_venc')!.invalid && uploadForm.get('data_venc')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('data_venc')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">Empréstimo</label>
      <input type="text" placeholder="Valor do empréstimo ($)" formControlName="valor_empr" class="form-control"
             currencyMask [options]="{ align :'left',prefix: '', thousands: '.', decimal: ',' }">

      <ng-container *ngIf="uploadForm.get('valor_empr')!.invalid && uploadForm.get('valor_empr')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('valor_empr')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Taxa</label>

      <input type="text" placeholder="Taxa de Juros ($)" formControlName="taxa_juros" class="form-control"
             currencyMask [options]="{ align :'left',prefix: '', thousands: '.', decimal: ',' }">

      <ng-container *ngIf="uploadForm.get('taxa_juros')!.invalid && uploadForm.get('taxa_juros')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('taxa_juros')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">Parcela</label>
      <input type="text" placeholder="Valor da parcela ($)" formControlName="valor_parc" class="form-control"
             currencyMask [options]="{ align :'left',prefix: '', thousands: '.', decimal: ',' }">

      <ng-container *ngIf="uploadForm.get('valor_parc')!.invalid && uploadForm.get('valor_parc')!.touched">
        <p class="text-danger" *ngIf="uploadForm.get('valor_parc')!.errors?.required">
          Campo obrigatório
        </p>
      </ng-container>
    </div>
  </div>
</form>
