<div id="faq" class="faq-area pt-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">FAQ</span>
            <h2>Dúvidas Frequêntes</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="app-faq-image">
                    <img src="../../../../../assets/images/app/faq-app.jpg" alt="faq-mage">
                    <a class="link-btn" href="https://wa.me/553131810704">Tem outras Dúvidas?</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-faq-accordion">
                    <accordion>
                        <accordion-group heading="O que é um Putz Smart Video?" [isOpened]="true">
                          <p>Todos nós temos um pouco de preguiça de ler informação textual,
                            e mantemos nossa atenção em conteúdos audio visuais.</p>
                          <p>Hoje a informação textual é viva e os vídeos são estáticos
                            no sentido que é uma informação genérica para todos os usuários.</p>
                          <p>Um Putz Smart Vídeo é um vídeo contextualizado com informações
                            personalizadas para o usuário. cada vídeo é único</p>
                        </accordion-group>
                        <accordion-group heading="O que pode ser personalizado?">
                            <p>Na Criatividade o céu é o limite. Mas podemos personalizar locuções,
                              roteiros, atores tudo dentro de um vídeo, até falar o nome do cliente.</p>
                        </accordion-group>
                        <accordion-group heading="Como os vídeos são entregues?">
                          <p>A Putz é uma empresa de tecnologia mas há duas formas principais de
                            relacionamento com nosso clientes.</p>
                          <p>Entrega direta onde nós entregamos os vídeos aos clientes,
                            geralmente por um bot de Whatsapp.</p>
                          <p>Por APIs de comunicação onde a empresa solicita o vídeo e
                            entregamos ele diretamente no sistema do nosso cliente.</p>
                        </accordion-group>
                        <accordion-group heading="Como posso contratar?">
                            <p>Estamos ao seu dispor e a Putz tem todo o prazer de atendemos a todo o brasil
                              e mundo. Entre em contato conosco que vamos explicar tudo.</p>
                        </accordion-group>
                        <accordion-group heading="Quanto é custa?">
                          <p>O Putz Smart Vídeo é um produto escalável e de pagamento também escalável.</p>
                          <p>Primeiro você precisa produzir um vídeo preparado para ser Smart e o preço
                            deste vídeo é bem parecido com o de uma produção normal.</p>
                          <p>Depois disso você paga por cada vídeo único que produzirmos por você em nossa
                            plataforma na núvem.</p>
                        </accordion-group>
                        <accordion-group heading="LGPD?">
                            <p>Estamos super antenados com a Lei Geral de Progração de Dados. Teremos todo
                              o prazer de explicar como funcinoa o processo e como cuidados da criptografia
                              e sigilo dos dados compartilhards.</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>
