<div class="home-slides bg-f9f9f9">
            <div class="main-banner-area" *ngIf="router.url.lastIndexOf('renderItemId') == -1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12">
                            <div class="main-banner-content">
                                <span class="sub-title">_Campanha 2022</span>
                                <h1 class="">Vamos Juntos <br>com o Lula!</h1>
                                <p>Crie seu vídeo exclusivo de apoio e faça parte do projeto para transformar o Brasil!
                                  <br>Veja abaixo como é fácil, você recebe direto no seu whatsapp.
                                  <br>Depois, é só compartilhar com sua família e amigos.!!.</p>
                                <div class="btn-box">
                                    <button (click)="onClick('render-video')" class="default-btn">
                                      Faça o seu vídeo e <br>vamos juntos com o Lula! :)
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="main-banner-image">
                                <img src="../../../../../../assets/images/forms/pt-lula/lula-pelo-brasil.png" alt="banner-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

