<div class="features-area">

    <!-- Web & Mobile Development -->
    <div class="overview-area ptb-100 bg-fcfbfb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="overview-content">
                        <h2>Web & Mobile Development</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <ul class="features-list">
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Responsive Design
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Mobile App Development
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    React Web Development
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    UI / UX Design
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Laravel Web Development
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Angular Web Development
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="overview-image">
                        <img src="../../../../../assets/images/services/it-service1.png" alt="service-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Digital Marketing -->
    <div class="overview-area ptb-100">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="overview-image">
                        <img src="../../../../../assets/images/services/it-service2.png" alt="service-image">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="overview-content">
                        <h2>Digital Marketing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <ul class="features-list">
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    SEO Marketing
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Email Marketing
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Facebook Marketing
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Data Scraping
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Social Marketing
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Youtube Marketing
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Cloud Hosting Services -->
    <div class="overview-area ptb-100 bg-fcfbfb">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="overview-content">
                        <h2>Cloud Hosting Services</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                        <ul class="features-list">
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Cloud Databases
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Email Servers
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    File Storage
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Hybrid Cloud
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Website Hosting
                                </span>
                            </li>
                            <li>
                                <span>
                                    <i class="fa-solid fa-circle-check"></i>
                                    Backup Systems
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="overview-image">
                        <img src="../../../../../assets/images/services/it-service3.png" alt="service-image">
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
