<div id="about" class="pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="app-about-image">
                    <img src="../../../../../assets/images/app/about-app.png" alt="about">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-about-content">
                    <span class="sub-title">About App</span>
                    <h2>Most Probably You Are Getting Best App Ever</h2>
                    <p>Cloud based storage for your data backup just log in with your mail account from play store and using whatever you want for your business purpose orem ipsum dummy text. Never missyour chance its just began.</p>
                    <div class="features-text">
                        <h4>Trusted and Reliable</h4>
                        <p>Most provabily best you can trust on it, just log in with your mail account from play store and using whatever you want for your.</p>
                    </div>
                    <div class="features-text">
                        <h4>Cloud Storage</h4>
                        <p>Cloud based storage for your data backup just log in with your mail account from play store and using whatever you want for your business purpose orem ipsum dummy of your business purpose.</p>
                    </div>
                    <a class="default-btn-three" href="javascript:void(0)">
                        Start Free Trial
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
