<form [formGroup]="uploadForm">
  <div class="row mt-3">
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">País</label>
      <select formControlName="country" class="form-control">
        <option *ngFor="let countryCode of countryCodes"
                [value]="countryCode.dial_code">{{countryCode.name}}</option>
      </select>
      <ng-container *ngIf="uploadForm.get('country')!.invalid && uploadForm.get('country')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('country')!.errors?.apiValidation">
          {{ uploadForm.get('country')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">
        <!--        <nb-icon nbPrefix icon="phone-call-outline" status="success"></nb-icon>-->
        Whatsapp <span class="text-danger">
        *
      </span></label>
      <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control"
             [mask]="countryMasks[selectedCountry.code]" *ngIf="countryMasks[selectedCountry.code]">
      <input type="tel" placeholder="Número de celular" formControlName="whatsapp" class="form-control" *ngIf="!countryMasks[selectedCountry.code]">
      <ng-container *ngIf="uploadForm.get('whatsapp')!.invalid && uploadForm.get('whatsapp')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('whatsapp')!.errors?.apiValidation">
          {{ uploadForm.get('whatsapp')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-3 form-group">
      <label class="label">Nome</label>
      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        formControlName="name"
        [ngbTypeahead]="search"
        (focus)="focus$.next($any($event).target.value)"
        (click)="click$.next($any($event).target.value)"
        #instance="ngbTypeahead"
      />
      <ng-container *ngIf="uploadForm.get('name')!.invalid && uploadForm.get('name')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('name')!.errors?.apiValidation">
          {{ uploadForm.get('name')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-1 form-group">
      <label class="label">UF</label>
      <select placeholder="Estado" formControlName="uf" size="large" (change)="uFChange()" class="form-control">
        <option [value]="uf" *ngFor="let uf of ufs">{{uf}}</option>
      </select>
      <ng-container *ngIf="uploadForm.get('uf')!.invalid && uploadForm.get('uf')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('uf')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('uf')!.errors?.apiValidation">
          {{ uploadForm.get('uf')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Cidade</label>
      <input class="form-control"
             nbInput
             type="text"
             formControlName="city"
             placeholder="Digite o nome de uma cidade...">

      <!--        <nb-autocomplete #auto>-->

      <!--          <nb-option *ngFor="let county of counties" [value]="county?.nome">-->
      <!--            {{ county?.nome }}-->
      <!--          </nb-option>-->

      <!--        </nb-autocomplete>-->
      <ng-container *ngIf="uploadForm.get('city')!.invalid && uploadForm.get('city')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('city')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('city')!.errors?.apiValidation">
          {{ uploadForm.get('city')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Motivo</label>
      <select placeholder="Selecione um motivo" formControlName="reason" size="large" class="form-control">
        <option [value]="'VIAGEM'">Viagem</option>
        <option [value]="'ESTUDO'">Estudo</option>
        <!--                  <nb-option [value]="lg" *ngFor="let lg of languages">{{lg}}</nb-option>-->
      </select>
      <ng-container *ngIf="uploadForm.get('reason')!.invalid && uploadForm.get('reason')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('reason')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('reason')!.errors?.apiValidation">
          {{ uploadForm.get('reason')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Garantia</label>
      <select placeholder="Selecione uma garantia" formControlName="warranty" size="large" class="form-control">
        <option [value]="'IMOVEL'">Imóvel</option>
        <option [value]="'VEICULO'">Veículo</option>
        <!--                  <nb-option [value]="lg" *ngFor="let lg of languages">{{lg}}</nb-option>-->
      </select>
      <ng-container *ngIf="uploadForm.get('warranty')!.invalid && uploadForm.get('warranty')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('warranty')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('warranty')!.errors?.apiValidation">
          {{ uploadForm.get('warranty')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Dia Pagamento</label>
      <select placeholder="Dt. Pagamento" formControlName="date" class="form-control">
        <option [value]="1">1</option>
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="15">15</option>
        <option [value]="20">20</option>
        <option [value]="25">25</option>
      </select>
      <ng-container *ngIf="uploadForm.get('date')!.invalid && uploadForm.get('date')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('date')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('date')!.errors?.apiValidation">
          {{ uploadForm.get('date')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Empréstimo</label>
      <!--        <span>R$</span>-->
      <input type="text" nbInput placeholder="Valor do empréstimo ($)" formControlName="loanValue" class="form-control">
      <ng-container *ngIf="uploadForm.get('loanValue')!.invalid && uploadForm.get('loanValue')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('loanValue')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('loanValue')!.errors?.apiValidation">
          {{ uploadForm.get('loanValue')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Taxa</label>
      <input type="text" placeholder="Taxa de Juros ($)" formControlName="rate" class="form-control">
      <ng-container *ngIf="uploadForm.get('rate')!.invalid && uploadForm.get('rate')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('rate')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('rate')!.errors?.apiValidation">
          {{ uploadForm.get('rate')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
    <div class="mb-3 col-12 col-sm-6 col-lg-2 form-group">
      <label class="label">Parcela</label>
      <!--        <span>R$</span>-->
      <input type="text" class="form-control" placeholder="Valor da parcela ($)" formControlName="portionValue">
      <ng-container *ngIf="uploadForm.get('portionValue')!.invalid && uploadForm.get('portionValue')!.touched">
        <small class="text-danger d-block" *ngIf="uploadForm.get('portionValue')!.errors?.required">
          Campo obrigatório
        </small>
        <small class="text-danger d-block" *ngIf="uploadForm.get('portionValue')!.errors?.apiValidation">
          {{ uploadForm.get('portionValue')!.errors?.apiValidation}}
        </small>
      </ng-container>
    </div>
  </div>
</form>
