<div id="portfolio" class="projects-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Recent Projects</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="../../../../../assets/images/works/work1.jpg" alt="image">
                    <div class="content">
                        <span>SEO Optimization</span>
                        <h3>
                            <a routerLink="/work-details">
                                Designing a better cinema experience
                            </a>
                        </h3>
                        <a class="default-btn" routerLink="/work-details">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="../../../../../assets/images/works/work2.jpg" alt="image">
                    <div class="content">
                        <span>Digital Marketing</span>
                        <h3>
                            <a routerLink="/work-details">
                                Building design process within teams
                            </a>
                        </h3>
                        <a class="default-btn" routerLink="/work-details">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="../../../../../assets/images/works/work3.jpg" alt="image">
                    <div class="content">
                        <span>Keyword Targeting</span>
                        <h3>
                            <a routerLink="/work-details">
                                How intercom brings play into their design process
                            </a>
                        </h3>
                        <a class="default-btn" routerLink="/work-details">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="../../../../../assets/images/works/work4.jpg" alt="image">
                    <div class="content">
                        <span>Email Marketing</span>
                        <h3>
                            <a routerLink="/work-details">
                                Stuck with to-do list, I created a new app for myself
                            </a>
                        </h3>
                        <a class="default-btn" routerLink="/work-details">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="../../../../../assets/images/works/work5.jpg" alt="image">
                    <div class="content">
                        <span>Marketing & Reporting</span>
                        <h3>
                            <a routerLink="/work-details">
                                Examples of different types of sprints
                            </a>
                        </h3>
                        <a class="default-btn" routerLink="/work-details">View Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="work-card">
                    <img src="../../../../../assets/images/works/work6.jpg" alt="image">
                    <div class="content">
                        <span>Development</span>
                        <h3>
                            <a routerLink="/work-details">
                                Redesigning the New York times app
                            </a>
                        </h3>
                        <a class="default-btn" routerLink="/work-details">View Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
