<!-- Default Navbar -->
<nav class="navbar-area navbar navbar-expand-lg bg-light" ngStickyNav
    [class.active]="classApplied" stickyClass="sticky-box-shadow"
    [ngClass]="{'color-white': this.menuService.isNavBarColorWhite}"
>
    <div class="container">
        <a class="navbar-brand" routerLink="/"
            [ngClass]="{'d-none': this.menuService.isNavbarDNone}">
            <img src="assets/images/logo.png" alt="logo">
        </a>
        <a class="navbar-brand d-none" routerLink="/"
            [ngClass]="{'d-inline-block': this.menuService.isNavbarDNone}" >
            <img src="assets/images/logo-white.png" alt="white-logo">
        </a>
        <button class="navbar-toggler" type="button" (click)="toggleClass()">
            <span class="burger-menu">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </span>
        </button>
        <div class="collapse navbar-collapse"
            [ngClass]="{'nav-center': this.menuService.isCentred}" >

            <ul class="navbar-nav ms-auto">
              <ng-template ngFor let-item [ngForOf]="this.menuService.currentMenu | async">
                <li *ngIf="item.type === 'link'" class="nav-item">
                  <a class="nav-link" [href]="item.link">{{item.name}}</a>
<!--                  <a class="nav-link" [routerLink]="item.link" [href]="item.link">{{item.name}}</a>-->
                </li>
                <li *ngIf="item.type === 'anchor'" class="nav-item">
                  <span class="nav-link" (click)="onClick(item.link)">{{item.name}}</span>
                </li>
                <li *ngIf="item.type === 'dropdown'" class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                     (mouseover)="isDropdownOpen = true" (mouseleave)="isDropdownOpen = false">{{item.name}}</a>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <ng-template ngFor let-subitem [ngForOf]="item.child">
                      <li *ngIf="subitem.type === 'divider'" class="dropdown-divider"></li>
                      <li *ngIf="subitem.type === 'anchor'" class="nav-item">
                        <span class="dropdown-item" (click)="onClick(subitem.link)">{{subitem.name}}</span>
                      </li>
                      <li *ngIf="subitem.type === 'link'" class="nav-item">
                        <a class="dropdown-item" [ngClass]="{'future': this.subitem.future}" [href]="subitem.link">{{subitem.name}}</a>
                      </li>
                    </ng-template>
                  </ul>
                </li>
              </ng-template>

            </ul>
           <div class="others-options" *ngIf="this.menuService.showLogin && !account">
                <a class="default-btn" [href]="mainUrl+'/auth/login'">Login</a>
            </div>
            <div class="others-options" *ngIf="this.menuService.showLogin">
              <div class="nav-item dropdown" *ngIf="account">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" (mouseover)="isDropdownOpen = true" (mouseleave)="isDropdownOpen = false">
                  <img src="{{account.imageUrl}}" class="rounded-circle shadow-4" style="width: 60px;"
                       alt="Avatar" />
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <a [href]="mainUrl" class="dropdown-item" target="_blank">Putz Plataform</a>
                  <a [href]="mainUrl+'/account/profile'" class="dropdown-item" target="_blank">Meu Profile</a>
                  <div class="dropdown-divider"></div>
                  <a href="#" (click)="logout(false);" class="dropdown-item">Desconectar</a>
                </div>
              </div>

            </div>
        </div>
    </div>
</nav>
