<app-render-form-detail-wrapper>
  <app-render-form-detail-header>
    <app-detail-header-title>HiperPersonalização de Onboard de Clientes</app-detail-header-title>
    <app-detail-header-subtitle>Apresentamos aqui um exemplo de vídeo HiperPesonalizado de Onboard. Geralmente um vídeo
      de
      boas vindas. Neste exemplo a Locução do nome é personalizada assim como alguns campos dentro do vídeo
    </app-detail-header-subtitle>
  </app-render-form-detail-header>
  <app-render-wrapper>
    <app-render-form-criativa #form></app-render-form-criativa>
  </app-render-wrapper>
</app-render-form-detail-wrapper>
