.margin-top--70px {
  margin-top: -70px;
}

.margin-top--15px {
  margin-top: -15px;
}

.font-size-13px {
  font-size: 13px
}

.max-width-100p {
  max-width: 100%;
}

.font-size-25px {
  font-size: 25px;
}

.psize {
  font-size: 13px;
}

.banner {
  margin: -36px;
  background-image: url("https://www.xtrafondos.com/wallpapers/mecha-kingdoms-garen-prestige-edition-4497.jpg");
  height: 350px;
  background-position: top;
  background-size: cover;
}

.img-profile {
  background-image: url("https://api.putzfilmes.com/static/avatars/member_1_head-256.png");
  width: 120px;
  height: 120px;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.btn-badge {
  position: absolute;
  top: 0;
  right: 140px;
}
