<div class="short-brief-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="short-brief-content">
                    <div class="section-title style-two">
                        <h2>My Education</h2>
                    </div>
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">Stanford University - <span>2003</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Computer Science</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">Harvard University - <span>2005</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Bachelor's Degree</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">Stanford University - <span>2007</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Computer Programming</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="short-brief-content">
                    <div class="section-title style-two">
                        <h2>My Experience</h2>
                    </div>
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">EnvyTheme - <span>2017 - Present</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Graphics Designer</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">ThemeForest - <span>2015 - 2017</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>UX/UI Designer</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut.</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-info">
                                <span class="sub-title">PutzFilmes - <span>2014</span></span>
                            </div>
                            <div class="timeline-marker"></div>
                            <div class="timeline-content">
                                <h3>Jonior Web Developer</h3>
                                <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Donec orci lectus, aliquam ut.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
