.short-brief-area {
    border-bottom: 1px solid #f0f0f0;
}
.short-brief-content {
    margin-bottom: 30px;
    
    .timeline {
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
    }
    .timeline-item {
        padding-left: 40px;
        position: relative;

        &:last-child {
            .timeline-content {
                padding-bottom: 0;
            }
        }
        &:not(.period):hover {
            .timeline-marker {
                &::before {
                    background: transparent;
                    border: 3px solid var(--blackColor);
                }
            }
        }
    }
    .timeline-marker {
        position: absolute;
        width: 15px;
        bottom: 0;
        top: 0;
        left: 0;

        &::before {
            transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
            background: var(--blackColor);
            border: 3px solid transparent;
            border-radius: 100%;
            position: absolute;
            display: block;
            height: 15px;
            width: 15px;
            content: "";
            top: 4px;
            left: 0;
        }
        &::after {
            background: #eeeeee;
            position: absolute;
            display: block;
            content: "";
            top: 24px;
            bottom: 0;
            left: 6px;
            width: 3px;
        }
    }
    .timeline-content {
        padding-bottom: 30px;

        h3 {
            font-size: 24px;
            margin-bottom: 12px;
        }
    }
    .timeline-info {
        .sub-title {
            color: var(--optionalColor);
            margin-bottom: 12px;
            display: block;

            span {
                display: inline-block;
                color: var(--blackColor);
                font: {
                    size: 18px;
                    weight: 700;
                };
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .short-brief-content {
        .timeline-item {
            padding-left: 30px;
        }
        .timeline-content {
            padding-bottom: 15px;
    
            h3 {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        .timeline-info {
            .sub-title {
                span {
                    font-size: 14px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .short-brief-content {
        .timeline-item {
            padding-left: 30px;
        }
        .timeline-content {
            h3 {
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
        .timeline-info {
            .sub-title {
                span {
                    font-size: 16px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}