<div class="saas-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="saas-banner-content">
                    <h1>Putz is Most Powerful SaaS Solution</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <button (click)="onClick('contact')" class="default-btn">
                        Get Started
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="saas-banner-image">
                    <img src="../../../../../assets/images/saas-startup/saas-banner.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
