<div id="about" class="marketing-about-area pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="marketing-about-image">
                    <img src="../../../../../assets/images/digital-marketing/about-img.png" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="marketing-about-content">
                    <span class="sub-title">About Us</span>
                    <h2>We offer the World's Best <b>Digital Marketing</b> Services!</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>Global Reach</h3>
                                <p>Lorem ipsum dolor sit amet, constetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>Excellence Track Record</h3>
                                <p>Lorem ipsum dolor sit amet, constetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>High-End Anaylizing</h3>
                                <p>Lorem ipsum dolor sit amet, constetur adipiscing elit.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="box">
                                <i class="fa-solid fa-check"></i>
                                <h3>Our Dedicated Support</h3>
                                <p>Lorem ipsum dolor sit amet, constetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
