<div id="feedback" class="feedback-area ptb-100">
    <div class="container">
        <div class="feedback-list">
            <div class="quotes-icon" *ngIf="showQuotesIcon">
              <img src="../../../../../assets/images/left-quote-white.png" alt="icon">
            </div>
            <div class="feedback-slides">
              <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide *ngFor="let item of feedbacks;">
                  <div class="rating" *ngIf="showRating">
                    <i *ngFor="let in of [].constructor(item.star);" class="fa-solid fa-star"></i>
                  </div>
                  <div class="single-feedback-box">
                    <p>{{item.msg}}</p>
                    <div class="bar" *ngIf="showBar"></div>
                    <h3>{{item.name}}</h3>
                    <span>{{item.company}}</span>
                  </div>
                </ng-template>
              </owl-carousel-o>
            </div>
        </div>
    </div>
  <div class="client-image-box">
    <img *ngFor="let item of feedbacks; index as i" src="{{item.img}}" class="client{{i+1}}" alt="{{item.name}}"/>
    <img src="../../../../../assets/images/clients/client4.png" class="client4" alt="client">
    <img src="../../../../../assets/images/clients/client5.png" class="client5" alt="client">
    <img src="../../../../../assets/images/clients/client6.png" class="client6" alt="client">
    <img src="../../../../../assets/images/clients/client7.png" class="client7" alt="client">
    <img src="../../../../../assets/images/clients/client8.png" class="client8" alt="client">
  </div>
</div>
