<div id="faq" class="faq-area pt-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">FAQ</span>
            <h2>Frequently Asked Question</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="app-faq-image">
                    <img src="../../../../../assets/images/app/faq-app.jpg" alt="faq-mage">
                    <a class="link-btn" href="mailto:contato@putzfilmes.com">Have you any question?</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-faq-accordion">
                    <accordion>
                        <accordion-group heading="How many team members can I invite?" [isOpened]="true">
                            <p>Lorem Ipsum is simply dummy text of the printing and <strong>typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </accordion-group>
                        <accordion-group heading="What is the maximum file upload size?">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </accordion-group>
                        <accordion-group heading="How do I reset my password?">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </accordion-group>
                        <accordion-group heading="Can I cancel my subscription?">
                            <p>Lorem Ipsum is simply dummy text of the printing and <strong>typesetting</strong> industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </accordion-group>
                        <accordion-group heading="Can I pay via an invoice?">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </accordion-group>
                        <accordion-group heading="Can I cancel my subscription?">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type.</p>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>
    </div>
</div>
