<div class="cs-fun-facts-area pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="cs-single-fun-facts">
                    <div class="number">01.</div>
                    <h3>2250<span class="sign-icon">+</span></h3>
                    <p>Cybersecurity Projects</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="cs-single-fun-facts">
                    <div class="number">02.</div>
                    <h3>15000<span class="sign-icon">+</span></h3>
                    <p>All Time Clients</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="cs-single-fun-facts">
                    <div class="number">03.</div>
                    <h3>160<span class="sign-icon">+</span></h3>
                    <p>Attacks Blocked</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-3 col-6">
                <div class="cs-single-fun-facts">
                    <div class="number">04.</div>
                    <h3>80<span class="sign-icon">+</span></h3>
                    <p>Experts Team</p>
                </div>
            </div>
        </div>
    </div>
</div>