<app-render-form-detail-wrapper>
  <app-render-form-detail-header>
    <app-detail-header-title>Putz SmartVideos - Demonstração</app-detail-header-title>
    <app-detail-header-subtitle>Este é o ambiente de testes da PutzFilmes e apresentamos abaixo uma forma
      de testar as capacidades dos nossos Smart Vídeos.
      Neste exemplo vamos apresentar um vídeo produzido com inspiração na Campanha Eleitoral Lula 2022
    </app-detail-header-subtitle>
  </app-render-form-detail-header>
  <app-render-wrapper>
    <app-render-form-voto-lula #form></app-render-form-voto-lula>
  </app-render-wrapper>
</app-render-form-detail-wrapper>
