<div class="app-download-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="app-download-image">
                    <img src="../../../../../assets/images/app-download.png" alt="app-download">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="app-download-content">
                    <span class="sub-title">Download App</span>
                    <h2>Let's get your free copy from Apple and Play store</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="btn-box">
                        <a href="#" class="playstore-btn" target="_blank">
                            <div class="img">
                                <img src="../../../../../assets/images/play-store.png" alt="image">
                            </div>
                            Get It On
                            <span>Google Play</span>
                        </a>
                        <a href="#" class="applestore-btn" target="_blank">
                            <div class="img">
                                <img src="../../../../../assets/images/apple-store.png" alt="image">
                            </div>
                            Download on the
                            <span>Apple Store</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
