<div class="software-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="software-banner-content">
                    <span class="sub-title">Get your 14 days free trail!</span>
                    <h1>Manage All of Your Office Stuff Using Putz</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id tincidunt eifend odio viverra diam aliquet donec again.</p>
                    <button (click)="onClick('contact')" class="default-btn-two">
                        Get Started Now <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="software-banner-image">
                    <img src="../../../../../assets/images/banner/banner-img.png" alt="banner-image">
                </div>
            </div>
        </div>
    </div>
</div>
