<div id="services" class="software-overview-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="software-overview-box">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 overview-image">
                    <img src="../../../../../assets/images/overview1.png" alt="overview-image">
                </div>
                <div class="col-lg-6 col-md-12 overview-content">
                    <span class="sub-title">Gestão com Tecnologia</span>
                    <h2>Novos tempos com trabalho e gestão distribuída</h2>
                    <ul class="overview-list">
                        <li><span><i class="fa-solid fa-check"></i> Um Ecossitema Integrado</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Processos Específicos</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Qualidade em Evidência</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Uma Putz Experiência</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="software-overview-box">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 overview-content">
                    <span class="sub-title">Integração de Times</span>
                    <h2>Uma solução simples para uma grande solução</h2>
                    <ul class="overview-list">
                        <li><span><i class="fa-solid fa-check"></i> Freelas Especializados</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Controle de Qualidade</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Análise por etapa</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Gestão de Equipe</span></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 overview-image">
                    <img src="../../../../../assets/images/overview2.png" alt="overview-image">
                </div>
            </div>
        </div>
    </div>
</div>
