<div class="banner-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-content">
                    <h1>Creative Solutions to Improve Your Business!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button (click)="onClick('contact')" class="default-btn">
                        Get Started
                    </button>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-image">
                    <img src="../../../../../assets/images/banner/animate-banner-img1.jpg" alt="Animate image">
                </div>
            </div>
        </div>
    </div>
</div>
