<div id="pricing" class="pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Choose A Plan</span>
            <h2>Our Pricing Plans</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="dm-pricing-box">
                    <div class="pricing-header">
                        <h3>
                            $19
                            <span>/month</span>
                        </h3>
                        <span class="sub-title">Starter</span>
                    </div>
                    <ul class="features-list">
                        <li><i class="fas fa-check"></i> Get a Free Account</li>
                        <li><i class="fas fa-check"></i> Own Analytics Platform</li>
                        <li><i class="fas fa-check"></i> Chat Support</li>
                        <li><i class="fas fa-times close"></i> Optimize Hashtags</li>
                        <li><i class="fas fa-times close"></i> Account Manager</li>
                    </ul>
                    <a class="default-btn-two" href="#">
                        Purchase Now <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="dm-pricing-box">
                    <div class="pricing-header">
                        <h3>
                            $29
                            <span>/month</span>
                        </h3>
                        <span class="sub-title">Professional</span>
                    </div>
                    <ul class="features-list">
                        <li><i class="fas fa-check"></i> Get a Free Account</li>
                        <li><i class="fas fa-check"></i> Own Analytics Platform</li>
                        <li><i class="fas fa-check"></i> Chat Support</li>
                        <li><i class="fas fa-check"></i> Optimize Hashtags</li>
                        <li><i class="fas fa-times close"></i> Account Manager</li>
                    </ul>
                    <a class="default-btn-two" href="#">
                        Purchase Now <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="dm-pricing-box">
                    <div class="pricing-header">
                        <h3>
                            $39
                            <span>/Yearly</span>
                        </h3>
                        <span class="sub-title">Enterprise</span>
                    </div>
                    <ul class="features-list">
                        <li><i class="fas fa-check"></i> Get a Free Account</li>
                        <li><i class="fas fa-check"></i> Own Analytics Platform</li>
                        <li><i class="fas fa-check"></i> Chat Support</li>
                        <li><i class="fas fa-check"></i> Optimize Hashtags</li>
                        <li><i class="fas fa-check"></i> Account Manager</li>
                    </ul>
                    <a class="default-btn-two" href="#">
                        Purchase Now <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>