<div id="services" class="software-overview-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="software-overview-box">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 overview-image">
                    <img src="../../../../../assets/images/overview1.png" alt="overview-image">
                </div>
                <div class="col-lg-6 col-md-12 overview-content">
                    <span class="sub-title">Software Intregrations</span>
                    <h2>Your valuable helping hand will find here</h2>
                    <ul class="overview-list">
                        <li><span><i class="fa-solid fa-check"></i> Marketplace System</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Management System</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Remote System</span></li>
                        <li><span><i class="fa-solid fa-check"></i> File System</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="software-overview-box">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 overview-content">
                    <span class="sub-title">Team Intregrations</span>
                    <h2>It is an easy solution for a very large solution</h2>
                    <ul class="overview-list">
                        <li><span><i class="fa-solid fa-check"></i> Business Solution</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Management Support</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Enterprise Account</span></li>
                        <li><span><i class="fa-solid fa-check"></i> Market Analysis</span></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12 overview-image">
                    <img src="../../../../../assets/images/overview2.png" alt="overview-image">
                </div>
            </div>
        </div>
    </div>
</div>
