.cs-about-area {
    position: relative;
    overflow: hidden;
    z-index: 1;

    &::before {
        background-color: #161618;
        position: absolute;
        height: 100%;
        content: "";
        z-index: -1;
        width: 51%;
        left: 0;
        top: 0;
    }
}
.cs-about-content {
    padding-left: 35px;

    .sub-title {
        display: block;
        font-weight: 500;
        margin-bottom: 12px;
        color: var(--primaryColor);
    }
    h2 {
        color: var(--whiteColor);
        margin-bottom: 15px;
        font-size: 43px;

        span {
            display: inline-block;
            position: relative;
            z-index: 1;

            &::before {
                left: 0;
                content: "";
                height: 5px;
                width: 100%;
                z-index: -1;
                bottom: 12px;
                position: absolute;
                background: var(--gradientColor);
            }
        }
    }
    p {
        color: #cacaca;
    }
    .cs-about-card {
        margin-top: 15px;

        .icon {
            box-shadow: 0px 4px 20px rgba(26, 137, 185, 0.09);
            color: var(--whiteColor);
            background: #161618;
            margin-bottom: 25px;
            border-radius: 100%;
            line-height: 85px;
            position: relative;
            text-align: center;
            font-size: 35px;
            height: 85px;
            width: 85px;
            z-index: 1;

            &::before {
                top: 0;
                left: 0;
                right: 0;
                opacity: 0;
                content: "";
                width: 100%;
                z-index: -1;
                height: 100%;
                position: absolute;
                visibility: hidden;
                border-radius: 100%;
                display: inline-block;
                transition: var(--transition);
                background: var(--gradientColor);
            }
        }
        h4 {
            font-size: 25px;
            position: relative;
            margin-bottom: 15px;
            padding-bottom: 10px;
            color: var(--whiteColor);
            
            &::before {
                background: rgba(47, 143, 232, 0.1);
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                bottom: 0;
                left: 0;
            }
            &::after {
                background: var(--primaryColor);
                position: absolute;
                width: 115px;
                content: "";
                height: 1px;
                bottom: 0;
                left: 0;
            }
        }
        &:hover {
            .icon {
                &::before {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .default-btn-two {
        margin-top: 30px;
    }
}
.cs-about-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .cs-about-area {
        &::before {
            width: 100%;
        }
    }
    .cs-about-content {
        padding-left: 0;

        h2 {
            font-size: 30px;
            margin-bottom: 10px;

            span {
                display: unset;
    
                &::before {
                    display: none;
                }
            }
        }
        .cs-about-card {
            margin: {
                top: 0;
                bottom: 25px;
            };
            .icon {
                background: #2c2c30;
                margin-bottom: 18px;
                line-height: 60px;
                font-size: 30px;
                height: 60px;
                width: 60px;
            }
            h4 {
                font-size: 20px;
            }
        }
        .default-btn-two {
            margin-top: 0;
        }
    }
    .cs-about-image {
        margin-bottom: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .cs-about-area {
        &::before {
            width: 100%;
        }
    }
    .cs-about-content {
        padding-left: 0;

        h2 {
            font-size: 37px;
            margin-bottom: 12px;
        }
        .cs-about-card {
            margin: {
                top: 5px;
                bottom: 25px;
            };
            .icon {
                background: #2c2c30;
                margin-bottom: 20px;
                line-height: 75px;
                font-size: 30px;
                height: 75px;
                width: 75px;
            }
            h4 {
                font-size: 23px;
            }
        }
        .default-btn-two {
            margin-top: 0;
        }
    }
    .cs-about-image {
        margin-bottom: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .cs-about-area {
        &::before {
            width: 38%;
        }
    }
    .cs-about-content {
        padding-left: 0;
    
        h2 {
            font-size: 40px;
        }
        .cs-about-card {
            margin-top: 15px;
    
            .icon {
                margin-bottom: 22px;
                line-height: 75px;
                font-size: 30px;
                height: 75px;
                width: 75px;
            }
            h4 {
                font-size: 22px;
            }
        }
        .default-btn-two {
            margin-top: 20px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}