<div class="hero-banner">
    <div class="video-background">
        <video autoplay loop src="../../../../../assets/video/promo-video.mp4"></video>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-9">
                        <div class="hero-banner-content">
                            <h1>Bem vindo à Revolução do AudioVisual!</h1>
                            <p>Buscamos oferecer um ecossitema vantajoso para clientes (B2B) que buscam solucionar
                              o gap entre a gestão do processo de execução de um projeto audiovisual, a produtora, e
                              o produto final, focando principalmente na tecnologia dinamica deste espaço.</p>
                            <button (click)="onClick('contact')" class="default-btn">
                                Entre em Contato
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="hero-banner-box">
                            <button type="button" class="video-btn" (click)="ngxSmartModalService.getModal('popupOne').open()">
                                <i class="fa-solid fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup">
    <ngx-smart-modal #popupOne [identifier]="'popupOne'">
        <iframe src="https://www.youtube.com/embed/xrfhWNazQ2A" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ngx-smart-modal>
</div>
