<div class="ptb-100">
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/app/partner1.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/app/partner2.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/app/partner3.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/app/partner4.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/app/partner5.png" alt="image">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item">
                        <a href="#" class="d-inline-block" target="_blank">
                            <img src="../../../../../assets/images/app/partner6.png" alt="image">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
