.bc-post-item {
    margin-bottom: 30px;
    background-color: var(--whiteColor);
    box-shadow: 3px 5px 25px 0 rgba(0, 0, 0, .1);

    .post-content {
        padding: 25px;

        .meta {
            padding-left: 0;
            margin-bottom: 13px;
            list-style-type: none;

            li {
                color: var(--optionalColor);
                display: inline-block;
                margin-right: 15px;
                position: relative;
                padding-left: 22px;
           
                i {
                    left: 0;
                    top: 2px;
                    position: absolute;
                    color: var(--primaryColor);
                }
                a {
                    color: var(--optionalColor);

                    &:hover {
                        color: var(--primaryColor);
                    }
                }
            }
        }
        h3 {
            margin-bottom: 12px;
            line-height: 1.4;
            font-size: 25px;
        }
        .link-btn {
            display: inline-block;
            padding-right: 12px;
            position: relative;

            i {
                right: 0;
                top: 7px;
                font-size: 12px;
                position: absolute;
            }
            &::before {
                right: 0;
                bottom: 0;
                width: 0%;
                height: 1px;
                content: '';
                position: absolute;
                transition: var(--transition);
                background-color: var(--primaryColor);
            }
            &:hover {
                padding-right: 15px;
                color: var(--primaryColor);
    
                &::before {
                    width: 100%;
                    right: auto;
                    left: 0;
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .bc-post-item {
        .post-content {
            padding: 20px 15px;
    
            .meta {
                li {
                    padding-left: 18px;
               
                    i {
                        top: 2.5px;
                    }
                }
            }
            h3 {
                margin-bottom: 10px;
                line-height: 1.3;
                font-size: 21px;
            }
            .link-btn {
                padding-right: 10px;
                font-size: 14px;
    
                i {
                    top: 5.5px;
                    font-size: 10px;
                }
            }
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .bc-post-item {
        .post-content {
            padding: 25px 20px;
    
            .meta {
                li {
                    padding-left: 20px;
               
                    i {
                        top: 2px;
                    }
                }
            }
            h3 {
                font-size: 23px;
            }
            .link-btn {
                i {
                    top: 5px;
                }
            }
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .bc-post-item {
        .post-content {
            padding: 20px;
    
            .meta {
                li {
                    padding-left: 20px;
                }
            }
            h3 {
                font-size: 23px;
            }
            .link-btn {
                i {
                    top: 6px;
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}