<div id="blog" class="pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">OUR BLOG</span>
            <h2>Our Latest News</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="bc-post-item">
                    <div class="post-image">
                        <a class="d-block" routerLink="/blog-details">
                            <img src="../../../../../assets/images/business-consulting/blog-img1.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="meta">
                            <li><i class="far fa-calendar-alt"></i> Jun 04, 2022</li>
                            <li><i class="far fa-user-circle"></i> Shelley Percy</li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                The Best Way to Get Consulting From Business Clients
                            </a>
                        </h3>
                        <a class="link-btn" routerLink="/blog-details">
                            Read More <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bc-post-item">
                    <div class="post-image">
                        <a class="d-block" routerLink="/blog-details">
                            <img src="../../../../../assets/images/business-consulting/blog-img2.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="meta">
                            <li><i class="far fa-calendar-alt"></i> Jun 03, 2022</li>
                            <li><i class="far fa-user-circle"></i> Shelley Percy</li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                Grow Your Counsulting Business and This Questions
                            </a>
                        </h3>
                        <a class="link-btn" routerLink="/blog-details">
                            Read More <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="bc-post-item">
                    <div class="post-image">
                        <a class="d-block" routerLink="/blog-details">
                            <img src="../../../../../assets/images/business-consulting/blog-img3.jpg" alt="image">
                        </a>
                    </div>
                    <div class="post-content">
                        <ul class="meta">
                            <li><i class="far fa-calendar-alt"></i> Jun 02, 2022</li>
                            <li><i class="far fa-user-circle"></i> Shelley Percy</li>
                        </ul>
                        <h3>
                            <a routerLink="/blog-details">
                                How to Have a Good Relation With Clients in Your Business
                            </a>
                        </h3>
                        <a class="link-btn" routerLink="/blog-details">
                            Read More <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
