<div id="portfolio" class="works-area ptb-100 bg-f9f9f9">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Works</span>
            <h2>Our Case Studies</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="case-studies-slides">
            <owl-carousel-o [options]="caseStudiesSlides">
                <ng-template carouselSlide>
                    <div class="single-works-box bg1">
                        <div class="content">
                            <span><a routerLink="/projects-details">Web Design</a></span>
                            <h3><a routerLink="/projects-details">Designing a better cinema experience</a></h3>
                        </div>
                        <a class="default-btn" routerLink="/projects-details">View Details</a>
                        <div class="shape">
                            <img src="../../../../../assets/images/works/works-shape1.png" alt="logo">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-works-box bg2">
                        <div class="content">
                            <span><a routerLink="/projects-details">Development</a></span>
                            <h3><a routerLink="/projects-details">Building design process within teams</a></h3>
                        </div>
                        <a class="default-btn" routerLink="/projects-details">View Details</a>
                        <div class="shape">
                            <img src="../../../../../assets/images/works/works-shape2.png" alt="logo">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-works-box bg3">
                        <div class="content">
                            <span><a routerLink="/projects-details">Web Development</a></span>
                            <h3><a routerLink="/projects-details">How intercom brings play into their design process</a></h3>
                        </div>
                        <a class="default-btn" routerLink="/projects-details">View Details</a>
                        <div class="shape">
                            <img src="../../../../../assets/images/works/works-shape3.png" alt="logo">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-works-box bg4">
                        <div class="content">
                            <span><a routerLink="/projects-details">React Development</a></span>
                            <h3><a routerLink="/projects-details">Stuck with to-do list, I created a new app for myself</a></h3>
                        </div>
                        <a class="default-btn" routerLink="/projects-details">View Details</a>
                        <div class="shape">
                            <img src="../../../../../assets/images/works/works-shape4.png" alt="logo">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-works-box bg5">
                        <div class="content">
                            <span><a routerLink="/projects-details">Angular Development</a></span>
                            <h3><a routerLink="/projects-details">Examples of different types of sprints</a></h3>
                        </div>
                        <a class="default-btn" routerLink="/projects-details">View Details</a>
                        <div class="shape">
                            <img src="../../../../../assets/images/works/works-shape5.png" alt="logo">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-works-box bg6">
                        <div class="content">
                            <span><a routerLink="/projects-details">App Development</a></span>
                            <h3><a routerLink="/projects-details">Redesigning the New York times app</a></h3>
                        </div>
                        <a class="default-btn" routerLink="/projects-details">View Details</a>
                        <div class="shape">
                            <img src="../../../../../assets/images/works/works-shape6.png" alt="logo">
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
