<div class="ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">How It Works</span>
            <h2>One Of The Three Main Categories Of SaaS Solution</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="saas-how-it-works-content white-color">
                    <ul>
                        <li>
                            <i class="icon fa-solid fa-chart-line"></i>
                            <h3>Advanced Analytics</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                        </li>
                        <li>
                            <i class="icon fa-solid fa-user-lock"></i>
                            <h3>High Scalability</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                        </li>
                        <li>
                            <i class="icon fa-solid fa-arrows-rotate"></i>
                            <h3>Automatic Updates</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="saas-how-it-works-image">
                    <img src="../../../../../assets/images/saas-startup/how-it-works.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</div>
