.md-svg svg{
  height: auto;
}
.md-svg svg{
  max-width: 100%;
}

/* SVG */

.md-svg{
  margin: 0 auto;
  /*width: 1021px;*/
  max-width: 100%;
}

@media (max-width: 768px){
  .svg-full{
    display: none !important;
  }
}

@media (min-width: 768px){
  .svg-mobile-only{
    display: none !important;
  }
}

.full-width-svg{
  width: 100% !important;
}
//.vc_hidden-xs.full-width-svg{
//  margin: 50px auto 40px;
//}

