<div class="app-main-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="content">
                    <span class="sub-title"># Get your 14 days free trail!</span>
                    <h1>The Revolutionary App That Makes Your Life Easier Than Others App</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Id tincidunt eifend odio viverra diam aliquet donec again.</p>
                    <a class="default-btn-three" href="javascript:void(0)">
                        Start Free Trial <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="image">
                    <img src="../../../../../assets/images/app/mobile-app.png" alt="banner-img">
                </div>
            </div>
        </div>
        <div class="app-banner-shape1"><img src="../../../../../assets/images/app/shape1.png" alt="image"></div>
        <div class="app-banner-shape2"><img src="../../../../../assets/images/app/shape2.png" alt="image"></div>
        <div class="app-banner-shape3"><img src="../../../../../assets/images/app/shape2.png" alt="image"></div>
        <div class="app-banner-shape4"><img src="../../../../../assets/images/app/shape3.png" alt="image"></div>
        <div class="app-banner-shape5"><img src="../../../../../assets/images/app/shape4.png" alt="image"></div>
    </div>
</div>
