.app-main-banner {
    z-index: 1;
    overflow: hidden;
    position: relative;
    padding-top: 170px;
    background: linear-gradient(44.44deg,#ed2775 7.79%,#ff7448 94.18%);

    &::before {
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
        content: '';
        height: 80px;
        position: absolute;
        background-color: var(--whiteColor);
    }
}
.content {
    padding-right: 15px;
    position: relative;
    top: -35px;

    .sub-title {
        background-color: rgba(255, 255, 255, 0.15);
        color: var(--whiteColor);
        display: inline-block;
        border-radius: 30px;
        margin-bottom: 20px;
        padding: 7px 20px;
    }
    h1 {
        color: var(--whiteColor);
        margin-bottom: 15px;
        font-size: 50px;
    }
    p {
        color: var(--whiteColor);
        max-width: 560px;
        opacity: .95;
    }
    .default-btn-three {
        margin-top: 10px;
        background: var(--whiteColor);

        &::before {
            background: var(--blackColor);
        }
        &:hover {
            color: var(--blackColor);
        }
    }
}
.image {
    text-align: center;
}
.app-banner-shape1 {
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 20%;
}
.app-banner-shape5 {
    position: absolute;
    bottom: 30%;
    z-index: -1;
    left: auto;
    right: 2%;
}
.app-banner-shape2 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 45%;
}
.app-banner-shape3 {
    position: absolute;
    bottom: 10px;
    z-index: -1;
    right: 1%;
}
.app-banner-shape4 {
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .app-main-banner {
        padding-top: 130px;
    
        &::before {
            height: 71px;
        }
    }
    .content {
        text-align: center;
        padding-right: 0;
        top: 0;
    
        .sub-title {
            padding: 6px 15px;
        }
        h1 {
            margin-bottom: 12px;
            font-size: 30px;
        }
        p {
            max-width: 100%;
        }
        .default-btn-three {
            margin-top: 5px;
        }
    }
    .image {
        margin-top: 25px;
    }
    .app-banner-shape1 {
        display: none;
    }
    .app-banner-shape5 {
        display: none;
    }
    .app-banner-shape2 {
        display: none;
    }
    .app-banner-shape3 {
        display: none;
    }
    .app-banner-shape4 {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .app-main-banner {
        padding-top: 150px;
    
        &::before {
            height: 71px;
        }
    }
    .content {
        text-align: center;
        padding-right: 0;
        top: 0;
    
        .sub-title {
            padding: 7px 15px;
        }
        h1 {
            margin-bottom: 15px;
            font-size: 40px;
        }
        p {
            max-width: 560px;
            margin: {
                left: auto;
                right: auto;
            };
        }
        .default-btn-three {
            margin-top: 5px;
        }
    }
    .image {
        margin-top: 25px;
    }
    .app-banner-shape1 {
        display: none;
    }
    .app-banner-shape5 {
        display: none;
    }
    .app-banner-shape2 {
        display: none;
    }
    .app-banner-shape3 {
        display: none;
    }
    .app-banner-shape4 {
        display: none;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .content {
        padding-right: 0;
        top: -35px;
    
        .sub-title {
            margin-bottom: 15px;
            padding: 7px 15px;
        }
        h1 {
            margin-bottom: 13px;
            font-size: 43px;
        }
        p {
            max-width: 100%;
        }
        .default-btn-three {
            margin-top: 5px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .app-banner-shape5 {
        right: 12%;
    }

}