<div class="software-partner-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 col-md-12">
                <div class="partner-title">
                    Trusted by world famous companies:
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="software-partner-item">
                            <img src="../../../../../assets/images/partners/partner13.png" alt="partner-image">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="software-partner-item">
                            <img src="../../../../../assets/images/partners/partner14.png" alt="partner-image">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="software-partner-item">
                            <img src="../../../../../assets/images/partners/partner15.png" alt="partner-image">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-6">
                        <div class="software-partner-item">
                            <img src="../../../../../assets/images/partners/partner16.png" alt="partner-image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
