<div id="pricing" class="pricing-area pt-100 pb-70 bg-fcfbfb">
    <div class="container">
        <div class="section-title">
            <h2>Choose The Pricing Plan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="pricing-tabs">
            <ngx-tabset>
                <ngx-tab tabTitle="Monthly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Basic Plan</h3>
                                </div>
                                <div class="price">
                                    <sup>$</sup>
                                    19
                                    <sub>/monthly</sub>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Web Development
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Email Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Messenger Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Mobile + Desktop Apps</li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Quick Responses
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Drag & Drop Widgets
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Visitor Notes
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Google Analytics
                                    </li>
                                </ul>
                                <div class="btn-box">
                                    <a class="default-btn" href="#">Select the plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Standard Plan</h3>
                                </div>
                                <div class="price">
                                    <sup>$</sup>
                                    29
                                    <sub>/monthly</sub>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Web Development
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Email Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Messenger Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Mobile + Desktop Apps</li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Quick Responses
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Drag & Drop Widgets
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Visitor Notes
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Google Analytics
                                    </li>
                                </ul>
                                <div class="btn-box">
                                    <a class="default-btn" href="#">Select the plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Professional Plan</h3>
                                </div>
                                <div class="price">
                                    <sup>$</sup>
                                    39
                                    <sub>/monthly</sub>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Web Development
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Email Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Messenger Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Mobile + Desktop Apps</li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Quick Responses
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Drag & Drop Widgets
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Visitor Notes
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Google Analytics
                                    </li>
                                </ul>
                                <div class="btn-box">
                                    <a class="default-btn" href="#">Select the plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Yearly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Basic Plan</h3>
                                </div>
                                <div class="price">
                                    <sup>$</sup>
                                    299
                                    <sub>/yearly</sub>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Web Development
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Email Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Messenger Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Mobile + Desktop Apps</li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Quick Responses
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Drag & Drop Widgets
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Visitor Notes
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Google Analytics
                                    </li>
                                </ul>
                                <div class="btn-box">
                                    <a class="default-btn" href="#">Select the plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Standard Plan</h3>
                                </div>
                                <div class="price">
                                    <sup>$</sup>
                                    399
                                    <sub>/yearly</sub>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Web Development
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Email Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Messenger Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Mobile + Desktop Apps</li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Quick Responses
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Drag & Drop Widgets
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Visitor Notes
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Google Analytics
                                    </li>
                                </ul>
                                <div class="btn-box">
                                    <a class="default-btn" href="#">Select the plan</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single-pricing-table">
                                <div class="pricing-header">
                                    <h3>Professional Plan</h3>
                                </div>
                                <div class="price">
                                    <sup>$</sup>
                                    499
                                    <sub>/yearly</sub>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Web Development
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Email Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Messenger Integration
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Mobile + Desktop Apps</li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Quick Responses
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Drag & Drop Widgets
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Visitor Notes
                                    </li>
                                    <li>
                                        <i class="fa-regular fa-circle-check"></i>
                                        Google Analytics
                                    </li>
                                </ul>
                                <div class="btn-box">
                                    <a class="default-btn" href="#">Select the plan</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>