.single-pricing-table {
    border-radius: 5px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    transition: var(--transition);
    background-color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;

    .pricing-header {
        padding: 22px 30px 20px;

        h3 {
            margin-bottom: 0;
            font-size: 25px;
        }
    }
    .price {
        padding: 10px 30px;
        color: var(--blackColor);
        transition: var(--transition);
        border: {
            top: 1px dashed #f4f5fe;
            bottom: 1px dashed #f4f5fe;
        };
        font: {
            size: 40px;
            weight: bold;
        };
        sup {
            top: -18px;
            font: {
                size: 18px;
                weight: 500;
            };
        }
        sub {
            bottom: 2px;
            color: #4a6f8a;
            font: {
                size: 14px;
                weight: 500;
            };
        }
    }
    .pricing-features {
        margin-bottom: 0;
        list-style-type: none;
        padding: 30px 30px 25px;

        li {
            position: relative;
            padding-left: 25px;
            margin-bottom: 13px;
            color: var(--optionalColor);

            i {
                color: var(--primaryColor);
                position: absolute;
                top: 2.5px;
                left: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-box {
        padding: {
            left: 30px;
            right: 30px;
        };
    }
    &:hover {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.07);
        transform: translateY(-10px);

        .price {
            border: {
                top-color: var(--primaryColor);
                bottom-color: var(--primaryColor);
            };
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .single-pricing-table {
        padding-bottom: 20px;
    
        .pricing-header {
            padding: 15px 20px 13px;
    
            h3 {
                font-size: 20px;
            }
        }
        .price {
            padding: 10px 20px;
            font-size: 25px;

            sup {
                top: -10px;
                font-size: 15px;
            }
            sub {
                font-size: 13px;
                bottom: 0;
            }
        }
        .pricing-features {
            padding: 20px;
    
            li {
                padding-left: 20px;

                i {
                    top: 3px;
                }
            }
        }
        .btn-box {
            padding: {
                left: 20px;
                right: 20px;
            };
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .single-pricing-table {
        .pricing-header {
            h3 {
                font-size: 23px;
            }
        }
        .price {
            font-size: 35px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}