<div class="hero-banner">
    <div class="video-background">
        <video autoplay loop src="../../../../../assets/video/promo-video.mp4"></video>
    </div>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-8 col-md-9">
                        <div class="hero-banner-content">
                            <h1>Welcome to our Video Studio!</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <button (click)="onClick('contact')" class="default-btn">
                                Contact Us
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-3">
                        <div class="hero-banner-box">
                            <button type="button" class="video-btn" (click)="ngxSmartModalService.getModal('popupOne').open()">
                                <i class="fa-solid fa-play"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Video Popup -->
<div class="video-popup">
    <ngx-smart-modal #popupOne [identifier]="'popupOne'">
        <iframe src="https://www.youtube.com/embed/xrfhWNazQ2A" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </ngx-smart-modal>
</div>
