<div class="block">
  <h1 style="color:white">Putz: Vídeos HiperPersonalizados</h1>
  <p class="hero-promo">
    A Putz Filmes apresenta um novo estágio do marketing e sua relação com seus clientes,
    os vídeos Hiper Personalizados.
    Mais que um vídeo, uma tecnologia e uma nova experiência na comunicação da sua marca e cliente
    com vídeos personalizados e feitos especialmente para ele.
    As criatividade é o limite e nós estamos aqui para mostrar como isso pode mudar seu negócio.
  </p>
  <div class="btns-wrapper">
    <a class="btn get-started" routerLink="docs">Mais Detalhes</a>
    <a class="btn" routerLink="Demo">Demonstrações</a>
  </div>
  <div class="hero-features">
    <div class="hero-feature">
      <div class="feature-key">
        40k
      </div>
      <h3 class="feature-title">
        Vídeos Gerados
      </h3>
    </div>
    <div class="hero-feature">
      <div class="feature-key">
        5
      </div>
      <h3 class="feature-title">
        Projetos Ativos
      </h3>
    </div>
    <div class="hero-feature">
      <div class="feature-key">
        6
      </div>
      <h3 class="feature-title">
        Modelos
      </h3>
    </div>
    <div class="hero-feature">
      <div class="feature-key">
        <nb-icon icon="lock"></nb-icon>
      </div>
      <h3 class="feature-title">
        LGPD
      </h3>
    </div>
  </div>
</div>
<div class="right-block">
  <div class="hero-components">
  </div>
</div>
