.service-card-one {
    border-radius: 5px;
    position: relative;
    padding: 40px 30px 30px 40px;
    transition: var(--transition);
    background-color: var(--whiteColor);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    margin: {
        bottom: 30px;
        left: 35px;
        top: 35px;
    };
    .icon {
        top: -30px;
        width: 65px;
        left: -30px;
        height: 65px;
        font-size: 28px;
        line-height: 65px;
        text-align: center;
        position: absolute;
        border-radius: 50%;
        display: inline-block;
        color: var(--whiteColor);
        background-color: #13c4a1;
        transition: var(--transition);
    }
    h3 {
        transition: var(--transition);
        margin-bottom: 12px;
        font-size: 25px;
    }
    p {
        transition: var(--transition);
    }
    &:hover {
        background-color: var(--primaryColor);

        h3, a, p {
            color: var(--whiteColor);
        }
    }
}
.col-xl-4 {
    &:nth-child(2) {
        .service-card-one {
            .icon {
                background-color: #6610f2;
            }
        }
    }
    &:nth-child(3) {
        .service-card-one {
            .icon {
                background-color: #ffb700;
            }
        }
    }
    &:nth-child(4) {
        .service-card-one {
            .icon {
                background-color: #fc3549;
            }
        }
    }
    &:nth-child(5) {
        .service-card-one {
            .icon {
                background-color: #00d280;
            }
        }
    }
    &:nth-child(6) {
        .service-card-one {
            .icon {
                background-color: #ff612f;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .service-card-one {
        padding: 15px;
        margin: {
            left: 0;
            top: 0;
        };
        .icon {
            top: 0;
            left: 0;
            width: 60px;
            height: 60px;
            font-size: 22px;
            line-height: 60px;
            position: relative;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 21px;
            margin-bottom: 6px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {

    .service-card-one {
        padding: 25px;
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .service-card-one {
        padding: 30px 15px 20px 30px;
    
        .icon {
            width: 58px;
            height: 58px;
            font-size: 25px;
            line-height: 58px;
        }
        h3 {
            font-size: 23px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .service-card-one {
        h3 {
            font-size: 23px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .service-card-one {
        padding: 40px 25px 25px 40px;
        
        h3 {
            font-size: 23px;
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}