  <div class="container mt-5 d-flex flex-column align-items-center justify-content-center" style="min-height: 70vh">
    <div class="col-md-10 col-lg-8 col-xl-6 col-xxl-4 mx-auto">
      <div class="d-flex justify-content-center">
        <button class="my-2 btn btn-outline-primary" (click)="getRenderItem()" [hidden]="loadingRenderItem">Atualizar</button>
      </div>
      <app-render-form-feedback-card *ngIf="renderItem"
                                     [isPreRegistered]="isPreRegistered"
                                     [renderId]="renderId"
                                     [renderItem]="renderItem"
                                     [renderItemId]="renderItemId"
      ></app-render-form-feedback-card>
      <ng-container *ngIf="!renderItem && !loadingRenderItem">
<!--        <app-detailed-not-found message="Renderização não encontrada"-->
<!--                                [hasCallback]="false"></app-detailed-not-found>-->
      </ng-container>
    </div>
  </div>
