.saas-video-box {
    text-align: center;
    position: relative;

    img {
        width: 100%;
    }
    .video-btn {
        top: 40%;
        border: 0;
        left: 50%;
        width: 80px;
        height: 80px;
        font-size: 30px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        display: inline-block;
        color: var(--blackColor);
        background-color: var(--whiteColor);
        transform: translateY(-40%) translateX(-50%);

        i {
            left: 0;
            right: 0;
            top: 50%;
            position: absolute;
            transform: translateY(-50%);
        }
        &::after, &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            content: '';
            display: block;
            position: absolute;
            border-radius: 50%;
            border: 1.5px solid var(--primaryColor);
        }
        &::before {
            animation: ripple 2s linear infinite
        }
        &::after {
            animation: ripple 2s linear 1s infinite
        }
    }
}
.saas-testimonials-item {
    background-color: rgba(4, 6, 17, .90);
    border: 1px solid #242532;
    padding: 30px;

    .info {
        margin-bottom: 25px;

        img {
            display: inline-block !important;
            width: 80px !important;
            border-radius: 50%;
            margin-right: 10px;
            height: 80px;
        }
        .title {
            margin-left: 10px;

            h3 {
                font-size: 25px;
                margin-bottom: 8px;
                color: var(--whiteColor);
            }
            span {
                display: block;
                font-weight: 600;
                color: var(--primaryColor);
            }
        }
    }
    p {
        color: var(--whiteColor);
    }
}
.saas-testimonials-slides {
    z-index: 1;
    position: relative;
    margin-top: -100px;
    padding: {
        left: 80px;
        right: 80px;
    };
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .saas-video-box {
        .video-btn {
            top: 50%;
            width: 55px;
            height: 55px;
            font-size: 25px;
            transform: translateY(-50%) translateX(-50%);
        }
    }
    .saas-testimonials-item {
        padding: 20px 15px;
    
        .info {
            margin-bottom: 15px;
    
            img {
                width: 60px !important;
                height: 60px;
            }
            .title {
                margin-left: 5px;

                h3 {
                    font-size: 20px;
                    margin-bottom: 6px;
                }
            }
        }
    }
    .saas-testimonials-slides {
        margin-top: 60px;
        padding: {
            left: 0;
            right: 0;
        };
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .saas-video-box {
        .video-btn {
            top: 50%;
            width: 70px;
            height: 70px;
            font-size: 28px;
            transform: translateY(-50%) translateX(-50%);
        }
    }
    .saas-testimonials-item {
        padding: 25px 20px;
    
        .info {
            margin-bottom: 18px;
    
            img {
                width: 60px !important;
                height: 60px;
            }
            .title {
                margin-left: 8px;
    
                h3 {
                    font-size: 22px;
                    margin-bottom: 5px;
                }
            }
        }
    }
    .saas-testimonials-slides {
        margin-top: 80px;
        padding: {
            left: 0;
            right: 0;
        };
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .saas-testimonials-item {
        padding: 25px;
    }
    .saas-testimonials-slides {
        margin-top: -70px;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}