<div id="services" class="services-area bg-f9f9f9 pt-100 pb-70">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Serviços</span>
      <h2>Por que Putz Smart Vídeos</h2>
      <p>Somos uma produtora audiovisual dinâmica, competitiva
        e baseada em uma forma de negócio inovadora,
        com descentralização de mão-de-obra qualificada
        por meio de freelancers, resultando em projetos
        marcantes e diferenciados.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <div class="service-card-one">
          <div class="icon bg-13c4a1">
            <i class="fa-solid fa-message"></i>
          </div>
          <h3><a routerLink="/services-details">Desempenho em escala</a></h3>
          <p>Crie milhões de vídeos personalizados em tempo real.
            Nossa tecnologia revoluciona a geração de vídeo, impactam diretamente as
            experiências do cliente e geram engajamento e conversões.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-card-one">
          <div class="icon bg-6610f2">
            <i class="fa-solid fa-laptop-code"></i>
          </div>
          <h3><a routerLink="/services-details">Qualidade cinematográfica</a></h3>
          <p>Oferecemos uma experiência imersiva e personalizada
            em qualidade cinematográfica. Elementos dinâmicos, de texto para o vídeo e audio,
            tudo aparece natural na produção do vídeo.
            Sem sobreposições, sem soluções alternativas.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-card-one">
          <div class="icon bg-ffb700">
            <i class="fa-solid fa-lightbulb"></i>
          </div>
          <h3><a routerLink="/services-details">Fácil de usar</a></h3>
          <p>Deixe-nos lidar com os detalhes ou use nossa plataforma de autoatendimento
            com sua interface intuitiva, ferramentas de automação e integrações e APIs robustas.
            Lance campanhas em dias, não meses, e acompanhe os resultados em nosso painel de análise.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-card-one">
          <div class="icon bg-fc3549">
            <i class="fa-solid fa-mobile-screen-button"></i>
          </div>
          <h3><a routerLink="/services-details">Segurança e LGPD</a></h3>
          <p>Somos certificados em segurança da informação ISO-27001 e trabalhamos regularmente com líderes em
            finanças e saúde, atendendo às mais rigorosas demandas de segurança.
            Seus dados são anonimizados, mascarados e protegidos.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-card-one">
          <div class="icon bg-00d280">
            <i class="fa-solid fa-cart-arrow-down"></i>
          </div>
          <h3><a routerLink="/services-details">Funcionalidades de vídeo ao vivo</a></h3>
          <p>Perene e em evolução, o Living Video evolui ao longo do tempo com base em dados, contexto e
            ações do espectador. Atualize seus vídeos com interatividade, feeds de dados vivos e até
            personalização do usuário diretamente do player.</p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="service-card-one">
          <div class="icon bg-ff612f">
            <i class="fa-solid fa-marker"></i>
          </div>
          <h3><a routerLink="/services-details">Marketing & Reporting</a></h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
        </div>
      </div>
    </div>
  </div>
</div>
