<div id="services" class="services-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Services</span>
            <h2>Our Services is Equipped</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-13c4a1">
                    <div class="icon">
                        <i class="fa-solid fa-message"></i>
                    </div>
                    <h3><a routerLink="/services-details">Business Consultancy</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-6610f2">
                    <div class="icon">
                        <i class="fa-solid fa-laptop-code"></i>
                    </div>
                    <h3><a routerLink="/services-details">Web Development</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-ffb700">
                    <div class="icon">
                        <i class="fa-solid fa-lightbulb"></i>
                    </div>
                    <h3><a routerLink="/services-details">Digital Marketing</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-fc3549">
                    <div class="icon">
                        <i class="fa-solid fa-mobile-screen-button"></i>
                    </div>
                    <h3><a routerLink="/services-details">Mobile App Development</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-00d280">
                    <div class="icon">
                        <i class="fa-solid fa-cart-arrow-down"></i>
                    </div>
                    <h3><a routerLink="/services-details">eCommerce Development</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="service-card-one bg-ff612f">
                    <div class="icon">
                        <i class="fa-solid fa-marker"></i>
                    </div>
                    <h3><a routerLink="/services-details">Marketing & Reporting</a></h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit tatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.</p>
                </div>
            </div>
        </div>
    </div>
</div>