.saas-pricing-box {
    background-color: #000000;
    border: 1px solid #272836;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;

    .pricing-header {
        border-bottom: 1px solid #272836;
        padding-bottom: 25px;
        margin-bottom: 25px;

        h3 {
            font-size: 25px;
            margin-bottom: 15px;
            color: var(--whiteColor);
        }
        .price {
            color: var(--whiteColor);
            margin-bottom: 12px;
            line-height: 1;
            font: {
                weight: 700;
                size: 45px;
            };
            span {
                opacity: 0.8;
                margin-left: -8px;
                display: inline-block;
                font: {
                    size: 15px;
                    weight: normal;
                };
            }
        }
    }
    .features-list {
        padding-left: 0;
        margin-bottom: 25px;
        list-style-type: none;

        li {
            color: var(--whiteColor);
            margin-bottom: 13px;

            &.unactive {
                text-decoration: line-through;
                color: #9b9dbb;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .saas-pricing-box {
        padding: 20px 15px;
    
        .pricing-header {
            padding-bottom: 20px;
            margin-bottom: 20px;
    
            h3 {
                font-size: 21px;
                margin-bottom: 15px;
            }
            .price {
                margin-bottom: 12px;
                font-size: 35px;

                span {
                    margin-left: -5px;
                    font-size: 13px;
                }
            }
        }
        .features-list {
            margin-bottom: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .saas-pricing-box {
        padding: 25px 20px;
    
        .pricing-header {
            padding-bottom: 20px;
            margin-bottom: 20px;
    
            h3 {
                font-size: 20px;
            }
            .price {
                font-size: 37px;

                span {
                    margin-left: -6px;
                    font-size: 14px;
                }
            }
        }
        .features-list {
            margin-bottom: 20px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {}