<div id="pricing" class="pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Pricing Plan</span>
            <h2>Choose Your Plan</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="pricing-tabs">
            <ngx-tabset>
                <ngx-tab tabTitle="Monthly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="saas-pricing-box">
                                <div class="pricing-header">
                                    <h3>Starter</h3>
                                    <span class="price">
                                        $29
                                        <span>/month</span>
                                    </span>
                                </div>
                                <ul class="features-list">
                                    <li>7 Days Free Trail</li>
                                    <li>App-In-Purchase</li>
                                    <li>Webmail Access</li>
                                    <li>Unlimited Attachment</li>
                                    <li>100% Safe & Secure</li>
                                    <li class="unactive">No Hidden Charges</li>
                                </ul>
                                <a href="#" class="default-btn">
                                    Choose Plan
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="saas-pricing-box">
                                <div class="pricing-header">
                                    <h3>Professional</h3>
                                    <span class="price">
                                        $39
                                        <span>/month</span>
                                    </span>
                                </div>
                                <ul class="features-list">
                                    <li>One Time Purchase</li>
                                    <li>App-In-Purchase</li>
                                    <li>Webmail Access</li>
                                    <li>Unlimited Attachment</li>
                                    <li>100% Safe & Secure</li>
                                    <li>No Hidden Charges</li>
                                </ul>
                                <a href="#" class="default-btn">
                                    Choose Plan
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="saas-pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <span class="price">
                                        $49
                                        <span>/month</span>
                                    </span>
                                </div>
                                <ul class="features-list">
                                    <li>Unlimited Purchase</li>
                                    <li>App-In-Purchase</li>
                                    <li>Webmail Access</li>
                                    <li>Unlimited Attachment</li>
                                    <li>100% Safe & Secure</li>
                                    <li>No Hidden Charges</li>
                                </ul>
                                <a href="#" class="default-btn">
                                    Choose Plan
                                </a>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
                <ngx-tab tabTitle="Yearly">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="saas-pricing-box">
                                <div class="pricing-header">
                                    <h3>Starter</h3>
                                    <span class="price">
                                        $229
                                        <span>/year</span>
                                    </span>
                                </div>
                                <ul class="features-list">
                                    <li>7 Days Free Trail</li>
                                    <li>App-In-Purchase</li>
                                    <li>Webmail Access</li>
                                    <li>Unlimited Attachment</li>
                                    <li>100% Safe & Secure</li>
                                    <li class="unactive">No Hidden Charges</li>
                                </ul>
                                <a href="#" class="default-btn">
                                    Choose Plan
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="saas-pricing-box">
                                <div class="pricing-header">
                                    <h3>Professional</h3>
                                    <span class="price">
                                        $339
                                        <span>/year</span>
                                    </span>
                                </div>
                                <ul class="features-list">
                                    <li>One Time Purchase</li>
                                    <li>App-In-Purchase</li>
                                    <li>Webmail Access</li>
                                    <li>Unlimited Attachment</li>
                                    <li>100% Safe & Secure</li>
                                    <li>No Hidden Charges</li>
                                </ul>
                                <a href="#" class="default-btn">
                                    Choose Plan
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="saas-pricing-box">
                                <div class="pricing-header">
                                    <h3>Premium</h3>
                                    <span class="price">
                                        $449
                                        <span>/year</span>
                                    </span>
                                </div>
                                <ul class="features-list">
                                    <li>Unlimited Purchase</li>
                                    <li>App-In-Purchase</li>
                                    <li>Webmail Access</li>
                                    <li>Unlimited Attachment</li>
                                    <li>100% Safe & Secure</li>
                                    <li>No Hidden Charges</li>
                                </ul>
                                <a href="#" class="default-btn">
                                    Choose Plan
                                </a>
                            </div>
                        </div>
                    </div>
                </ngx-tab>
            </ngx-tabset>
        </div>
    </div>
</div>