
<div class="card" [class.service-box]="isPreRegistered && renderItem?.renderUid">
  <div class="my-3 mx-3">
  </div>
  <div class="card-body">
    <div class="row justify-content-between align-items-center">
      <div class="col mb-1">
                <div class="mb-1" *ngIf="renderItem?.renderStatus">
                  Situação: <span class="poppins fw-bold">{{getStatus(renderItem?.renderStatus)}}</span>
        </div>
      </div>
      <div class="col text-center text-md-end"
           *ngIf="renderItem?.job && renderItem?.renderStatus  !== renderStatus.FINISHED">
        <div *ngIf="renderItem?.job?.renderProgress >=0 && renderItem?.job && renderItem?.job?.state !== 'error'">
          <p class="label m-0">Progresso do vídeo ({{renderItem?.job?.renderProgress}}%)</p>
          <p>
            <ngb-progressbar type="primary" [value]="renderItem?.job?.renderProgress??0"></ngb-progressbar>
          </p>
        </div>
      </div>
    </div>
    <ngb-alert class="mt-3" type="warning" [dismissible]="false"
               *ngIf="!isPreRegistered && (renderItem?.job === null || renderItem?.job?.state === 'error')">
      <strong>Ocorreu um erro ao obter o progresso do vídeo.</strong>
    </ngb-alert>

    <ngb-alert class="mt-3" [dismissible]="false" type="info"
               *ngIf="renderItem?.job && renderItem?.job?.state !== 'error' && !renderItem?.videoUrl">
      <strong> Em alguns minutos seu vídeo estará disponível.</strong>
    </ngb-alert>
    <ng-container *ngIf="isPreRegistered && renderItem?.renderUid">

      <h5 class="text-center">Precisamos confimar seu número de telefone!</h5>

      <ul class="features-list">
        <li><i class="fa-brands fa-whatsapp"></i> Seu Telefone: <strong>{{renderItem?.whatsapp}}</strong></li>
        <li><i class="fa fa-robot"></i> Nosso Número: <strong>{{renderItem?.renderProject?.whatsappBot}}</strong></li>

        <li><i class="fa-solid fa-clock"></i> Tempo de Esperara: <strong>+-4 minutos</strong></li>
        <li><i class="fa-solid fa-edit"></i><strong> {{renderItem?.name}}</strong></li>
      </ul>
      <div class="row">
        <div class="col-12 text-center">
          <a class="btn-blue" target="_blank"
             href={{this.getWhatsappUrl()}}>
             Clique para enviar o código {{renderItem?.renderUid | empty}}</a>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="renderItem?.job && renderItem?.job?.state !== 'error' && renderItem?.videoUrl">
      <ngb-alert class="mt-3" [dismissible]="false" type="success">
        <div class="d-flex justify-content-between align-items-center">
          <strong>O seu vídeo está pronto!</strong>
          <a class="btn btn-sm btn-primary" target="_blank"
             [href]="renderItem.videoUrl">{{renderItem?.videoUrl ? 'Download' : 'Aguardando video...'}}</a>
        </div>
      </ngb-alert>

      <div class="d-flex justify-content-center">
        <video width="100%" controls class="attachment_video">
          <source [src]="renderItem.videoUrl">
          Your browser does not support the video tag.
        </video>
      </div>
    </ng-container>
  </div>
  <div class="card-footer">
    <div class="d-flex justify-content-between align-items-center">
      <small
        class="header-title d-none d-sm-block">Início: {{renderItem?.createdDate | convert | date:'dd/MM/yyyy HH:mm:ss' | empty}}</small>
      <small
        class="header-title">Fim: {{renderItem?.endRenderDate | convert | date:'dd/MM/yyyy HH:mm:ss' | empty}}</small>
    </div>
  </div>
</div>
