<div id="about" class="why-choose-us-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-content">
                    <h2>Porque nos escolher</h2>
                    <p>Trabalhamos de forma transparente, remota e com qualidade atestado pelo nosso processo que você participa.</p>
                    <ul class="features-list">
                        <li>
                            <h3>Eleicoes</h3>
                            <p>Somos a única empresa no território nacional com soluções tecnológicas em vídeos customizados.</p>
                        </li>
                        <li>
                            <h3>Nossa História</h3>
                            <p>But I must explain to you how all this mistaken idea of denouncing pleasure.</p>
                        </li>
                        <li>
                            <h3>Nosso Objetivo</h3>
                            <p>At vero eos et accusamus et iusto  occaecati cupiditate non provident, similique sunt in.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="why-choose-us-image">
                    <img src="../../../../../assets/images/about/about-img3.jpg" alt="about-image">
                </div>
            </div>
        </div>
    </div>
</div>
